NodeRed/Helpers/DeviceFunc/CoolerFunc/coolerflow.json
[{"id":"d634b49c93972c8c","type":"group","z":"3752d27d7587c957","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f0d2d59e9fb71a11","695c16207afdcdaa","4f8602da2d439cb1","ccb808bba5fe34af","1fc079df5d0649cc","795027dc6079bbcd"],"x":1504,"y":1839,"w":642,"h":162},{"id":"f0d2d59e9fb71a11","type":"join","z":"3752d27d7587c957","g":"d634b49c93972c8c","name":"CoolerData","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1610,"y":1940,"wires":[["4f8602da2d439cb1"]]},{"id":"695c16207afdcdaa","type":"link in","z":"3752d27d7587c957","g":"d634b49c93972c8c","name":"link in 38","links":[],"x":1545,"y":1880,"wires":[["f0d2d59e9fb71a11"]]},{"id":"4f8602da2d439cb1","type":"function","z":"3752d27d7587c957","g":"d634b49c93972c8c","name":"CoolerSetup","func":"let outputs = [null, null]; // Array f체r zwei Ausg채nge\n\nlet coolerState = null;\n\n// Schleife, um den Zustand des Cooler zu finden\nfor (let i = 0; i < msg.payload.cooler.length; i++) {\n    if (msg.payload.cooler[i].entity_id.includes('cooler')) {\n        coolerState = msg.payload.cooler[i].value;\n        break;\n    }\n}\n\n// Cooler starten\nif (msg.payload.coolerSet.value === \"increased\" && coolerState === \"off\") {\n    outputs[0] = { payload: \"Start Cooler\", topic: \"Start\" };\n}\n\n// Cooler stoppen\nif (msg.payload.coolerSet.value === \"reduced\" && coolerState === \"on\") {\n    outputs[1] = { payload: \"Stop Cooler\", topic: \"Stop\" };\n}\n\n// Nichts tun\nif (msg.payload.coolerSet.value === \"unchanged\") {\n    outputs[2] = { payload: \"Cooler unver채ndert, keine Aktion erforderlich\", topic: \"Nothing\" };\n}\n\nreturn outputs; // R체ckgabe des Ausgangsarrays\n","outputs":4,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1810,"y":1940,"wires":[["ccb808bba5fe34af"],["1fc079df5d0649cc"],["795027dc6079bbcd"],[]]},{"id":"ccb808bba5fe34af","type":"link out","z":"3752d27d7587c957","g":"d634b49c93972c8c","name":"CoolerON","mode":"link","links":["cc608f4009e112e6"],"x":2005,"y":1900,"wires":[]},{"id":"1fc079df5d0649cc","type":"link out","z":"3752d27d7587c957","g":"d634b49c93972c8c","name":"CoolerOFF","mode":"link","links":["eabb7d61eeb2383f"],"x":2065,"y":1920,"wires":[]},{"id":"795027dc6079bbcd","type":"link out","z":"3752d27d7587c957","g":"d634b49c93972c8c","name":"link out 30","mode":"link","links":[],"x":2105,"y":1960,"wires":[]}]