NodeRed/Helpers/FilterFuncs/SensorSortType.json
[{"id":"0b3cb88f4a5201ce","type":"debug","z":"3752d27d7587c957","name":"VeggiLiveData","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":200,"y":60,"wires":[]},{"id":"ff0f10e0360a6aef","type":"function","z":"3752d27d7587c957","name":"Sort Sensor Types","func":"let data = msg.payload;\n\n// Arrays für verschiedene Sensortypen initialisieren\nlet wish = [];\nlet temperatures = [];\nlet humidity = [];\nlet dewpoints = [];\nlet moisture = [];\nlet pressures = [];\nlet battery = [];\nlet power = [];\nlet co2 = [];\nlet lumen = [];\nlet conductivity = [];\nlet switches = [];\nlet dutyCycleExhaust = [];\nlet vents = [];\nlet humidifier = [];\nlet dehumidifier = [];\nlet root = [];\n\n// Durchlaufe alle Schlüssel im data-Objekt und sortiere sie nach bestimmten Sensortypen\nfor (let key in data) {\n    if (data.hasOwnProperty(key)) {\n        let entity_id = key.toLowerCase();\n        let entity = { entity_id: key, value: data[key] };\n\n        // Prioritize to ensure it is captured first\n        if (entity_id.includes('wish') || entity_id.includes('avg') || entity_id.includes('target')) {\n            wish.push(entity);\n        } else if (entity_id.includes('root') || entity_id.includes('wurzel') || entity_id.includes('water')) {\n            root.push(entity);\n        }\n        // ENVIORMENT\n        else if (entity_id.includes('temperature') || entity_id.includes('tempe')) {\n            temperatures.push(entity);\n        } else if (entity_id.includes('humidity') || entity_id.includes('feuchtigkeit') || entity_id.includes('rh')) {\n            humidity.push(entity);\n        } else if (entity_id.includes('dewpoint') || entity_id.includes('dew')) {\n            dewpoints.push(entity);\n        } else if (entity_id.includes('moisture') || entity_id.includes('mois')) {\n            moisture.push(entity);\n        } else if (entity_id.includes('pressure') || entity_id.includes('press')) {\n            pressures.push(entity);\n        } else if (entity_id.includes('carbondioxide') || entity_id.includes('co2') || entity_id.includes('carbon')) {\n            co2.push(entity);\n        } else if (entity_id.includes('conductivity')) {\n            conductivity.push(entity);\n        } else if (entity_id.includes('illuminance') || entity_id.includes('light') || entity_id.includes('licht')) {\n            lumen.push(entity);\n        }\n        // Devices\n        else if (entity_id.includes('humidifier') || entity_id.includes('befeuchter')) {\n            humidifier.push(entity);\n        } else if (entity_id.includes('dehumidifier') || entity_id.includes('entfeuchter')) {\n            dehumidifier.push(entity);\n        } else if (entity_id.includes('ruckec') || entity_id.includes('airctr') || entity_id.includes('exhaust') || entity_id.includes('abluft')) {\n            dutyCycleExhaust.push(entity);\n        } else if (entity_id.includes('vent')) {\n            vents.push(entity);\n        } else if (entity_id.includes('switch')) {\n            switches.push(entity);\n        } else if (entity_id.includes('power') || entity_id.includes('energy')) {\n            power.push(entity);\n        }\n\n        // ADDONS\n        else if (entity_id.includes('battery') || entity_id.includes('batt')) {\n            battery.push(entity);\n        }\n    }\n}\n\n// Nachrichtenausgabe auf verschiedenen Outputs\nreturn [\n    // ENVIORMENT\n    { payload: wish, topic: 'Wish' },\n    { payload: temperatures, topic: 'temperature' },\n    { payload: humidity, topic: 'humidity' },\n    { payload: dewpoints, topic: 'dewpoint' },\n    { payload: moisture, topic: 'moisture' },\n    { payload: root, topic: 'roottemp' },\n    { payload: conductivity, topic: 'conductivity' },\n    { payload: pressures, topic: 'pressure' },\n    { payload: co2, topic: 'carbon_dioxide' },\n    { payload: lumen, topic: 'illuminance' },\n    // DEVICEINFO\n    { payload: battery, topic: 'battery' },\n    { payload: power, topic: 'power' },\n    // DEVICES\n    { payload: switches, topic: 'switch' },\n    { payload: vents, topic: 'Vents' },\n    { payload: dutyCycleExhaust, topic: 'Exhaust' },\n    { payload: humidifier, topic: 'humidifier' },\n    { payload: dehumidifier, topic: 'dehumidifier' }\n\n\n];\n","outputs":17,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":220,"wires":[["4699a341c0e525a1"],["d6b7596272b92fd6"],["a8d42f450f5ec3bf"],["82b3968d5e1d0b1a"],["716d0ea3761ab229"],["455ed3c6930adfe0"],["1beade2ff5ca5212"],["3b25550daaa0d938"],["628eb0efdd45d47f"],["02199cb92b1a3f32"],["85a703016b798065"],["edeead31dd6a80b8"],["8c0773acdba0ce48"],["3aa5bb36956938c6"],["724dfeb83c172e7d"],["bd65fa0bcf194b27"],["7e5df50c6683b600"]]},{"id":"d0fa75ce32c2b2ec","type":"debug","z":"3752d27d7587c957","name":"Temperatures","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":120,"wires":[]},{"id":"37a0cd0ecce69585","type":"debug","z":"3752d27d7587c957","name":"Humidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":160,"wires":[]},{"id":"b01cc8b798cf40db","type":"debug","z":"3752d27d7587c957","name":"Dewpoints","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":200,"wires":[]},{"id":"6e29c36400302613","type":"debug","z":"3752d27d7587c957","name":"Pressures","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":360,"wires":[]},{"id":"c8ac68f99c237d2c","type":"debug","z":"3752d27d7587c957","name":"Battery","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":500,"wires":[]},{"id":"c82ef6e4f9fa3159","type":"debug","z":"3752d27d7587c957","name":"Power","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":540,"wires":[]},{"id":"eb850d44242cc6c6","type":"debug","z":"3752d27d7587c957","name":"CO2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":400,"wires":[]},{"id":"3b9ddcea592dfa6c","type":"debug","z":"3752d27d7587c957","name":"Light","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":440,"wires":[]},{"id":"472539b957b3d55c","type":"debug","z":"3752d27d7587c957","name":"Switches","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":600,"wires":[]},{"id":"38cd4d82cd0fd287","type":"debug","z":"3752d27d7587c957","name":"Conductivity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":320,"wires":[]},{"id":"a0b65bcedc96a0fe","type":"debug","z":"3752d27d7587c957","name":"Moisture","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":240,"wires":[]},{"id":"fea31e55b74e768b","type":"debug","z":"3752d27d7587c957","name":"Exhasut","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":680,"wires":[]},{"id":"a02e58aa1b5be4d9","type":"debug","z":"3752d27d7587c957","name":"WISH","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":80,"wires":[]},{"id":"65ac2cfaa7ba045c","type":"debug","z":"3752d27d7587c957","name":"Humidifier","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":720,"wires":[]},{"id":"cab823730c4a70a7","type":"debug","z":"3752d27d7587c957","name":"Vents","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":640,"wires":[]},{"id":"42ff7b7243adac0b","type":"debug","z":"3752d27d7587c957","name":"RootTemp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":280,"wires":[]},{"id":"89391fcf7fa2d9dc","type":"debug","z":"3752d27d7587c957","name":"Dehumidifier","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":760,"wires":[]},{"id":"4699a341c0e525a1","type":"junction","z":"3752d27d7587c957","x":340,"y":80,"wires":[["a02e58aa1b5be4d9"]]},{"id":"d6b7596272b92fd6","type":"junction","z":"3752d27d7587c957","x":340,"y":120,"wires":[["d0fa75ce32c2b2ec","157fdad538b46545"]]},{"id":"a8d42f450f5ec3bf","type":"junction","z":"3752d27d7587c957","x":340,"y":160,"wires":[["37a0cd0ecce69585","157fdad538b46545"]]},{"id":"82b3968d5e1d0b1a","type":"junction","z":"3752d27d7587c957","x":340,"y":200,"wires":[["b01cc8b798cf40db"]]},{"id":"716d0ea3761ab229","type":"junction","z":"3752d27d7587c957","x":340,"y":240,"wires":[["a0b65bcedc96a0fe","d667e426b36be2c9"]]},{"id":"1beade2ff5ca5212","type":"junction","z":"3752d27d7587c957","x":340,"y":320,"wires":[["38cd4d82cd0fd287","03170a055dee0c18"]]},{"id":"3b25550daaa0d938","type":"junction","z":"3752d27d7587c957","x":340,"y":360,"wires":[["6e29c36400302613","d63dfedba31e6c03"]]},{"id":"628eb0efdd45d47f","type":"junction","z":"3752d27d7587c957","x":340,"y":400,"wires":[["eb850d44242cc6c6","883e53c619710a5c"]]},{"id":"02199cb92b1a3f32","type":"junction","z":"3752d27d7587c957","x":340,"y":440,"wires":[["3b9ddcea592dfa6c","09388aae1c81e85e"]]},{"id":"455ed3c6930adfe0","type":"junction","z":"3752d27d7587c957","x":340,"y":280,"wires":[["42ff7b7243adac0b","71bbf76e3992257f"]]},{"id":"edeead31dd6a80b8","type":"junction","z":"3752d27d7587c957","x":340,"y":540,"wires":[["c82ef6e4f9fa3159","bb53d025f4d0e3fa"]]},{"id":"7e5df50c6683b600","type":"junction","z":"3752d27d7587c957","x":340,"y":760,"wires":[["89391fcf7fa2d9dc","669616aead0ef19f"]]},{"id":"bd65fa0bcf194b27","type":"junction","z":"3752d27d7587c957","x":340,"y":720,"wires":[["65ac2cfaa7ba045c","49c6e2de0f1b0630"]]},{"id":"724dfeb83c172e7d","type":"junction","z":"3752d27d7587c957","x":340,"y":680,"wires":[["fea31e55b74e768b","e52f426c3a45d473","b2cb416cb6617c7b"]]},{"id":"3aa5bb36956938c6","type":"junction","z":"3752d27d7587c957","x":340,"y":640,"wires":[["cab823730c4a70a7","5f82452669bf7cb1"]]},{"id":"8c0773acdba0ce48","type":"junction","z":"3752d27d7587c957","x":340,"y":600,"wires":[["472539b957b3d55c"]]},{"id":"85a703016b798065","type":"junction","z":"3752d27d7587c957","x":340,"y":500,"wires":[["c8ac68f99c237d2c","b0d376be03892225"]]}]