NodeRed/Tents/tentTemplate.json
[{"id":"837562a29cc16bf1","type":"tab","label":"Template","disabled":false,"info":"","env":[]},{"id":"820f24819599c56d","type":"junction","z":"837562a29cc16bf1","x":340,"y":780,"wires":[["1feef4e361d6f4ab"]]},{"id":"06a8234a0e50da53","type":"junction","z":"837562a29cc16bf1","x":340,"y":740,"wires":[["d8f2fcca50f43695","b08769debd37ea42"]]},{"id":"7a29d65c56ea38ce","type":"junction","z":"837562a29cc16bf1","x":340,"y":700,"wires":[["4ff3d1707695e0f6","2e58ca36e4975292"]]},{"id":"f2f13c248e0b8c38","type":"junction","z":"837562a29cc16bf1","x":340,"y":660,"wires":[["738cf6c13d34f5ac","b29f1ccf177ca9bc"]]},{"id":"0b97ef72d268e742","type":"junction","z":"837562a29cc16bf1","x":340,"y":620,"wires":[["0aa762f5f80712c8"]]},{"id":"d807c37c87e52fb7","type":"junction","z":"837562a29cc16bf1","x":340,"y":560,"wires":[["3011ac99935058fc"]]},{"id":"2600ce922720d165","type":"junction","z":"837562a29cc16bf1","x":340,"y":520,"wires":[["33d2df760c249443"]]},{"id":"e474bc581931075b","type":"junction","z":"837562a29cc16bf1","x":340,"y":460,"wires":[["7f77813b91965276"]]},{"id":"884cf8a2633214fe","type":"junction","z":"837562a29cc16bf1","x":340,"y":420,"wires":[["f3be4872d689a0ca"]]},{"id":"4babf1f954c3e57b","type":"junction","z":"837562a29cc16bf1","x":340,"y":380,"wires":[["022c729507aff6df"]]},{"id":"237aa8a46cf62248","type":"junction","z":"837562a29cc16bf1","x":340,"y":340,"wires":[["afeeb2589c30fa74"]]},{"id":"75f661a92ec9a9bc","type":"junction","z":"837562a29cc16bf1","x":340,"y":300,"wires":[["caf859c3f933940e"]]},{"id":"3deecb435aa812f2","type":"junction","z":"837562a29cc16bf1","x":340,"y":260,"wires":[["e29616dda5bc78bb"]]},{"id":"cd2ee8affa561b9c","type":"junction","z":"837562a29cc16bf1","x":340,"y":220,"wires":[["52fdbd67490934c4"]]},{"id":"894e3f2d417270a1","type":"junction","z":"837562a29cc16bf1","x":340,"y":180,"wires":[["eb74c53d01b97ace","f10df41350b98c50"]]},{"id":"d2502e609aee86c4","type":"junction","z":"837562a29cc16bf1","x":340,"y":140,"wires":[["a42167d7f369149a","f10df41350b98c50"]]},{"id":"e7d85836d6efff20","type":"junction","z":"837562a29cc16bf1","x":340,"y":100,"wires":[["0214db4988ac22b5"]]},{"id":"06dc9b45852019fe","type":"link in","z":"837562a29cc16bf1","name":"DryingCtrl","links":["f639a305698026d1"],"x":45,"y":40,"wires":[["30ac7a0c8fcf2fb8"]]},{"id":"30ac7a0c8fcf2fb8","type":"debug","z":"837562a29cc16bf1","name":"TentData","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":140,"y":20,"wires":[]},{"id":"ebd19d5b7f79749d","type":"link in","z":"837562a29cc16bf1","name":"DryingTentLiveData","links":["854a899b81ae0da3"],"x":45,"y":80,"wires":[["168d26b6e04d5457","4bc992af7e8eeb3b"]]},{"id":"168d26b6e04d5457","type":"debug","z":"837562a29cc16bf1","name":"TentLiveData","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":150,"y":60,"wires":[]},{"id":"2e58ca36e4975292","type":"link out","z":"837562a29cc16bf1","name":"Exhaust","mode":"link","links":[],"x":575,"y":700,"wires":[]},{"id":"f10df41350b98c50","type":"join","z":"837562a29cc16bf1","name":"VpdNeeds","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":460,"y":60,"wires":[[]]},{"id":"a42167d7f369149a","type":"debug","z":"837562a29cc16bf1","name":"Temperatures","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":140,"wires":[]},{"id":"eb74c53d01b97ace","type":"debug","z":"837562a29cc16bf1","name":"Humidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":180,"wires":[]},{"id":"52fdbd67490934c4","type":"debug","z":"837562a29cc16bf1","name":"Dewpoints","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":220,"wires":[]},{"id":"022c729507aff6df","type":"debug","z":"837562a29cc16bf1","name":"Pressures","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":380,"wires":[]},{"id":"33d2df760c249443","type":"debug","z":"837562a29cc16bf1","name":"Battery","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":520,"wires":[]},{"id":"3011ac99935058fc","type":"debug","z":"837562a29cc16bf1","name":"Power","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":560,"wires":[]},{"id":"f3be4872d689a0ca","type":"debug","z":"837562a29cc16bf1","name":"CO2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":420,"wires":[]},{"id":"7f77813b91965276","type":"debug","z":"837562a29cc16bf1","name":"Light","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":460,"wires":[]},{"id":"0aa762f5f80712c8","type":"debug","z":"837562a29cc16bf1","name":"Switches","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":620,"wires":[]},{"id":"afeeb2589c30fa74","type":"debug","z":"837562a29cc16bf1","name":"Conductivity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":340,"wires":[]},{"id":"e29616dda5bc78bb","type":"debug","z":"837562a29cc16bf1","name":"Moisture","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":260,"wires":[]},{"id":"4ff3d1707695e0f6","type":"debug","z":"837562a29cc16bf1","name":"Exhasut","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":700,"wires":[]},{"id":"0214db4988ac22b5","type":"debug","z":"837562a29cc16bf1","name":"WISH","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":100,"wires":[]},{"id":"d8f2fcca50f43695","type":"debug","z":"837562a29cc16bf1","name":"Humidifier","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":740,"wires":[]},{"id":"738cf6c13d34f5ac","type":"debug","z":"837562a29cc16bf1","name":"Vents","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":660,"wires":[]},{"id":"caf859c3f933940e","type":"debug","z":"837562a29cc16bf1","name":"RootTemp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":300,"wires":[]},{"id":"1feef4e361d6f4ab","type":"debug","z":"837562a29cc16bf1","name":"Dehumidifier","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":780,"wires":[]},{"id":"4bc992af7e8eeb3b","type":"function","z":"837562a29cc16bf1","name":"Sort Sensor Types","func":"let data = msg.payload;\n\n// Arrays für verschiedene Sensortypen initialisieren\nlet wish = [];\nlet temperatures = [];\nlet humidity = [];\nlet dewpoints = [];\nlet moisture = [];\nlet pressures = [];\nlet battery = [];\nlet power = [];\nlet co2 = [];\nlet lumen = [];\nlet conductivity = [];\nlet switches = [];\nlet dutyCycleExhaust = [];\nlet vents = [];\nlet humidifier = [];\nlet dehumidifier = [];\nlet root = [];\n\n// Durchlaufe alle Schlüssel im data-Objekt und sortiere sie nach bestimmten Sensortypen\nfor (let key in data) {\n    if (data.hasOwnProperty(key)) {\n        let entity_id = key.toLowerCase();\n        let entity = { entity_id: key, value: data[key] };\n\n        // Prioritize to ensure it is captured first\n        if (entity_id.includes('wish') || entity_id.includes('avg') || entity_id.includes('target')) {\n            wish.push(entity);\n        } else if (entity_id.includes('root') || entity_id.includes('wurzel') || entity_id.includes('water')) {\n            root.push(entity);\n        }\n        // ENVIORMENT\n        else if (entity_id.includes('temperature') || entity_id.includes('temp')) {\n            temperatures.push(entity);\n        } else if (entity_id.includes('humidity') || entity_id.includes('feuchtigkeit') || entity_id.includes('rh')) {\n            humidity.push(entity);\n        } else if (entity_id.includes('dewpoint') || entity_id.includes('dew')) {\n            dewpoints.push(entity);\n        } else if (entity_id.includes('moisture') || entity_id.includes('mois')) {\n            moisture.push(entity);\n        } else if (entity_id.includes('pressure') || entity_id.includes('press')) {\n            pressures.push(entity);\n        } else if (entity_id.includes('carbondioxide') || entity_id.includes('co2') || entity_id.includes('carbon')) {\n            co2.push(entity);\n        } else if (entity_id.includes('conductivity')) {\n            conductivity.push(entity);\n        } else if (entity_id.includes('illuminance') || entity_id.includes('light') || entity_id.includes('licht')) {\n            lumen.push(entity);\n        }\n        // Devices\n        else if (entity_id.includes('dehumidifier') || entity_id.includes('entfeuchter')) {\n            dehumidifier.push(entity);\n        } else if (entity_id.includes('humidifier') || entity_id.includes('befeuchter')) {\n            humidifier.push(entity);\n        } else if (entity_id.includes('ruckec') || entity_id.includes('airctr') || entity_id.includes('exhaust') || entity_id.includes('abluft')) {\n            dutyCycleExhaust.push(entity);\n        } else if (entity_id.includes('vent')) {\n            vents.push(entity);\n        } else if (entity_id.includes('switch')) {\n            switches.push(entity);\n        } else if (entity_id.includes('power') || entity_id.includes('energy')) {\n            power.push(entity);\n        }\n\n        // ADDONS\n        else if (entity_id.includes('battery') || entity_id.includes('batt')) {\n            battery.push(entity);\n        }\n    }\n}\n\n// Nachrichtenausgabe auf verschiedenen Outputs\nreturn [\n    // ENVIORMENT\n    { payload: wish, topic: 'Wish' },\n    { payload: temperatures, topic: 'temperature' },\n    { payload: humidity, topic: 'humidity' },\n    { payload: dewpoints, topic: 'dewpoint' },\n    { payload: moisture, topic: 'moisture' },\n    { payload: root, topic: 'roottemp' },\n    { payload: conductivity, topic: 'conductivity' },\n    { payload: pressures, topic: 'pressure' },\n    { payload: co2, topic: 'carbon_dioxide' },\n    { payload: lumen, topic: 'illuminance' },\n    // DEVICEINFO\n    { payload: battery, topic: 'battery' },\n    { payload: power, topic: 'power' },\n    // DEVICES\n    { payload: switches, topic: 'switch' },\n    { payload: vents, topic: 'Vents' },\n    { payload: dutyCycleExhaust, topic: 'Exhaust' },\n    { payload: humidifier, topic: 'humidifier' },\n    { payload: dehumidifier, topic: 'dehumidifier' }\n\n\n];\n","outputs":17,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":220,"wires":[["e7d85836d6efff20"],["d2502e609aee86c4"],["894e3f2d417270a1"],["cd2ee8affa561b9c"],["3deecb435aa812f2"],["75f661a92ec9a9bc"],["237aa8a46cf62248"],["4babf1f954c3e57b"],["884cf8a2633214fe"],["e474bc581931075b"],["2600ce922720d165"],["d807c37c87e52fb7"],["0b97ef72d268e742"],["f2f13c248e0b8c38"],["7a29d65c56ea38ce"],["06a8234a0e50da53"],["820f24819599c56d"]]},{"id":"b08769debd37ea42","type":"link out","z":"837562a29cc16bf1","name":"Humidifier","mode":"link","links":[],"x":575,"y":740,"wires":[]},{"id":"6a53a1d5b542ad0d","type":"link out","z":"837562a29cc16bf1","name":"Dehumidifier","mode":"link","links":[],"x":575,"y":780,"wires":[]},{"id":"b29f1ccf177ca9bc","type":"link out","z":"837562a29cc16bf1","name":"Vents","mode":"link","links":[],"x":575,"y":660,"wires":[]}]