NodeRed/Helpers/DeviceFunc/DehumidiferFunc/dehumidifierFlow.json
[{"id":"ecb02d38c4118377","type":"group","z":"3752d27d7587c957","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f81d8c962ee7f1d5","9743d50e741ac49e","ba354dc96e68c583","09de5509dbd47ef7","fa4182f14e046b55","3905f327349462e9"],"x":1494,"y":1519,"w":642,"h":162},{"id":"f81d8c962ee7f1d5","type":"join","z":"3752d27d7587c957","g":"ecb02d38c4118377","name":"DehumidifierData","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1610,"y":1620,"wires":[["ba354dc96e68c583"]]},{"id":"9743d50e741ac49e","type":"link in","z":"3752d27d7587c957","g":"ecb02d38c4118377","name":"Dehumidifier","links":[],"x":1545,"y":1560,"wires":[["f81d8c962ee7f1d5"]]},{"id":"ba354dc96e68c583","type":"function","z":"3752d27d7587c957","g":"ecb02d38c4118377","name":"DehumidifierSetup","func":"let outputs = [null, null]; // Array f체r zwei Ausg채nge\n\nlet dehumidifierState = null;\n\n// Schleife, um den Zustand des Dehumidifier zu finden\nfor (let i = 0; i < msg.payload.dehumidifier.length; i++) {\n    if (msg.payload.dehumidifier[i].entity_id.includes('dehumidifier')) {\n        dehumidifierState = msg.payload.dehumidifier[i].value;\n        break;\n    }\n}\n\n// Dehumidifier starten\nif (msg.payload.dehumidifierSet.value === \"increased\" && dehumidifierState === \"off\") {\n    outputs[0] = { payload: \"Starte Dehumidifier\", topic: \"Start\" };\n}\n\n// Dehumidifier stoppen\nif (msg.payload.dehumidifierSet.value === \"reduced\" && dehumidifierState === \"on\") {\n    outputs[1] = { payload: \"Stoppe Dehumidifier\", topic: \"Stop\" };\n}\n\n// Nichts tun\nif (msg.payload.dehumidifierSet.value === \"unchanged\") {\n    outputs[2] = { payload: \"Dehumidifier unver채ndert, keine Aktion erforderlich\", topic: \"Nothing\" };\n}\n\nreturn outputs; // R체ckgabe des Ausgangsarrays\n","outputs":4,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1810,"y":1620,"wires":[["09de5509dbd47ef7"],["fa4182f14e046b55"],["3905f327349462e9"],[]]},{"id":"09de5509dbd47ef7","type":"link out","z":"3752d27d7587c957","g":"ecb02d38c4118377","name":"DefhumidiferON","mode":"link","links":["4c88812165b09b0e"],"x":1995,"y":1580,"wires":[]},{"id":"fa4182f14e046b55","type":"link out","z":"3752d27d7587c957","g":"ecb02d38c4118377","name":"DefhumidiferOFF","mode":"link","links":["2b8233e8bb0edf47"],"x":2055,"y":1600,"wires":[]},{"id":"3905f327349462e9","type":"link out","z":"3752d27d7587c957","g":"ecb02d38c4118377","name":"link out 15","mode":"link","links":[],"x":2095,"y":1640,"wires":[]}]