NodeRed/Helpers/TentModeFunc/IN-VPD-RANGE/in_range_vpd.json
[{"id":"cd6ac2afbdcea5d6","type":"join","z":"3752d27d7587c957","name":"DehumidifierData","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":990,"y":2740,"wires":[["2725d14dbe6da4ff"]]},{"id":"9dada473e7e2a152","type":"link in","z":"3752d27d7587c957","name":"Dehumidifier","links":[],"x":915,"y":2700,"wires":[["cd6ac2afbdcea5d6"]]},{"id":"2725d14dbe6da4ff","type":"function","z":"3752d27d7587c957","name":"DehumidifierSetup","func":"let outputs = [null, null]; // Array für zwei Ausgänge\n\nlet dehumidifierState = null;\n\n// Schleife, um den Zustand des Dehumidifier zu finden\nfor (let i = 0; i < msg.payload.dehumidifier.length; i++) {\n    if (msg.payload.dehumidifier[i].entity_id.includes('dehumidifier')) {\n        dehumidifierState = msg.payload.dehumidifier[i].value;\n        break;\n    }\n}\n\n// Dehumidifier starten\nif (msg.payload.dehumidifierSet.value === \"increased\" && dehumidifierState === \"off\") {\n    outputs[0] = { payload: \"Starte Dehumidifier\", topic: \"Start\" };\n}\n\n// Dehumidifier stoppen\nif (msg.payload.dehumidifierSet.value === \"reduced\" && dehumidifierState === \"on\") {\n    outputs[1] = { payload: \"Stoppe Dehumidifier\", topic: \"Stop\" };\n}\n\n// Nichts tun\nif (msg.payload.dehumidifierSet.value === \"unchanged\") {\n    outputs[2] = { payload: \"Dehumidifier unverändert, keine Aktion erforderlich\", topic: \"Nothing\" };\n}\n\nreturn outputs; // Rückgabe des Ausgangsarrays\n","outputs":4,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":2740,"wires":[["5c4761d5110d8859"],["541c61fac127b62f"],["b1ab8a7608eb5eaf"],[]]},{"id":"cc8e1d352455cdfd","type":"join","z":"3752d27d7587c957","name":"HeaterData","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":990,"y":2860,"wires":[["0b4a423b7376cbcf"]]},{"id":"762692ea9c25b0a8","type":"link in","z":"3752d27d7587c957","name":"link in 53","links":[],"x":925,"y":2820,"wires":[["cc8e1d352455cdfd"]]},{"id":"0b4a423b7376cbcf","type":"function","z":"3752d27d7587c957","name":"HeaterSetup","func":"let outputs = [null, null]; // Array für zwei Ausgänge\n\nlet heaterState = null;\n\n// Schleife, um den Zustand des Heater zu finden\nfor (let i = 0; i < msg.payload.heater.length; i++) {\n    if (msg.payload.heater[i].entity_id.includes('heater')) {\n        heaterState = msg.payload.heater[i].value;\n        break;\n    }\n}\n\n// Heater starten\nif (msg.payload.heaterSet.value === \"increased\" && heaterState === \"off\") {\n    outputs[0] = { payload: \"Start Heater\", topic: \"Start\" };\n}\n\n// Heater stoppen\nif (msg.payload.heaterSet.value === \"reduced\" && heaterState === \"on\") {\n    outputs[1] = { payload: \"Stop Heater\", topic: \"Stop\" };\n}\n\n// Nichts tun\nif (msg.payload.heaterSet.value === \"unchanged\") {\n    outputs[2] = { payload: \"Heater unverändert, keine Aktion erforderlich\", topic: \"Nothing\" };\n}\n\nreturn outputs; // Rückgabe des Ausgangsarrays\n","outputs":4,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":2860,"wires":[["b06e542ddb3f94e9"],["5b11e4eb2ba9c003"],["3274f9a2824604b6"],[]]},{"id":"a9d916a797dd86c7","type":"join","z":"3752d27d7587c957","name":"CoolerData","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":990,"y":2960,"wires":[["f5d320466670772d"]]},{"id":"3293717e8f714318","type":"link in","z":"3752d27d7587c957","name":"link in 54","links":[],"x":925,"y":2920,"wires":[["a9d916a797dd86c7"]]},{"id":"f5d320466670772d","type":"function","z":"3752d27d7587c957","name":"CoolerSetup","func":"let outputs = [null, null]; // Array für zwei Ausgänge\n\nlet coolerState = null;\n\n// Schleife, um den Zustand des Cooler zu finden\nfor (let i = 0; i < msg.payload.cooler.length; i++) {\n    if (msg.payload.cooler[i].entity_id.includes('cooler')) {\n        coolerState = msg.payload.cooler[i].value;\n        break;\n    }\n}\n\n// Cooler starten\nif (msg.payload.coolerSet.value === \"increased\" && coolerState === \"off\") {\n    outputs[0] = { payload: \"Start Cooler\", topic: \"Start\" };\n}\n\n// Cooler stoppen\nif (msg.payload.coolerSet.value === \"reduced\" && coolerState === \"on\") {\n    outputs[1] = { payload: \"Stop Cooler\", topic: \"Stop\" };\n}\n\n// Nichts tun\nif (msg.payload.coolerSet.value === \"unchanged\") {\n    outputs[2] = { payload: \"Cooler unverändert, keine Aktion erforderlich\", topic: \"Nothing\" };\n}\n\nreturn outputs; // Rückgabe des Ausgangsarrays\n","outputs":4,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":2960,"wires":[["bb8ce973cf01a740"],["d0b11005069235bd"],["f08710d6d90326bd"],[]]},{"id":"4cc1aca6c377ea6e","type":"join","z":"3752d27d7587c957","name":"LightData","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":990,"y":3060,"wires":[["2259577264bd2745"]]},{"id":"1df4664d287070d9","type":"link in","z":"3752d27d7587c957","name":"link in 55","links":[],"x":925,"y":3020,"wires":[["4cc1aca6c377ea6e"]]},{"id":"2259577264bd2745","type":"function","z":"3752d27d7587c957","name":"LightSetup","func":"let outputs = [null, null]; // Array für zwei Ausgänge\n\nlet lightState = null;\n\n// Schleife, um den Zustand des Befeuchters zu finden\nfor (let i = 0; i < msg.payload.light.length; i++) {\n    if (msg.payload.light[i].entity_id.includes('light')) {\n        lightState = msg.payload.light[i].value;\n        break;\n    }\n}\n\n// Befeuchter starten\nif (msg.payload.lightSet.value === \"increased\" && lightState === \"off\") {\n    outputs[0] = { payload: \"Starte Befeuchter\", topic: \"Start\" };\n}\n\n// Befeuchter stoppen\nif (msg.payload.lightSet.value === \"reduced\" && lightState === \"on\") {\n    outputs[1] = { payload: \"Stoppe Befeuchter\", topic: \"Stop\" };\n}\n\n// Nichts tun\nif (msg.payload.lightSet.value === \"unchanged\") {\n    outputs[2] = { payload: \"Befeuchter unverändert, keine Aktion erforderlich\", topic: \"Nothing\" };\n}\n\nreturn outputs; // Rückgabe des Ausgangsarrays\n","outputs":4,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":3060,"wires":[["1ebe84c7f11a1263"],["a1166cb2212a9fbd"],["b2a21e78509154d5"],[]]},{"id":"f1b87ae4b047d901","type":"join","z":"3752d27d7587c957","name":"VentsData","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":990,"y":3160,"wires":[["42d35a6ecbabda86"]]},{"id":"58731c27976d1eea","type":"link in","z":"3752d27d7587c957","name":"link in 56","links":[],"x":935,"y":3120,"wires":[["f1b87ae4b047d901"]]},{"id":"42d35a6ecbabda86","type":"function","z":"3752d27d7587c957","name":"VentsSetup","func":"let outputs = [null, null]; // Array für zwei Ausgänge\n\nlet ventsState = null;\n\n// Schleife, um den Zustand des Befeuchters zu finden\nfor (let i = 0; i < msg.payload.vents.length; i++) {\n    if (msg.payload.vents[i].entity_id.includes('vents')) {\n        ventsState = msg.payload.vents[i].value;\n        break;\n    }\n}\n\n// Befeuchter starten\nif (msg.payload.ventsSet.value === \"increased\" && ventsState === \"off\") {\n    outputs[0] = { payload: \"Starte Befeuchter\", topic: \"Start\" };\n}\n\n// Befeuchter stoppen\nif (msg.payload.ventsSet.value === \"reduced\" && ventsState === \"on\") {\n    outputs[1] = { payload: \"Stoppe Befeuchter\", topic: \"Stop\" };\n}\n\n// Nichts tun\nif (msg.payload.ventsSet.value === \"unchanged\") {\n    outputs[2] = { payload: \"Befeuchter unverändert, keine Aktion erforderlich\", topic: \"Nothing\" };\n}\n\nreturn outputs; // Rückgabe des Ausgangsarrays\n","outputs":4,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":3160,"wires":[["d9cf2cfc8cb06c52"],["aac1a6fb8213e1d0"],["e6b8a6d0c2c03adb"],[]]},{"id":"5c4761d5110d8859","type":"link out","z":"3752d27d7587c957","name":"link out 158","mode":"link","links":[],"x":1345,"y":2720,"wires":[]},{"id":"541c61fac127b62f","type":"link out","z":"3752d27d7587c957","name":"link out 159","mode":"link","links":[],"x":1395,"y":2740,"wires":[]},{"id":"b1ab8a7608eb5eaf","type":"link out","z":"3752d27d7587c957","name":"link out 160","mode":"link","links":[],"x":1445,"y":2760,"wires":[]},{"id":"b06e542ddb3f94e9","type":"link out","z":"3752d27d7587c957","name":"link out 161","mode":"link","links":[],"x":1325,"y":2840,"wires":[]},{"id":"5b11e4eb2ba9c003","type":"link out","z":"3752d27d7587c957","name":"link out 162","mode":"link","links":[],"x":1385,"y":2860,"wires":[]},{"id":"3274f9a2824604b6","type":"link out","z":"3752d27d7587c957","name":"link out 163","mode":"link","links":[],"x":1435,"y":2880,"wires":[]},{"id":"bb8ce973cf01a740","type":"link out","z":"3752d27d7587c957","name":"link out 164","mode":"link","links":[],"x":1335,"y":2940,"wires":[]},{"id":"d0b11005069235bd","type":"link out","z":"3752d27d7587c957","name":"link out 165","mode":"link","links":[],"x":1395,"y":2960,"wires":[]},{"id":"f08710d6d90326bd","type":"link out","z":"3752d27d7587c957","name":"link out 166","mode":"link","links":[],"x":1445,"y":2980,"wires":[]},{"id":"1ebe84c7f11a1263","type":"link out","z":"3752d27d7587c957","name":"link out 167","mode":"link","links":[],"x":1305,"y":3040,"wires":[]},{"id":"a1166cb2212a9fbd","type":"link out","z":"3752d27d7587c957","name":"link out 168","mode":"link","links":[],"x":1365,"y":3060,"wires":[]},{"id":"b2a21e78509154d5","type":"link out","z":"3752d27d7587c957","name":"link out 169","mode":"link","links":[],"x":1425,"y":3080,"wires":[]},{"id":"d9cf2cfc8cb06c52","type":"link out","z":"3752d27d7587c957","name":"link out 170","mode":"link","links":[],"x":1315,"y":3140,"wires":[]},{"id":"aac1a6fb8213e1d0","type":"link out","z":"3752d27d7587c957","name":"link out 171","mode":"link","links":[],"x":1355,"y":3160,"wires":[]},{"id":"e6b8a6d0c2c03adb","type":"link out","z":"3752d27d7587c957","name":"link out 172","mode":"link","links":[],"x":1415,"y":3180,"wires":[]},{"id":"246ef99e53bcbd95","type":"group","z":"3752d27d7587c957","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b9314d8f511b11c1","5cdc31c21212e9c4","741c0ac411bcbcec","cacb50c638ff93f0","07a253f060cb08f3","d334af51b7515024"],"x":834,"y":2459,"w":572,"h":162},{"id":"b9314d8f511b11c1","type":"function","z":"3752d27d7587c957","g":"246ef99e53bcbd95","name":"BefeuchterSetup","func":"let outputs = [null, null, null]; // Array für drei Ausgänge\n\nlet humidifierState = null;\n\n// Schleife, um den Zustand des Befeuchters zu finden\nfor (let i = 0; i < msg.payload.humidifier.length; i++) {\n    if (msg.payload.humidifier[i].entity_id.includes('humidifier')) {\n        humidifierState = msg.payload.humidifier[i].value;\n        break;\n    }\n}\n\n// Befeuchter starten\nif (msg.payload.humidifierSet.value === \"increased\" && humidifierState === \"off\") {\n    outputs[0] = { payload: \"Starte Befeuchter\", topic: \"Start\" };\n}\n\n// Befeuchter stoppen\nif (msg.payload.humidifierSet.value === \"reduced\" && humidifierState === \"on\") {\n    outputs[1] = { payload: \"Stoppe Befeuchter\", topic: \"Stop\" };\n}\n\n// Nichts tun oder ausschalten bei unverändertem Zustand\nif (msg.payload.humidifierSet.value === \"unchanged\") {\n    if (humidifierState === \"on\") {\n        // Wenn der Befeuchter im Zelt an ist und kein Wechsel angefordert wird, sende \"off\"\n        outputs[0] = { payload: \"off\", topic: \"Humidifier\" };\n    } else {\n        // Wenn der Befeuchter bereits aus ist oder nicht geändert werden soll\n        outputs[1] = { payload: \"Humidifier already stopped, nothing to do! Waiting for changes.\", topic: \"Humidifier\" };\n    }\n}\n\n// Nichts tun (detaillierte Information)\nif (msg.payload.humidifierSet.value === \"unchanged\" && humidifierState !== \"on\" && humidifierState !== \"off\") {\n    outputs[2] = { payload: \"Befeuchter unverändert, keine Aktion erforderlich\", data: msg.payload, topic: \"Nothing\" };\n}\n\nreturn outputs; // Rückgabe des Ausgangsarrays\n","outputs":4,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":2560,"wires":[["cacb50c638ff93f0"],["07a253f060cb08f3"],["07a253f060cb08f3","d334af51b7515024"],[]]},{"id":"5cdc31c21212e9c4","type":"join","z":"3752d27d7587c957","g":"246ef99e53bcbd95","name":"HumidityData","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":940,"y":2560,"wires":[["b9314d8f511b11c1"]]},{"id":"741c0ac411bcbcec","type":"link in","z":"3752d27d7587c957","g":"246ef99e53bcbd95","name":"HumidifierData","links":["49c6e2de0f1b0630"],"x":875,"y":2520,"wires":[["5cdc31c21212e9c4"]]},{"id":"cacb50c638ff93f0","type":"link out","z":"3752d27d7587c957","g":"246ef99e53bcbd95","name":"HumidifierStart","mode":"link","links":["1be287d67694b336"],"x":1295,"y":2500,"wires":[]},{"id":"07a253f060cb08f3","type":"link out","z":"3752d27d7587c957","g":"246ef99e53bcbd95","name":"HumidifierStop","mode":"link","links":["7deddc1b5d29a51e"],"x":1335,"y":2540,"wires":[]},{"id":"d334af51b7515024","type":"link out","z":"3752d27d7587c957","g":"246ef99e53bcbd95","name":"link out 218","mode":"link","links":[],"x":1365,"y":2580,"wires":[]},{"id":"aa0e526214fcdb49","type":"group","z":"3752d27d7587c957","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["35d15032ae312f91","44d0938e5407b630","43cff511ec0c97e5","2a12a34d4772b12c","285436d321e10528","7ce2cae7981b703a","89a87511d0923579"],"x":834,"y":2259,"w":822,"h":162},{"id":"35d15032ae312f91","type":"join","z":"3752d27d7587c957","g":"aa0e526214fcdb49","name":"exhasutData","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":940,"y":2360,"wires":[["43cff511ec0c97e5"]]},{"id":"44d0938e5407b630","type":"link in","z":"3752d27d7587c957","g":"aa0e526214fcdb49","name":"ExhasutData","links":["e52f426c3a45d473"],"x":875,"y":2320,"wires":[["35d15032ae312f91"]]},{"id":"43cff511ec0c97e5","type":"function","z":"3752d27d7587c957","g":"aa0e526214fcdb49","name":"Exhasut Setup","func":"// Hilfsfunktion zur Überprüfung, ob ein Wert numerisch ist\nconst isNumeric = (value) => {\n    return !isNaN(parseFloat(value)) && isFinite(value);\n};\n\n// Funktion zur Bestimmung des dutyCycle-Werts\nconst findDutyCycle = (exhaustArray) => {\n    if (exhaustArray.length === 0) {\n        return null; // Keine Werte zu verarbeiten, wenn das Array leer ist\n    }\n    for (let i = 0; i < exhaustArray.length; i++) {\n        if (isNumeric(exhaustArray[i].value)) {\n            return parseInt(exhaustArray[i].value, 10);\n        }\n    }\n    return null; // Falls kein numerischer Wert gefunden wurde\n};\n\nlet outputs = [null, null, null]; // Array für drei Ausgänge\n\n// Zustand der Abluft und Geschwindigkeit aus der Payload extrahieren\nconst exhaustSpeed = msg.payload.exhaustSpeed;\nlet exhaustState = 'off'; // Standardwert setzen, falls kein Zustand gefunden wird\nif (msg.payload.Exhaust && msg.payload.Exhaust.length > 0) {\n    const exhaustSwitch = msg.payload.Exhaust.find(e => e.entity_id && e.entity_id.toLowerCase().includes(\"switch\"));\n    if (exhaustSwitch && exhaustSwitch.value) {\n        exhaustState = exhaustSwitch.value;\n    }\n}\n\nconst dutyCycle = findDutyCycle(msg.payload.Exhaust);\n\n// Prüfen, ob ein dutyCycle vorhanden ist\nif (dutyCycle === null) {\n    return outputs; // Kein dutyCycle gefunden, keine Aktion erforderlich\n}\n\n// Abluft starten auf dem ersten Ausgang\nif (exhaustSpeed === \"increased\" && exhaustState === \"off\") {\n    outputs[0] = { payload: \"Starte Abluft\", topic: \"Start\" };\n}\n\n// Abluft-Geschwindigkeit erhöhen, wenn sie bereits eingeschaltet ist\nif (exhaustSpeed === \"increased\" && exhaustState === \"on\") {\n    let newDutyCycle = Math.min(dutyCycle + 5, 95); // dutyCycle um 5 erhöhen, aber nicht über 95\n    outputs[2] = { payload: newDutyCycle.toString(), topic: \"Increase\" };\n}\n\n// Abluft stoppen auf dem zweiten Ausgang\nif (exhaustSpeed === \"reduced\" && exhaustState === \"on\" && dutyCycle <= 10) {\n    outputs[1] = { payload: \"Stoppe Abluft\", topic: \"Stop\" };\n}\nelse if (exhaustSpeed === \"reduced\" && exhaustState === \"on\") {\n    let newDutyCycle = Math.max(dutyCycle - 5, 0); // dutyCycle um 5 verringern\n    outputs[2] = { payload: newDutyCycle.toString(), topic: \"Decrease\" };\n}\n\n// Warnung ausgeben, wenn versucht wird, die Abluftgeschwindigkeit zu reduzieren, obwohl sie bereits aus ist\nif (exhaustSpeed === \"reduced\" && exhaustState === \"off\") {\n    outputs[1] = { payload: \"Abluft bereits gestoppt, kann nicht weiter reduziert werden\", topic: \"AlreadyStopped\" };\n}\n\n// Nichts tun, wenn keine Änderung erforderlich ist\nif (exhaustSpeed === \"unchanged\") {\n    outputs[3] = { payload: \"PERFEKTION: Abluft unverändert, keine Aktion erforderlich\", topic: \"Nothing\" };\n}\n\nreturn outputs; // Rückgabe des Ausgangsarrays\n","outputs":4,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":2340,"wires":[["7ce2cae7981b703a"],["89a87511d0923579"],["285436d321e10528"],[]]},{"id":"2a12a34d4772b12c","type":"http request","z":"3752d27d7587c957","g":"aa0e526214fcdb49","name":"DutyPostChange","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.1.1.234:5533/air/ctrl","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":1540,"y":2380,"wires":[[]]},{"id":"285436d321e10528","type":"function","z":"3752d27d7587c957","g":"aa0e526214fcdb49","name":"DutyChanger","func":"\nconst NewDuty = msg.payload\n\nmsg.payload = { \"newDuty\": NewDuty}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1360,"y":2380,"wires":[["2a12a34d4772b12c"]]},{"id":"7ce2cae7981b703a","type":"link out","z":"3752d27d7587c957","g":"aa0e526214fcdb49","name":"ExhaustVeggiON","mode":"link","links":["09f51aa364202656"],"x":1305,"y":2300,"wires":[]},{"id":"89a87511d0923579","type":"link out","z":"3752d27d7587c957","g":"aa0e526214fcdb49","name":"ExhaustVeggiOFF","mode":"link","links":["95404f058f30b296"],"x":1305,"y":2340,"wires":[]},{"id":"6dd36616a92a87a4","type":"group","z":"3752d27d7587c957","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["0a28b21d3b4a4f2b","10975d949b78c673","2afcbf200982e39e","9ac8cca8bbd8cc26","07308f4728d5980a","61d3b1e40e8a29c1","1be63f2cfa82df0a","b7f3ca5cd432bab5","df5e74c7f7712579"],"x":74,"y":2219,"w":632,"h":422},{"id":"0a28b21d3b4a4f2b","type":"comment","z":"3752d27d7587c957","g":"6dd36616a92a87a4","name":"IN-RANGE-VPD","info":"","x":180,"y":2260,"wires":[]},{"id":"10975d949b78c673","type":"link in","z":"3752d27d7587c957","g":"6dd36616a92a87a4","name":"VPD-Perfektion","links":["2da69194534ed372"],"x":125,"y":2320,"wires":[["df5e74c7f7712579"]]},{"id":"2afcbf200982e39e","type":"function","z":"3752d27d7587c957","g":"6dd36616a92a87a4","name":"VPD State Values","func":"const plantStages = {\n    Germination: [0.42, 0.78], // Optimaler VPD-Bereich für Keimung bei 25-30°C\n    Clones: [0.42, 0.78],      // Optimaler VPD-Bereich für Klone bei 25-30°C\n    EarlyVeg: [0.55, 0.85],    // Optimaler VPD-Bereich für frühe Vegetation bei 20-25°C\n    MidVeg: [0.85, 1.1],      // Optimaler VPD-Bereich für mittlere Vegetation bei 20-25°C\n    LateVeg: [0.85, 1.2],     // Optimaler VPD-Bereich für späte Vegetation bei 20-25°C\n    EarlyFlower: [1, 1.25], // Optimaler VPD-Bereich für frühe Blüte bei 20-25°C\n    MidFlower: [1.1, 1.4],   // Optimaler VPD-Bereich für mittlere Blüte bei 20-25°C\n    LateFlower: [1.2, 1.6],  // Optimaler VPD-Bereich für späte Blüte bei 20-25°C\n};\n\n\n\n// Beispiel, wie msg.payload gesetzt wird\n// msg.payload = \"LateVeg\"; // Kommentieren Sie diese Zeile aus, um den tatsächlichen msg.payload zu verwenden\n\n// Prüfen, ob das Wachstumsstadium im plantStages-Objekt vorhanden ist\nif (plantStages.hasOwnProperty(msg.payload)) {\n    // Setzen des VPD-Wertes aus dem plantStages-Objekt\n    msg.payload = plantStages[msg.payload];\n} else {\n    // Fehlermeldung, wenn das Wachstumsstadium nicht gefunden wurde\n    msg.payload = \"Unbekanntes Wachstumsstadium\";\n\n}\nmsg.perfektion = \"VPDStageValue\"\ndelete msg.data;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":2320,"wires":[["9ac8cca8bbd8cc26"]]},{"id":"9ac8cca8bbd8cc26","type":"join","z":"3752d27d7587c957","g":"6dd36616a92a87a4","name":"VPDWish","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":360,"y":2400,"wires":[["07308f4728d5980a"]]},{"id":"07308f4728d5980a","type":"function","z":"3752d27d7587c957","g":"6dd36616a92a87a4","name":"VPD Handler Array Value","func":"const tolerance = 0.00; // Toleranzwert für die VPD-Anpassung\n\n// Der aktuelle VPD-Wert wird aus dem Payload geholt und in eine Zahl umgewandelt.\nconst currentVPD = parseFloat(msg.payload.currentVPD);\n\n// Ziel-VPD-Bereich wird aus dem Payload geholt.\nconst targetVPDRange = msg.payload.targetVPD;\n\n// Logging der aktuellen VPD und Ziel-VPD-Bereich zur Überprüfung und Debugging.\nnode.warn(`Veggi-VPD array between: ${targetVPDRange[0]} and ${targetVPDRange[1]}`);\n\n// Berechnung der prozentualen Abweichung vom Ziel-VPD und Rundung auf ganze Zahlen\nconst percentDifference = Math.round(currentVPD < targetVPDRange[0] \n    ? ((currentVPD - targetVPDRange[0]) / targetVPDRange[0]) * 100 \n    : ((currentVPD - targetVPDRange[1]) / targetVPDRange[1]) * 100);\n\n// Funktion zur Berechnung der notwendigen Anpassungen basierend auf der Differenz zum VPD-Zielbereich.\nfunction calculateAdjustment(currentVPD, targetVPDRange) {\n    // Wenn der aktuelle VPD unter dem minimalen Zielbereich liegt, Anpassungen vornehmen, um VPD zu erhöhen.\n    if (currentVPD < targetVPDRange[0] - tolerance) {\n        node.warn(`Veggi-VPD:: ${currentVPD} zu gering. Erhöhe Temp oder verringere die Feuchtigkeit`);\n        node.warn(`Veggi % VPD Target --> ${percentDifference} %`);\n        return {\n            exhaustSpeed: \"increased\",      // Erhöht die Abluftgeschwindigkeit, um feuchte Luft herauszuziehen\n            humidifier: \"reduced\",          // Schaltet den Luftbefeuchter aus, um Feuchtigkeit zu reduzieren\n            dehumidifier: \"increased\",       // Schaltet den Luftentfeuchter an, um Feuchtigkeit zu reduzieren\n            heaterFan: \"increased\",         // Schaltet den Beheizer an, um die Feuchtigkeit zu reduzieren und Temp zu erhöhen\n            coolerFan: \"reduced\",           // Schaltet den Kühler an, um die Feuchtigkeit zu erhöhen und Temp zu verringern\n            ventsALL: \"increased\",          // Erhöht die Geschwindigkeit der oberen Belüftung, um mehr trockene Luft einzulassen\n            ventsTopSpeed: \"increased\",     // Erhöht die Geschwindigkeit der oberen Belüftung, um mehr trockene Luft einzulassen\n            ventsDownSpeed: \"increased\",    // Erhöht die Geschwindigkeit der unteren Belüftung\n            lightIntensity: \"increased\"     // Erhöht die Lichtintensität, um die Temperatur zu steigern (wenn das die Temperatur beeinflusst)\n        };\n        \n    }\n    // Wenn der aktuelle VPD über dem maximalen Zielbereich liegt, Anpassungen vornehmen, um VPD zu senken.\n    else if (currentVPD > targetVPDRange[1] + tolerance) {\n        node.warn(`Veggi-VPD: ${currentVPD} zu hoch. Verringere Temp oder erhöhe die Feuchtigkeit`);\n        node.warn(`Veggi % VPD Target --> ${percentDifference} %`);\n        return {\n            exhaustSpeed: \"reduced\",    // Reduziert die Abluftgeschwindigkeit, hält feuchte Luft im Raum\n            humidifier: \"increased\",    // Schaltet den Luftbefeuchter ein, um Feuchtigkeit zu erhöhen\n            dehumidifier: \"reduced\",    // Schaltet den Luftentfeuchter aus, um Feuchtigkeit zu erhöhen\n            heaterFan: \"reduced\",       // Schaltet den Heizer aus, um die Temperatur zu verringern\n            coolerFan: \"increased\",     // Schaltet den Kühler an, um die Temperatur zu verringern\n            ventsALL: \"reduced\",        // Reduziert die Geschwindigkeit der Belüftung, um mehr feuchte Luft zu halten\n            ventsTopSpeed: \"reduced\",   // Reduziert die Geschwindigkeit der oberen Belüftung\n            ventsDownSpeed: \"reduced\",  // Reduziert die Geschwindigkeit der unteren Belüftung\n            lightIntensity: \"reduced\"   // Verringert die Lichtintensität, um die Temperatur zu senken (wenn das die Temperatur beeinflusst)\n        };\n    }\n    // Wenn der VPD im Zielbereich liegt, sind keine Anpassungen erforderlich.\n    node.warn(`Veggi-VPD: ${currentVPD} im gewünschten Bereich`);\n    return {\n        exhaustSpeed: \"unchanged\",\n        humidifier: \"unchanged\",\n        dehumidifier: \"unchanged\",    \n        heaterFan: \"unchanged\",        \n        coolerFan: \"unchanged\",        \n        ventsALL: \"unchanged\",       \n        ventsTopSpeed: \"unchanged\",\n        ventsDownSpeed: \"unchanged\",\n        lightIntensity: \"unchanged\"\n    };\n}\n\n// Entscheidungslogik zur Steuerung der Umgebungsbedingungen, nutzt die calculateAdjustment Funktion.\nconst adjustments = calculateAdjustment(currentVPD, targetVPDRange);\n\n// Berechnung der prozentualen Abweichung und Hinzufügen zum Payload\nmsg.payload = {\n    exhaustSpeed: adjustments.exhaustSpeed,\n    humidifier: adjustments.humidifier,\n    dehumidifier: adjustments.dehumidifier,\n    heaterFan: adjustments.heaterFan,\n    coolerFan: adjustments.coolerFan,\n    ventsALL: adjustments.ventsALL,\n    ventsTopSpeed: adjustments.ventsTopSpeed,\n    ventsDownSpeed: adjustments.ventsDownSpeed,\n    lightIntensity: adjustments.lightIntensity,\n    percentDifference: percentDifference\n};\n\nmsg.perfektion = \"VPDActions\";\n\n// Rückgabe des modifizierten Payloads für weitere Verwendung im Flow.\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":2400,"wires":[["61d3b1e40e8a29c1"]]},{"id":"61d3b1e40e8a29c1","type":"function","z":"3752d27d7587c957","g":"6dd36616a92a87a4","name":"Check What Do","func":"let outputs = [null, null, null, null, null, null, null, null, null];\n\nvar percentDifference = msg.payload.percentDifference\n\n// Abluft\nif (msg.payload.exhaustSpeed === \"unchanged\") {\n    outputs[0] = { payload: { value: msg.payload.exhaustSpeed, percentDifference: percentDifference }, topic: \"exhaustSpeed\" };\n} else if (msg.payload.exhaustSpeed === \"increased\") {\n    outputs[0] = { payload: { value: msg.payload.exhaustSpeed, percentDifference: percentDifference }, topic: \"exhaustSpeed\" };\n} else if (msg.payload.exhaustSpeed === \"reduced\") {\n    outputs[0] = { payload: { value: msg.payload.exhaustSpeed, percentDifference: percentDifference }, topic: \"exhaustSpeed\" };\n}\n\n// Humidifier\nif (msg.payload.humidifier === \"unchanged\") {\n    outputs[1] = { payload: { value: msg.payload.humidifier, percentDifference: percentDifference }, topic: \"humidifierSet\" };\n} else if (msg.payload.humidifier === \"increased\") {\n    outputs[1] = { payload: { value: msg.payload.humidifier, percentDifference: percentDifference }, topic: \"humidifierSet\" };\n} else if (msg.payload.humidifier === \"reduced\") {\n    outputs[1] = { payload: { value: msg.payload.humidifier, percentDifference: percentDifference }, topic: \"humidifierSet\" };\n}\n\n// Dehumidifier\nif (msg.payload.dehumidifier === \"unchanged\") {\n    outputs[2] = { payload: { value: msg.payload.dehumidifier, percentDifference: percentDifference }, topic: \"dehumidifier\" };\n} else if (msg.payload.dehumidifier === \"increased\") {\n    outputs[2] = { payload: { value: msg.payload.dehumidifier, percentDifference: percentDifference }, topic: \"dehumidifier\" };\n} else if (msg.payload.dehumidifier === \"reduced\") {\n    outputs[2] = { payload: { value: msg.payload.dehumidifier, percentDifference: percentDifference }, topic: \"dehumidifier\" };\n}\n\n// HeaterFan\nif (msg.payload.heaterFan === \"unchanged\") {\n    outputs[3] = { payload: { value: msg.payload.heaterFan, percentDifference: percentDifference }, topic: \"heaterFan\" };\n} else if (msg.payload.heaterFan === \"increased\") {\n    outputs[3] = { payload: { value: msg.payload.heaterFan, percentDifference: percentDifference }, topic: \"heaterFan\" };\n} else if (msg.payload.heaterFan === \"reduced\") {\n    outputs[3] = { payload: { value: msg.payload.heaterFan, percentDifference: percentDifference }, topic: \"heaterFan\" };\n}\n\n// CoolerFan\nif (msg.payload.coolerFan === \"unchanged\") {\n    outputs[4] = { payload: { value: msg.payload.coolerFan, percentDifference: percentDifference }, topic: \"coolerFan\" };\n} else if (msg.payload.coolerFan === \"increased\") {\n    outputs[4] = { payload: { value: msg.payload.coolerFan, percentDifference: percentDifference }, topic: \"coolerFan\" };\n} else if (msg.payload.coolerFan === \"reduced\") {\n    outputs[4] = { payload: { value: msg.payload.coolerFan, percentDifference: percentDifference }, topic: \"coolerFan\" };\n}\n\n// LightIntensity\nif (msg.payload.lightIntensity === \"unchanged\") {\n    outputs[5] = { payload: { value: msg.payload.lightIntensity, percentDifference: percentDifference }, topic: \"lightIntensity\" };\n} else if (msg.payload.lightIntensity === \"increased\") {\n    outputs[5] = { payload: { value: msg.payload.lightIntensity, percentDifference: percentDifference }, topic: \"lightIntensity\" };\n} else if (msg.payload.lightIntensity === \"reduced\") {\n    outputs[5] = { payload: { value: msg.payload.lightIntensity, percentDifference: percentDifference }, topic: \"lightIntensity\" };\n}\n\n// VentsALL\nif (msg.payload.ventsTopSpeed === \"unchanged\") {\n    outputs[6] = { payload: { value: msg.payload.ventsALL, percentDifference: percentDifference }, topic: \"ventsALL\" };\n} else if (msg.payload.ventsALL === \"increased\") {\n    outputs[6] = { payload: { value: msg.payload.ventsALL, percentDifference: percentDifference }, topic: \"ventsALL\" };\n} else if (msg.payload.ventsALL === \"reduced\") {\n    outputs[6] = { payload: { value: msg.payload.ventsALL, percentDifference: percentDifference }, topic: \"ventsALL\" };\n}\n\n// VentsTopSpeed\nif (msg.payload.ventsTopSpeed === \"unchanged\") {\n    outputs[7] = { payload: { value: msg.payload.ventsTopSpeed, percentDifference: percentDifference }, topic: \"ventsTopSpeed\" };\n} else if (msg.payload.ventsTopSpeed === \"increased\") {\n    outputs[7] = { payload: { value: msg.payload.ventsTopSpeed, percentDifference: percentDifference }, topic: \"ventsTopSpeed\" };\n} else if (msg.payload.ventsTopSpeed === \"reduced\") {\n    outputs[7] = { payload: { value: msg.payload.ventsTopSpeed, percentDifference: percentDifference }, topic: \"ventsTopSpeed\" };\n}\n\n// VentsDownSpeed\nif (msg.payload.ventsDownSpeed === \"unchanged\") {\n    outputs[8] = { payload: { value: msg.payload.ventsDownSpeed, percentDifference: percentDifference }, topic: \"ventsDownSpeed\" };\n} else if (msg.payload.ventsDownSpeed === \"increased\") {\n    outputs[8] = { payload: { value: msg.payload.ventsDownSpeed, percentDifference: percentDifference }, topic: \"ventsDownSpeed\" };\n} else if (msg.payload.ventsDownSpeed === \"reduced\") {\n    outputs[8] = { payload: { value: msg.payload.ventsDownSpeed, percentDifference: percentDifference }, topic: \"ventsDownSpeed\" };\n}\n\n\n\nreturn outputs;\n","outputs":9,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":2500,"wires":[["1be63f2cfa82df0a","35d15032ae312f91"],["1be63f2cfa82df0a","5cdc31c21212e9c4"],["1be63f2cfa82df0a","cd6ac2afbdcea5d6"],["1be63f2cfa82df0a","cc8e1d352455cdfd"],["1be63f2cfa82df0a","a9d916a797dd86c7"],["1be63f2cfa82df0a","4cc1aca6c377ea6e"],["1be63f2cfa82df0a","f1b87ae4b047d901"],["f1b87ae4b047d901"],["f1b87ae4b047d901"]]},{"id":"1be63f2cfa82df0a","type":"debug","z":"3752d27d7587c957","g":"6dd36616a92a87a4","name":"debug 139","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":2600,"wires":[]},{"id":"b7f3ca5cd432bab5","type":"poll-state","z":"3752d27d7587c957","g":"6dd36616a92a87a4","name":"currentVPD","server":"5772bf4c.b461d","version":3,"exposeAsEntityConfig":"","updateInterval":"30","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":true,"outputOnChanged":true,"entityId":"sensor.vpdvegi","stateType":"num","ifState":"","ifStateType":"num","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"currentVPD","valueType":"str"}],"x":230,"y":2460,"wires":[["9ac8cca8bbd8cc26"]]},{"id":"df5e74c7f7712579","type":"api-current-state","z":"3752d27d7587c957","g":"6dd36616a92a87a4","name":"TentSelection","server":"5772bf4c.b461d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"select.nodered_2b0a7710b4f6a58a","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"targetVPD","valueType":"str"},{"property":"perfektion","propertyType":"msg","value":"targetVPD","valueType":"str"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":250,"y":2320,"wires":[["2afcbf200982e39e"]]},{"id":"5772bf4c.b461d","type":"server","name":"OpenGrowBox","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]