NodeRed/0_Main/Core/Globals.json
[{"id":"06acd4b20e43ebca","type":"tab","label":"Globals","disabled":false,"info":"","env":[]},{"id":"28b0d068c70f684b","type":"group","z":"06acd4b20e43ebca","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["7133652db17a3480","342da06502c76007","d6e04975e1781dab","e0f06675a0f57c06"],"x":274,"y":79,"w":302,"h":162},{"id":"404d0274840916c7","type":"group","z":"06acd4b20e43ebca","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["8d521c0ad25a2741","498b420139c68178","a0636a9942a1768d","eb1e14424fc44d32"],"x":654,"y":79,"w":282,"h":162},{"id":"62ca1cbb1c008521","type":"group","z":"06acd4b20e43ebca","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["95db941af194b00a","162f081b218ae942","c87afd2db176106e","1140eef97cbe8d07"],"x":1014,"y":79,"w":302,"h":162},{"id":"2ed032bcd8d8fc97","type":"group","z":"06acd4b20e43ebca","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ca0d96c34b0b2594","fbe145fbf1efc03b","fe6c5b1df641bf24"],"x":14,"y":139,"w":212,"h":202},{"id":"54292956c333b23f","type":"group","z":"06acd4b20e43ebca","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["fda5147727773bdd"],"x":268,"y":253,"w":304,"h":234},{"id":"006962726c2bf026","type":"group","z":"06acd4b20e43ebca","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["772e5574b48097ec"],"x":1008,"y":253,"w":284,"h":234},{"id":"fc522ecb452d5d02","type":"group","z":"06acd4b20e43ebca","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["28063fd731271172"],"x":648,"y":253,"w":284,"h":234},{"id":"52a27586382bb1ef","type":"group","z":"06acd4b20e43ebca","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["2fd24cf5341093db","9c45f9c868ca9b0d","b6169762537cdb93","2eedfcd77e979f4d","8b4bd9fdcec34439","2adda7340a61618d","dcac2e8aaf2b782f","ffdb9e11ce6b9e9e","3d93471fe1360ca2","a9a7f4e1bdcd48ff","bfcdf367f86deaec","2cb6dfb81c8f6d23","a1151db838a105af","972658f0b1461c4a","e5ee7531fe11c0c7","e5b3121802163bfc"],"x":1354,"y":79,"w":1012,"h":362},{"id":"fda5147727773bdd","type":"group","z":"06acd4b20e43ebca","g":"54292956c333b23f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["e387af1f5dd04006","c909908d89ddf89f","745794723f1cf766"],"x":294,"y":279,"w":252,"h":182},{"id":"772e5574b48097ec","type":"group","z":"06acd4b20e43ebca","g":"006962726c2bf026","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["4d63d31c31b9ec72","866a5a3913e7e17c","38d06d19406370d3"],"x":1034,"y":279,"w":232,"h":182},{"id":"28063fd731271172","type":"group","z":"06acd4b20e43ebca","g":"fc522ecb452d5d02","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f947f4bc73ed6cbd","beb5dd70fad21ece","cf42387b60977efe"],"x":674,"y":279,"w":232,"h":182},{"id":"ca0d96c34b0b2594","type":"ha-number","z":"06acd4b20e43ebca","g":"2ed032bcd8d8fc97","name":"GlobalLeafTemp","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"10c9db02cb486656","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"}],"x":120,"y":300,"wires":[[]]},{"id":"7133652db17a3480","type":"ha-number","z":"06acd4b20e43ebca","g":"28b0d068c70f684b","name":"FlowerLeafTemp","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"e6f59d1d73093224","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"}],"x":380,"y":120,"wires":[["e0f06675a0f57c06"]]},{"id":"8d521c0ad25a2741","type":"ha-number","z":"06acd4b20e43ebca","g":"404d0274840916c7","name":"VeggiLeafTemp","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"0d4aa62025063e39","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"}],"x":760,"y":120,"wires":[["a0636a9942a1768d"]]},{"id":"95db941af194b00a","type":"ha-number","z":"06acd4b20e43ebca","g":"62ca1cbb1c008521","name":"GRoomLeafTemp","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"2c294ef3ef47f75d","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"}],"x":1120,"y":120,"wires":[["1140eef97cbe8d07"]]},{"id":"fbe145fbf1efc03b","type":"comment","z":"06acd4b20e43ebca","g":"2ed032bcd8d8fc97","name":"Globals","info":"","x":90,"y":240,"wires":[]},{"id":"fe6c5b1df641bf24","type":"ha-select","z":"06acd4b20e43ebca","g":"2ed032bcd8d8fc97","name":"LeafSetSelect","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"0acca6c6ffe536a2","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"}],"x":110,"y":180,"wires":[[]]},{"id":"342da06502c76007","type":"ha-number","z":"06acd4b20e43ebca","g":"28b0d068c70f684b","name":"FlowerTarget-VPD","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"7dd2240f65033c72","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"},{"property":"topic","propertyType":"msg","value":"TargetVPD","valueType":"str"}],"x":390,"y":200,"wires":[["d6e04975e1781dab"]]},{"id":"162f081b218ae942","type":"ha-number","z":"06acd4b20e43ebca","g":"62ca1cbb1c008521","name":"GRoom-Target-VPD","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"d222d6eb6c8489b2","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"},{"property":"topic","propertyType":"msg","value":"TargetVPD","valueType":"str"}],"x":1130,"y":200,"wires":[["c87afd2db176106e"]]},{"id":"498b420139c68178","type":"ha-number","z":"06acd4b20e43ebca","g":"404d0274840916c7","name":"VeggiTarget-VPD","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"9b20db2b6bd5562c","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"},{"property":"topic","propertyType":"msg","value":"TargetVPD","valueType":"str"}],"x":760,"y":200,"wires":[["eb1e14424fc44d32"]]},{"id":"d6e04975e1781dab","type":"link out","z":"06acd4b20e43ebca","g":"28b0d068c70f684b","name":"link out 1","mode":"link","links":[],"x":535,"y":200,"wires":[]},{"id":"e0f06675a0f57c06","type":"link out","z":"06acd4b20e43ebca","g":"28b0d068c70f684b","name":"link out 2","mode":"link","links":[],"x":495,"y":120,"wires":[]},{"id":"a0636a9942a1768d","type":"link out","z":"06acd4b20e43ebca","g":"404d0274840916c7","name":"link out 3","mode":"link","links":[],"x":875,"y":120,"wires":[]},{"id":"eb1e14424fc44d32","type":"link out","z":"06acd4b20e43ebca","g":"404d0274840916c7","name":"link out 4","mode":"link","links":[],"x":895,"y":200,"wires":[]},{"id":"c87afd2db176106e","type":"link out","z":"06acd4b20e43ebca","g":"62ca1cbb1c008521","name":"link out 5","mode":"link","links":[],"x":1275,"y":200,"wires":[]},{"id":"1140eef97cbe8d07","type":"link out","z":"06acd4b20e43ebca","g":"62ca1cbb1c008521","name":"link out 6","mode":"link","links":[],"x":1235,"y":120,"wires":[]},{"id":"e387af1f5dd04006","type":"comment","z":"06acd4b20e43ebca","g":"fda5147727773bdd","name":"TentSetupObjects","info":"","x":410,"y":320,"wires":[]},{"id":"c909908d89ddf89f","type":"ha-select","z":"06acd4b20e43ebca","g":"fda5147727773bdd","name":"FlowerTent-Modes","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"966c8337df68a0db","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"}],"x":410,"y":360,"wires":[[]]},{"id":"745794723f1cf766","type":"ha-select","z":"06acd4b20e43ebca","g":"fda5147727773bdd","name":"PlantStateFlowerTent","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"74408db15ce786e7","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"}],"x":420,"y":420,"wires":[[]]},{"id":"4d63d31c31b9ec72","type":"ha-select","z":"06acd4b20e43ebca","g":"772e5574b48097ec","name":"GRoomModes","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"2e3f07c643473a61","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"}],"x":1140,"y":420,"wires":[[]]},{"id":"866a5a3913e7e17c","type":"ha-select","z":"06acd4b20e43ebca","g":"772e5574b48097ec","name":"GRoom","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"5bb88ead3cc78693","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"},{"property":"topic","propertyType":"msg","value":"ChangePlanteState","valueType":"str"}],"x":1110,"y":380,"wires":[[]]},{"id":"38d06d19406370d3","type":"comment","z":"06acd4b20e43ebca","g":"772e5574b48097ec","name":"TentSetupObjects","info":"","x":1150,"y":320,"wires":[]},{"id":"f947f4bc73ed6cbd","type":"ha-select","z":"06acd4b20e43ebca","g":"28063fd731271172","name":"PlantStateVegTent","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"2b0a7710b4f6a58a","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"},{"property":"topic","propertyType":"msg","value":"ChangePlanteState","valueType":"str"}],"x":790,"y":380,"wires":[[]]},{"id":"beb5dd70fad21ece","type":"ha-select","z":"06acd4b20e43ebca","g":"28063fd731271172","name":"VegiTent-Modes","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"f152b5af3096b1e5","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"}],"x":780,"y":420,"wires":[[]]},{"id":"cf42387b60977efe","type":"comment","z":"06acd4b20e43ebca","g":"28063fd731271172","name":"TentSetupObjects","info":"","x":790,"y":320,"wires":[]},{"id":"a00cea8e365e26bb","type":"comment","z":"06acd4b20e43ebca","name":"GlobalSelects","info":"","x":110,"y":100,"wires":[]},{"id":"66d450d761eaf280","type":"comment","z":"06acd4b20e43ebca","name":"FlowerTent","info":"","x":340,"y":40,"wires":[]},{"id":"83fe0041f594d27c","type":"comment","z":"06acd4b20e43ebca","name":"VeggiTent","info":"","x":720,"y":40,"wires":[]},{"id":"1958454d1043537b","type":"comment","z":"06acd4b20e43ebca","name":"GrowRoom","info":"","x":1090,"y":40,"wires":[]},{"id":"2fd24cf5341093db","type":"comment","z":"06acd4b20e43ebca","g":"52a27586382bb1ef","name":"TentSetupObjects","info":"","x":1470,"y":120,"wires":[]},{"id":"9c45f9c868ca9b0d","type":"ha-number","z":"06acd4b20e43ebca","g":"52a27586382bb1ef","name":"DryTentDewPoint","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"73f4eb93439668cf","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"},{"property":"topic","propertyType":"msg","value":"DryTentDewPoint","valueType":"str"}],"x":1460,"y":280,"wires":[[]]},{"id":"b6169762537cdb93","type":"ha-number","z":"06acd4b20e43ebca","g":"52a27586382bb1ef","name":"DryTentTemp","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"b1ea27673763365a","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"},{"property":"topic","propertyType":"msg","value":"DryTentTemp","valueType":"str"}],"x":1450,"y":220,"wires":[[]]},{"id":"2eedfcd77e979f4d","type":"ha-select","z":"06acd4b20e43ebca","g":"52a27586382bb1ef","name":"DryTentMaster","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"5e8e4b22b2382ebb","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"},{"property":"topic","propertyType":"msg","value":"ChangePlanteState","valueType":"str"}],"x":1460,"y":160,"wires":[[]]},{"id":"8b4bd9fdcec34439","type":"poll-state","z":"06acd4b20e43ebca","g":"52a27586382bb1ef","name":"DryTentTemp","server":"5772bf4c.b461d","version":3,"exposeAsEntityConfig":"","updateInterval":"15","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":true,"outputOnChanged":true,"entityId":"number.drytenttemp","stateType":"num","ifState":"","ifStateType":"num","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"DryTentTemp","valueType":"str"}],"x":1650,"y":160,"wires":[["dcac2e8aaf2b782f"]]},{"id":"2adda7340a61618d","type":"poll-state","z":"06acd4b20e43ebca","g":"52a27586382bb1ef","name":"DryTentDewpoint","server":"5772bf4c.b461d","version":3,"exposeAsEntityConfig":"","updateInterval":"30","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":true,"outputOnChanged":true,"entityId":"number.drytentdewpoint","stateType":"num","ifState":"","ifStateType":"num","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"DryTentDewPoint","valueType":"str"}],"x":1660,"y":320,"wires":[["dcac2e8aaf2b782f"]]},{"id":"dcac2e8aaf2b782f","type":"join","z":"06acd4b20e43ebca","g":"52a27586382bb1ef","name":"DryVPDWish","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1720,"y":240,"wires":[["ffdb9e11ce6b9e9e","3d93471fe1360ca2","bfcdf367f86deaec"]]},{"id":"ffdb9e11ce6b9e9e","type":"function","z":"06acd4b20e43ebca","g":"52a27586382bb1ef","name":"HumidityCALC","func":"function calculateRelativeHumidity(T, Td) {\n    // Magnus-Formel Konstanten\n    const a = 17.27;\n    const b = 237.7;\n\n    // Berechnung des Sättigungsdampfdrucks (SDP) bei der aktuellen Temperatur\n    const saturationVaporPressure = 6.1078 * Math.exp((a * T) / (b + T));\n\n    // Berechnung des Sättigungsdampfdrucks (SDP) beim Taupunkt\n    const dewPointVaporPressure = 6.1078 * Math.exp((a * Td) / (b + Td));\n\n    // Berechnung der relativen Feuchtigkeit\n    const RH = 100 * (dewPointVaporPressure / saturationVaporPressure);\n\n    return Math.round(RH * 100) / 100; // Rundung auf zwei Dezimalstellen\n}\n\n// Lesen der Temperatur und des Taupunkts aus dem msg-Objekt\nconst temperature = parseFloat(msg.payload.DryTentTemp);\nconst dewPoint = parseFloat(msg.payload.DryTentDewPoint);\n\n// Validierung, ob die Eingaben Zahlen sind\nif (isNaN(temperature) || isNaN(dewPoint)) {\n    node.error(\"Invalid input data\", msg);\n    return null; // Stoppen der Ausführung bei ungültigen Daten\n}\n\n// Berechnung der relativen Feuchtigkeit\nlet humidity = calculateRelativeHumidity(temperature, dewPoint);\n\n// Setzen des Ergebnisses in msg.payload\nmsg.payload = humidity; // Zurückgeben eines Objekts mit der Feuchtigkeit\n\nreturn msg; // Weitergabe der Nachricht mit dem neuen Payload\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1900,"y":340,"wires":[["e5b3121802163bfc","e5ee7531fe11c0c7"]]},{"id":"3d93471fe1360ca2","type":"function","z":"06acd4b20e43ebca","g":"52a27586382bb1ef","name":"WISH VPD Creation","func":"function calculateVPD(luftTemperatur, dewPoint) {\n\n    // Stellen Sie sicher, dass alle Eingaben Zahlen sind\n    luftTemperatur = parseFloat(luftTemperatur);\n    dewPoint = parseFloat(dewPoint);\n\n    // Überprüfen Sie, ob einer der Werte NaN ist\n    if (isNaN(luftTemperatur) || isNaN(dewPoint)) {\n        return \"unavailable\";\n    }\n\n    // Berechnung des Sättigungsdampfdrucks (SDP) für Lufttemperatur\n    let sdpLuft = 0.6108 * Math.exp((17.27 * luftTemperatur) / (luftTemperatur + 237.3));\n    // Berechnung des tatsächlichen Dampfdrucks (ADP) am Taupunkt\n    let adp = 0.6108 * Math.exp((17.27 * dewPoint) / (dewPoint + 237.3));\n\n    // Berechnung des VPD\n    let vpd = sdpLuft - adp;\n\n\n    return vpd.toFixed(2);  // Rundet den VPD-Wert auf zwei Dezimalstellen\n}\n\n// Beispiel für die Verwendung der Funktion\nlet luftTemperatur = msg.payload.DryTentTemp; // Stellen Sie sicher, dass dies eine Zahl ist\nlet dewPoint = msg.payload.DryTentDewPoint; // Stellen Sie sicher, dass dies eine Zahl ist\n\nlet vpd = calculateVPD(luftTemperatur, dewPoint);\nlet vpdnum = parseFloat(vpd)\n\nmsg.topic = \"DryVPDWish\"\nmsg.payload = vpdnum;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1920,"y":120,"wires":[["a1151db838a105af"]]},{"id":"a9a7f4e1bdcd48ff","type":"ha-sensor","z":"06acd4b20e43ebca","g":"52a27586382bb1ef","name":"VaporPressureWish-Drying-Actual","entityConfig":"ff39c4ebf8b39710","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":2200,"y":260,"wires":[[]]},{"id":"bfcdf367f86deaec","type":"function","z":"06acd4b20e43ebca","g":"52a27586382bb1ef","name":"VaporPressure Getter","func":"function calculateVaporPressure(dewPoint) {\n    // Ensure input is a number\n    dewPoint = parseFloat(dewPoint);\n\n    // Check for NaN values\n    if (isNaN(dewPoint)) {\n        return \"unavailable\";\n    }\n\n    // Calculate vapor pressure using the formula (in mb)\n    let vaporPressure_mb = 6.11 * Math.pow(10, (7.5 * dewPoint) / (237.3 + dewPoint));\n\n    return vaporPressure_mb.toFixed(2);  // Round the vapor pressure to two decimal places\n}\n\nfunction calculateSaturationVaporPressure(temperature) {\n    // Ensure input is a number\n    temperature = parseFloat(temperature);\n\n    // Check for NaN values\n    if (isNaN(temperature)) {\n        return \"unavailable\";\n    }\n\n    // Calculate saturation vapor pressure using the formula (in mb)\n    let saturationVaporPressure_mb = 6.11 * Math.pow(10, (7.5 * temperature) / (237.3 + temperature));\n\n    return saturationVaporPressure_mb.toFixed(2);  // Round the vapor pressure to two decimal places\n}\n\n// Example usage of the function with debug logging\nlet temperature = parseFloat(msg.payload.DryTentTemp); // Ensure this is a number\nlet dewPoint = parseFloat(msg.payload.DryTentDewPoint); // Ensure this is a number\n\n// Check if inputs are valid numbers\nif (isNaN(temperature) || isNaN(dewPoint)) {\n    node.warn(\"Invalid input values\");\n    return [null, null]; // Return null for both outputs\n}\n\nlet saturationVaporPressure = calculateSaturationVaporPressure(temperature);\nlet actualVaporPressure = calculateVaporPressure(dewPoint);\n\n// Return the results as numeric values for each output\nreturn [\n    { payload: parseFloat(saturationVaporPressure) }, // First output: Saturation Vapor Pressure\n    { payload: parseFloat(actualVaporPressure) }      // Second output: Actual Vapor Pressure\n];\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1920,"y":240,"wires":[["2cb6dfb81c8f6d23"],["a9a7f4e1bdcd48ff"]]},{"id":"2cb6dfb81c8f6d23","type":"ha-sensor","z":"06acd4b20e43ebca","g":"52a27586382bb1ef","name":"VaporPressure-Drying-Saturation","entityConfig":"353aed64cee4c57c","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":2200,"y":200,"wires":[[]]},{"id":"a1151db838a105af","type":"ha-sensor","z":"06acd4b20e43ebca","g":"52a27586382bb1ef","name":"VPD-DryTent","entityConfig":"16cdce977a2e1395","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":2130,"y":120,"wires":[[]]},{"id":"972658f0b1461c4a","type":"ha-sensor","z":"06acd4b20e43ebca","g":"52a27586382bb1ef","name":"WaterActivityWish","entityConfig":"3ea1f76a87bc8d2e","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":2170,"y":400,"wires":[[]]},{"id":"e5ee7531fe11c0c7","type":"function","z":"06acd4b20e43ebca","g":"52a27586382bb1ef","name":"WaterActivityWish","func":"// Input RH\nlet relativeHumidity = parseFloat(msg.payload);\n\n// Check if input is valid\nif (isNaN(relativeHumidity) || relativeHumidity < 0 || relativeHumidity > 100) {\n    msg.payload = \"Invalid RH value\";\n    return msg;\n}\n\n// Calculate water activity (aw)\nlet waterActivity = relativeHumidity / 100;\n\n// Output the result\nmsg.payload = waterActivity.toFixed(2); // Round to 2 decimal places\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1910,"y":400,"wires":[["972658f0b1461c4a"]]},{"id":"e5b3121802163bfc","type":"ha-sensor","z":"06acd4b20e43ebca","g":"52a27586382bb1ef","name":"DryTentWishHumidity","entityConfig":"73178f44c6896881","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":2160,"y":320,"wires":[[]]},{"id":"621d610fa0ab9742","type":"comment","z":"06acd4b20e43ebca","name":"DryiongTent","info":"","x":1490,"y":40,"wires":[]},{"id":"10c9db02cb486656","type":"ha-entity-config","server":"home-assistant-server","deviceConfig":"","name":"GlobalLeafTemp","version":"6","entityType":"number","haConfig":[{"property":"name","value":"LeafTempOffset"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":"diagnostic"},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"min_value","value":0},{"property":"max_value","value":2},{"property":"step_value","value":0.1},{"property":"mode","value":"slider"}],"resend":false,"debugEnabled":false},{"id":"e6f59d1d73093224","type":"ha-entity-config","server":"home-assistant-server","deviceConfig":"","name":"FlowerLeafTemp","version":"6","entityType":"number","haConfig":[{"property":"name","value":"FlowerLeafTemp"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":"config"},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"min_value","value":0},{"property":"max_value","value":2},{"property":"step_value","value":0.1},{"property":"mode","value":"slider"}],"resend":false,"debugEnabled":false},{"id":"0d4aa62025063e39","type":"ha-entity-config","server":"home-assistant-server","deviceConfig":"","name":"VeggiLeafTemp","version":"6","entityType":"number","haConfig":[{"property":"name","value":"VeggiLeafTemp"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"min_value","value":0},{"property":"max_value","value":2},{"property":"step_value","value":0.1},{"property":"mode","value":"slider"}],"resend":false,"debugEnabled":false},{"id":"2c294ef3ef47f75d","type":"ha-entity-config","server":"home-assistant-server","deviceConfig":"","name":"GRoomLeafTemp","version":"6","entityType":"number","haConfig":[{"property":"name","value":"GRoomLeafTemp"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":"config"},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"min_value","value":0},{"property":"max_value","value":2},{"property":"step_value","value":0.1},{"property":"mode","value":"auto"}],"resend":false,"debugEnabled":false},{"id":"0acca6c6ffe536a2","type":"ha-entity-config","server":"home-assistant-server","deviceConfig":"","name":"LeafSet","version":"6","entityType":"select","haConfig":[{"property":"name","value":"LeafSet"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":"config"},{"property":"options","value":["Default","Custom"]}],"resend":false,"debugEnabled":false},{"id":"7dd2240f65033c72","type":"ha-entity-config","server":"home-assistant-server","deviceConfig":"","name":"FlowerTarget-VPD","version":"6","entityType":"number","haConfig":[{"property":"name","value":"FlowerTarget-VPD"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":"diagnostic"},{"property":"device_class","value":"pressure"},{"property":"unit_of_measurement","value":"kPa"},{"property":"min_value","value":0},{"property":"max_value","value":2},{"property":"step_value","value":0.01},{"property":"mode","value":"auto"}],"resend":false,"debugEnabled":false},{"id":"d222d6eb6c8489b2","type":"ha-entity-config","server":"home-assistant-server","deviceConfig":"","name":"GRoom-Target-VPD","version":"6","entityType":"number","haConfig":[{"property":"name","value":"GRoom-Target-VPD"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":"diagnostic"},{"property":"device_class","value":"pressure"},{"property":"unit_of_measurement","value":"kPa"},{"property":"min_value","value":0},{"property":"max_value","value":2},{"property":"step_value","value":0.01},{"property":"mode","value":"slider"}],"resend":false,"debugEnabled":false},{"id":"9b20db2b6bd5562c","type":"ha-entity-config","server":"home-assistant-server","deviceConfig":"","name":"VeggiTarget-VPD","version":"6","entityType":"number","haConfig":[{"property":"name","value":"VeggiTarget-VPD"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"pressure"},{"property":"unit_of_measurement","value":"kPa"},{"property":"min_value","value":0},{"property":"max_value","value":1.8},{"property":"step_value","value":0.01},{"property":"mode","value":"slider"}],"resend":false,"debugEnabled":false},{"id":"966c8337df68a0db","type":"ha-entity-config","server":"5772bf4c.b461d","deviceConfig":"","name":"FlowerTentModes","version":"6","entityType":"select","haConfig":[{"property":"name","value":"FlowerTentModes"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"options","value":["VPD Perfection","IN-VPD-Range","Targeted VPD","CropSteering","Disabled"]}],"resend":false,"debugEnabled":false},{"id":"74408db15ce786e7","type":"ha-entity-config","server":"5772bf4c.b461d","deviceConfig":"","name":"FlowerTent","version":"6","entityType":"select","haConfig":[{"property":"name","value":"FlowerTent"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"options","value":["Germination","Clones","EarlyVeg","MidVeg","LateVeg","EarlyFlower","MidFlower","LateFlower"]}],"resend":false,"debugEnabled":false},{"id":"2e3f07c643473a61","type":"ha-entity-config","server":"home-assistant-server","deviceConfig":"","name":"GRoomModes","version":"6","entityType":"select","haConfig":[{"property":"name","value":"GRoomModes"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"options","value":["VPD Perfection","IN-VPD-Range","Targeted VPD","CropSteering","Disabled"]}],"resend":false,"debugEnabled":false},{"id":"5bb88ead3cc78693","type":"ha-entity-config","server":"home-assistant-server","deviceConfig":"","name":"GRoom","version":"6","entityType":"select","haConfig":[{"property":"name","value":"GRoom"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"options","value":["Germination","Clones","EarlyVeg","MidVeg","LateVeg","EarlyFlower","MidFlower","LateFlower"]}],"resend":false,"debugEnabled":false},{"id":"2b0a7710b4f6a58a","type":"ha-entity-config","server":"5772bf4c.b461d","deviceConfig":"","name":"VegiTent","version":"6","entityType":"select","haConfig":[{"property":"name","value":"VegiTent"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":"config"},{"property":"options","value":["Germination","Clones","EarlyVeg","MidVeg","LateVeg","EarlyFlower","MidFlower","LateFlower"]}],"resend":false,"debugEnabled":false},{"id":"f152b5af3096b1e5","type":"ha-entity-config","server":"5772bf4c.b461d","deviceConfig":"","name":"VegiTentModes","version":"6","entityType":"select","haConfig":[{"property":"name","value":"VegiTentModes"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"options","value":["VPD Perfection","IN-VPD-Range","Targeted VPD","CropSteering","Disabled"]}],"resend":false,"debugEnabled":false},{"id":"73f4eb93439668cf","type":"ha-entity-config","server":"5772bf4c.b461d","deviceConfig":"","name":"DryTentDewPoint","version":"6","entityType":"number","haConfig":[{"property":"name","value":"DryTentDewPoint"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"min_value","value":8},{"property":"max_value","value":15},{"property":"step_value","value":0.25},{"property":"mode","value":"slider"}],"resend":false,"debugEnabled":false},{"id":"b1ea27673763365a","type":"ha-entity-config","server":"5772bf4c.b461d","deviceConfig":"","name":"DryTentTemp","version":"6","entityType":"number","haConfig":[{"property":"name","value":"DryTentTemp"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":"config"},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"min_value","value":12},{"property":"max_value","value":25},{"property":"step_value","value":0.25},{"property":"mode","value":"slider"}],"resend":false,"debugEnabled":false},{"id":"5e8e4b22b2382ebb","type":"ha-entity-config","server":"5772bf4c.b461d","deviceConfig":"","name":"DryTentCana","version":"6","entityType":"select","haConfig":[{"property":"name","value":"DryTentCana"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":"config"},{"property":"options","value":["Drying","Curing","Holding","DarkRoom","Disabled"]}],"resend":false,"debugEnabled":false},{"id":"5772bf4c.b461d","type":"server","name":"OpenGrowBox","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"ff39c4ebf8b39710","type":"ha-entity-config","server":"5772bf4c.b461d","deviceConfig":"","name":"VaporPressure-Drying-Actual","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"VaporPressureWish-Drying-Actual"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":"diagnostic"},{"property":"device_class","value":"pressure"},{"property":"unit_of_measurement","value":"mbar"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"353aed64cee4c57c","type":"ha-entity-config","server":"5772bf4c.b461d","deviceConfig":"","name":"VPD-Drying-Wish-Saturation","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"VPD-Drying-Wish-Saturation"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":"diagnostic"},{"property":"device_class","value":"pressure"},{"property":"unit_of_measurement","value":"mbar"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"16cdce977a2e1395","type":"ha-entity-config","server":"5772bf4c.b461d","deviceConfig":"","name":"VPD-Wish-DryTent","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"VPD-Wish-DryTent"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":"diagnostic"},{"property":"device_class","value":"pressure"},{"property":"unit_of_measurement","value":"kPa"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"3ea1f76a87bc8d2e","type":"ha-entity-config","server":"5772bf4c.b461d","deviceConfig":"","name":"WaterActivityWish","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"WaterActivityWish"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":"diagnostic"},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"73178f44c6896881","type":"ha-entity-config","server":"5772bf4c.b461d","deviceConfig":"","name":"DryTentWishHumidity","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"DryTentWishHumidity"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":"diagnostic"},{"property":"device_class","value":"humidity"},{"property":"unit_of_measurement","value":"%"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"home-assistant-server","type":"server","name":"Home Assistant","addon":true}]