NodeRed/Helpers/Addons/MInMax/Hum_min_max.json
[{"id":"c4369787c7512e37","type":"tab","label":"Min/MAXControll","disabled":false,"info":"","env":[]},{"id":"cfbe099c7819aa2e","type":"debug","z":"c4369787c7512e37","name":"debug 38","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":100,"wires":[]},{"id":"dd6cff4d151a82f2","type":"function","z":"c4369787c7512e37","name":"Humidity over 70% and under 50%","func":"let outputs = [null, null, null]; // Initialisiere alle Outputs mit null\n\nif (msg.payload >= 75) {\n    node.warn(`Flower Humidity: ${msg.payload}% is too high.`);\n    outputs[0] = { payload: \"Turn on exhaust\", topic: \"ExhaustOn\" };\n} else if (msg.payload <= 30) {\n    node.warn(`Flower Humidity: ${msg.payload}% is too low.`);\n    outputs[1] = { payload: \"Turn on humidifier\", topic: \"HumidifierOn\" };\n} else {\n    node.warn(\"Flower Humidity is within the acceptable range.\");\n    outputs[2] = { payload: \"Flower Nothing to do\", topic: \"HumidityFine\" };\n}\n\nreturn outputs;\n","outputs":3,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":100,"wires":[["cfbe099c7819aa2e","63a840daca8b0fd0"],["cfbe099c7819aa2e","b28ebfef4408ce48"],["cfbe099c7819aa2e"]]},{"id":"63a840daca8b0fd0","type":"api-call-service","z":"c4369787c7512e37","name":"AirCtrlOnFlower","server":"5772bf4c.b461d","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":["flowertent"],"deviceId":[],"entityId":["switch.abluftan"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":420,"y":40,"wires":[["5a1ef254d4d0a0b1"]]},{"id":"40989c1ebe97939c","type":"api-call-service","z":"c4369787c7512e37","name":"AirCtrlOffFlower","server":"5772bf4c.b461d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":["flowertent"],"deviceId":[],"entityId":["switch.abluftan"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":140,"wires":[[]]},{"id":"6923443cb8d9fcb4","type":"http request","z":"c4369787c7512e37","name":"DutyPostChange","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.1.1.253:5533/air/ctrl","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":770,"y":40,"wires":[[]]},{"id":"5a1ef254d4d0a0b1","type":"function","z":"c4369787c7512e37","name":"DutyChanger","func":"\nconst NewDuty = msg.newDuty\n\nmsg.payload = { \"newDuty\": 95}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":40,"wires":[["6923443cb8d9fcb4"]]},{"id":"3e2a85b487a4c1bc","type":"http request","z":"c4369787c7512e37","name":"DutyPostChange","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.1.1.253:5533/air/ctrl","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":590,"y":140,"wires":[[]]},{"id":"b28ebfef4408ce48","type":"function","z":"c4369787c7512e37","name":"DutyChanger","func":"\nconst NewDuty = msg.newDuty\n\nmsg.payload = { \"newDuty\": 5}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":140,"wires":[["3e2a85b487a4c1bc"]]},{"id":"19d82771da79b681","type":"debug","z":"c4369787c7512e37","name":"debug 55","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":260,"wires":[]},{"id":"37842b62d61b2457","type":"function","z":"c4369787c7512e37","name":"Humidity over 70% and under 50%","func":"let outputs = [null, null, null]; // Initialisiere alle Outputs mit null\n\nif (msg.payload >= 75) {\n    node.warn(`VEGI Humidity: ${msg.payload}% is too high.`);\n    outputs[0] = { payload: \"VEGI: Turn on exhaust\", topic: \"ExhaustOn\" };\n} else if (msg.payload <= 45) {\n    node.warn(`VEGI Humidity: ${msg.payload}% is too low.`);\n    outputs[1] = { payload: \"VEGI: Turn on humidifier\", topic: \"HumidifierOn\" };\n} else {\n    node.warn(\"VEGI Humidity is within the acceptable range.\");\n    outputs[2] = { payload: \"VEGI Nothing to do\", topic: \"HumidityFine\" };\n}\n\nreturn outputs;\n","outputs":3,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":260,"wires":[["19d82771da79b681","2795cedeb0eb21ac"],["19d82771da79b681","c7107a0ab6b234ee"],["19d82771da79b681"]]},{"id":"2795cedeb0eb21ac","type":"api-call-service","z":"c4369787c7512e37","name":"AirCtrlOnVeggi","server":"5772bf4c.b461d","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":["vegitent"],"deviceId":[],"entityId":["switch.ruckecvegi"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":400,"y":200,"wires":[["9bbb6dd752c015fe"]]},{"id":"a5fc7672ff949d1a","type":"api-call-service","z":"c4369787c7512e37","name":"AirCtrlOffVeggi","server":"5772bf4c.b461d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":["vegitent"],"deviceId":[],"entityId":["switch.ruckecvegi"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":320,"wires":[[]]},{"id":"a3de24b3dad6b4f8","type":"http request","z":"c4369787c7512e37","name":"DutyPostChange","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.1.1.235:5533/air/ctrl","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":770,"y":200,"wires":[[]]},{"id":"9bbb6dd752c015fe","type":"function","z":"c4369787c7512e37","name":"DutyChanger","func":"\nconst NewDuty = msg.newDuty\n\nmsg.payload = { \"newDuty\": 95}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":200,"wires":[["a3de24b3dad6b4f8"]]},{"id":"bf0f0cf5e5de9f73","type":"http request","z":"c4369787c7512e37","name":"DutyPostChange","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.1.1.235:5533/air/ctrl","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":570,"y":320,"wires":[[]]},{"id":"c7107a0ab6b234ee","type":"function","z":"c4369787c7512e37","name":"DutyChanger","func":"\nconst NewDuty = msg.newDuty\n\nmsg.payload = { \"newDuty\": 5}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":320,"wires":[["bf0f0cf5e5de9f73"]]},{"id":"5772bf4c.b461d","type":"server","name":"OpenGrowBox","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]
