NodeRed/Helpers/Addons/MInMax/HumidityOverClimateMinMax.json
[{"id":"497746479afb08b4","type":"group","z":"4ad106a4cfadd543","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["df57030cb83cae8b","2b9b3b4b8a7c7eb8","501da574b9c2ea21","8c97e618b2e76fec","746983b50ac6064f","db3f97135b0f3cec","27fc8d6da1139b35","815be8afa1fd46a3"],"x":914,"y":679,"w":792,"h":222},{"id":"df57030cb83cae8b","type":"poll-state","z":"4ad106a4cfadd543","g":"497746479afb08b4","name":"KLima","server":"5772bf4c.b461d","version":3,"exposeAsEntityConfig":"","updateInterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":false,"outputOnChanged":false,"entityId":"climate.klima","stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"Klima","valueType":"str"}],"x":990,"y":740,"wires":[["27fc8d6da1139b35"]]},{"id":"2b9b3b4b8a7c7eb8","type":"function","z":"4ad106a4cfadd543","g":"497746479afb08b4","name":"function 15","func":"const growTent = flow.get(\"FlowerTentInstance\");\n\n\nconst hum = msg.payload.Humidity;\nconst Klima = msg.payload.Klima;\n\nif (hum >= 58) {\n    return [{ payload: \"On\" }, null];  // \"On\" wird an den ersten Ausgang gesendet\n} else if (hum < 52 && Klima === \"dry\") {\n    return [null, { payload: \"Off\" }]; // \"Off\" wird an den zweiten Ausgang gesendet\n}\nreturn null; // Keine Nachricht senden, wenn der Wert zwischen 65 und 70 liegt oder Klima nicht \"on\" ist\n","outputs":3,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1310,"y":780,"wires":[["501da574b9c2ea21","8c97e618b2e76fec"],["501da574b9c2ea21","746983b50ac6064f"],[]]},{"id":"501da574b9c2ea21","type":"debug","z":"4ad106a4cfadd543","g":"497746479afb08b4","name":"debug 340","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1530,"y":860,"wires":[]},{"id":"8c97e618b2e76fec","type":"api-call-service","z":"4ad106a4cfadd543","g":"497746479afb08b4","name":"","server":"5772bf4c.b461d","version":7,"debugenabled":false,"action":"climate.set_hvac_mode","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"hvac_mode\":\"dry\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"climate","service":"set_hvac_mode","output_location":"","output_location_type":"none","x":1570,"y":740,"wires":[[]]},{"id":"746983b50ac6064f","type":"api-call-service","z":"4ad106a4cfadd543","g":"497746479afb08b4","name":"","server":"5772bf4c.b461d","version":7,"debugenabled":false,"action":"climate.turn_off","floorId":[],"areaId":[],"deviceId":["15d300c1a4a33d6819be07b9d387357b"],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"climate","service":"turn_off","output_location":"","output_location_type":"none","x":1540,"y":800,"wires":[[]]},{"id":"db3f97135b0f3cec","type":"inject","z":"4ad106a4cfadd543","g":"497746479afb08b4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1320,"y":720,"wires":[["8c97e618b2e76fec"]]},{"id":"27fc8d6da1139b35","type":"join","z":"4ad106a4cfadd543","g":"497746479afb08b4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1150,"y":800,"wires":[["501da574b9c2ea21"]]},{"id":"815be8afa1fd46a3","type":"poll-state","z":"4ad106a4cfadd543","g":"497746479afb08b4","name":"Humidity","server":"5772bf4c.b461d","version":3,"exposeAsEntityConfig":"","updateInterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":false,"outputOnChanged":false,"entityId":"sensor.h5179_485d_humidity","stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"Humidity","valueType":"str"}],"x":1000,"y":840,"wires":[["27fc8d6da1139b35"]]},{"id":"5772bf4c.b461d","type":"server","name":"OpenGrowBox","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]