NodeRed/Helpers/TentModeFunc/Targeted-VDP/targetedVPD.json
[{"id":"6cf5696812d57be3","type":"join","z":"3752d27d7587c957","name":"DehumidifierData","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1130,"y":3920,"wires":[["46652e4f7fa064c8"]]},{"id":"95e5b2b4eb2e97d1","type":"link in","z":"3752d27d7587c957","name":"Dehumidifier","links":[],"x":1055,"y":3880,"wires":[["6cf5696812d57be3"]]},{"id":"46652e4f7fa064c8","type":"function","z":"3752d27d7587c957","name":"DehumidifierSetup","func":"let outputs = [null, null]; // Array für zwei Ausgänge\n\nlet dehumidifierState = null;\n\n// Schleife, um den Zustand des Dehumidifier zu finden\nfor (let i = 0; i < msg.payload.dehumidifier.length; i++) {\n    if (msg.payload.dehumidifier[i].entity_id.includes('dehumidifier')) {\n        dehumidifierState = msg.payload.dehumidifier[i].value;\n        break;\n    }\n}\n\n// Dehumidifier starten\nif (msg.payload.dehumidifierSet.value === \"increased\" && dehumidifierState === \"off\") {\n    outputs[0] = { payload: \"Starte Dehumidifier\", topic: \"Start\" };\n}\n\n// Dehumidifier stoppen\nif (msg.payload.dehumidifierSet.value === \"reduced\" && dehumidifierState === \"on\") {\n    outputs[1] = { payload: \"Stoppe Dehumidifier\", topic: \"Stop\" };\n}\n\n// Nichts tun\nif (msg.payload.dehumidifierSet.value === \"unchanged\") {\n    outputs[2] = { payload: \"Dehumidifier unverändert, keine Aktion erforderlich\", topic: \"Nothing\" };\n}\n\nreturn outputs; // Rückgabe des Ausgangsarrays\n","outputs":4,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1330,"y":3920,"wires":[["2e93fd9c25455c2c"],["fda35f8ca843aea6"],["79ac4097ae67060a"],[]]},{"id":"2ad44f87f6fa5e81","type":"join","z":"3752d27d7587c957","name":"HeaterData","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1130,"y":4040,"wires":[["08d45e131eabbe89"]]},{"id":"fcdf86b25d7b2f50","type":"link in","z":"3752d27d7587c957","name":"link in 57","links":[],"x":1065,"y":4000,"wires":[["2ad44f87f6fa5e81"]]},{"id":"08d45e131eabbe89","type":"function","z":"3752d27d7587c957","name":"HeaterSetup","func":"let outputs = [null, null]; // Array für zwei Ausgänge\n\nlet heaterState = null;\n\n// Schleife, um den Zustand des Heater zu finden\nfor (let i = 0; i < msg.payload.heater.length; i++) {\n    if (msg.payload.heater[i].entity_id.includes('heater')) {\n        heaterState = msg.payload.heater[i].value;\n        break;\n    }\n}\n\n// Heater starten\nif (msg.payload.heaterSet.value === \"increased\" && heaterState === \"off\") {\n    outputs[0] = { payload: \"Start Heater\", topic: \"Start\" };\n}\n\n// Heater stoppen\nif (msg.payload.heaterSet.value === \"reduced\" && heaterState === \"on\") {\n    outputs[1] = { payload: \"Stop Heater\", topic: \"Stop\" };\n}\n\n// Nichts tun\nif (msg.payload.heaterSet.value === \"unchanged\") {\n    outputs[2] = { payload: \"Heater unverändert, keine Aktion erforderlich\", topic: \"Nothing\" };\n}\n\nreturn outputs; // Rückgabe des Ausgangsarrays\n","outputs":4,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1330,"y":4040,"wires":[["783af07254542ae0"],["dc008f3d2a003ce3"],["f3f0d6fc035a1d60"],[]]},{"id":"421837d7e3ab3660","type":"join","z":"3752d27d7587c957","name":"CoolerData","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1130,"y":4140,"wires":[["e98a8ba2f2331856"]]},{"id":"987e71df4b412d81","type":"link in","z":"3752d27d7587c957","name":"link in 58","links":[],"x":1065,"y":4100,"wires":[["421837d7e3ab3660"]]},{"id":"e98a8ba2f2331856","type":"function","z":"3752d27d7587c957","name":"CoolerSetup","func":"let outputs = [null, null]; // Array für zwei Ausgänge\n\nlet coolerState = null;\n\n// Schleife, um den Zustand des Cooler zu finden\nfor (let i = 0; i < msg.payload.cooler.length; i++) {\n    if (msg.payload.cooler[i].entity_id.includes('cooler')) {\n        coolerState = msg.payload.cooler[i].value;\n        break;\n    }\n}\n\n// Cooler starten\nif (msg.payload.coolerSet.value === \"increased\" && coolerState === \"off\") {\n    outputs[0] = { payload: \"Start Cooler\", topic: \"Start\" };\n}\n\n// Cooler stoppen\nif (msg.payload.coolerSet.value === \"reduced\" && coolerState === \"on\") {\n    outputs[1] = { payload: \"Stop Cooler\", topic: \"Stop\" };\n}\n\n// Nichts tun\nif (msg.payload.coolerSet.value === \"unchanged\") {\n    outputs[2] = { payload: \"Cooler unverändert, keine Aktion erforderlich\", topic: \"Nothing\" };\n}\n\nreturn outputs; // Rückgabe des Ausgangsarrays\n","outputs":4,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1330,"y":4140,"wires":[["713a1d96bb443aa8"],["a84708f2b33080e3"],["ef22363aa6f48c35"],[]]},{"id":"bec7ac4a54384ac3","type":"join","z":"3752d27d7587c957","name":"LightData","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1130,"y":4240,"wires":[["fca810477f0e5381"]]},{"id":"41de8e03b3fa7d57","type":"link in","z":"3752d27d7587c957","name":"link in 59","links":[],"x":1065,"y":4200,"wires":[["bec7ac4a54384ac3"]]},{"id":"fca810477f0e5381","type":"function","z":"3752d27d7587c957","name":"LightSetup","func":"let outputs = [null, null]; // Array für zwei Ausgänge\n\nlet lightState = null;\n\n// Schleife, um den Zustand des Befeuchters zu finden\nfor (let i = 0; i < msg.payload.light.length; i++) {\n    if (msg.payload.light[i].entity_id.includes('light')) {\n        lightState = msg.payload.light[i].value;\n        break;\n    }\n}\n\n// Befeuchter starten\nif (msg.payload.lightSet.value === \"increased\" && lightState === \"off\") {\n    outputs[0] = { payload: \"Starte Befeuchter\", topic: \"Start\" };\n}\n\n// Befeuchter stoppen\nif (msg.payload.lightSet.value === \"reduced\" && lightState === \"on\") {\n    outputs[1] = { payload: \"Stoppe Befeuchter\", topic: \"Stop\" };\n}\n\n// Nichts tun\nif (msg.payload.lightSet.value === \"unchanged\") {\n    outputs[2] = { payload: \"Befeuchter unverändert, keine Aktion erforderlich\", topic: \"Nothing\" };\n}\n\nreturn outputs; // Rückgabe des Ausgangsarrays\n","outputs":4,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1330,"y":4240,"wires":[["e293a706a41e9cab"],["2f5d3400ddc79aa6"],["26bd982847aa951f"],[]]},{"id":"02be17afe53984a1","type":"join","z":"3752d27d7587c957","name":"VentsData","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1130,"y":4340,"wires":[["7f8500b13ddf3a4c"]]},{"id":"72dde32d3e35cd1d","type":"link in","z":"3752d27d7587c957","name":"link in 60","links":[],"x":1075,"y":4300,"wires":[["02be17afe53984a1"]]},{"id":"7f8500b13ddf3a4c","type":"function","z":"3752d27d7587c957","name":"VentsSetup","func":"let outputs = [null, null]; // Array für zwei Ausgänge\n\nlet ventsState = null;\n\n// Schleife, um den Zustand des Befeuchters zu finden\nfor (let i = 0; i < msg.payload.vents.length; i++) {\n    if (msg.payload.vents[i].entity_id.includes('vents')) {\n        ventsState = msg.payload.vents[i].value;\n        break;\n    }\n}\n\n// Befeuchter starten\nif (msg.payload.ventsSet.value === \"increased\" && ventsState === \"off\") {\n    outputs[0] = { payload: \"Starte Befeuchter\", topic: \"Start\" };\n}\n\n// Befeuchter stoppen\nif (msg.payload.ventsSet.value === \"reduced\" && ventsState === \"on\") {\n    outputs[1] = { payload: \"Stoppe Befeuchter\", topic: \"Stop\" };\n}\n\n// Nichts tun\nif (msg.payload.ventsSet.value === \"unchanged\") {\n    outputs[2] = { payload: \"Befeuchter unverändert, keine Aktion erforderlich\", topic: \"Nothing\" };\n}\n\nreturn outputs; // Rückgabe des Ausgangsarrays\n","outputs":4,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1330,"y":4340,"wires":[["a9c096561918c210"],["7e4c5cb65357730f"],["4a91a531acaf0778"],[]]},{"id":"2e93fd9c25455c2c","type":"link out","z":"3752d27d7587c957","name":"link out 173","mode":"link","links":[],"x":1485,"y":3900,"wires":[]},{"id":"fda35f8ca843aea6","type":"link out","z":"3752d27d7587c957","name":"link out 174","mode":"link","links":[],"x":1535,"y":3920,"wires":[]},{"id":"79ac4097ae67060a","type":"link out","z":"3752d27d7587c957","name":"link out 175","mode":"link","links":[],"x":1585,"y":3940,"wires":[]},{"id":"783af07254542ae0","type":"link out","z":"3752d27d7587c957","name":"link out 176","mode":"link","links":[],"x":1465,"y":4020,"wires":[]},{"id":"dc008f3d2a003ce3","type":"link out","z":"3752d27d7587c957","name":"link out 177","mode":"link","links":[],"x":1525,"y":4040,"wires":[]},{"id":"f3f0d6fc035a1d60","type":"link out","z":"3752d27d7587c957","name":"link out 178","mode":"link","links":[],"x":1575,"y":4060,"wires":[]},{"id":"713a1d96bb443aa8","type":"link out","z":"3752d27d7587c957","name":"link out 179","mode":"link","links":[],"x":1475,"y":4120,"wires":[]},{"id":"a84708f2b33080e3","type":"link out","z":"3752d27d7587c957","name":"link out 180","mode":"link","links":[],"x":1535,"y":4140,"wires":[]},{"id":"ef22363aa6f48c35","type":"link out","z":"3752d27d7587c957","name":"link out 181","mode":"link","links":[],"x":1585,"y":4160,"wires":[]},{"id":"e293a706a41e9cab","type":"link out","z":"3752d27d7587c957","name":"link out 182","mode":"link","links":[],"x":1445,"y":4220,"wires":[]},{"id":"2f5d3400ddc79aa6","type":"link out","z":"3752d27d7587c957","name":"link out 183","mode":"link","links":[],"x":1505,"y":4240,"wires":[]},{"id":"26bd982847aa951f","type":"link out","z":"3752d27d7587c957","name":"link out 184","mode":"link","links":[],"x":1565,"y":4260,"wires":[]},{"id":"a9c096561918c210","type":"link out","z":"3752d27d7587c957","name":"link out 185","mode":"link","links":[],"x":1455,"y":4320,"wires":[]},{"id":"7e4c5cb65357730f","type":"link out","z":"3752d27d7587c957","name":"link out 186","mode":"link","links":[],"x":1495,"y":4340,"wires":[]},{"id":"4a91a531acaf0778","type":"link out","z":"3752d27d7587c957","name":"link out 187","mode":"link","links":[],"x":1555,"y":4360,"wires":[]},{"id":"4d0994dbb8342583","type":"group","z":"3752d27d7587c957","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["68ee62b055484931","8ed8f6ad2ede514d","35533e64c19a08ec","77401e0fc8edc860","f63d51ad02ce38e6","6a3aec156e46717d"],"x":994,"y":3619,"w":602,"h":162},{"id":"68ee62b055484931","type":"function","z":"3752d27d7587c957","g":"4d0994dbb8342583","name":"BefeuchterSetup","func":"let outputs = [null, null]; // Array für zwei Ausgänge\n\nlet humidifierState = null;\n\n// Schleife, um den Zustand des Befeuchters zu finden\nfor (let i = 0; i < msg.payload.humidifier.length; i++) {\n    if (msg.payload.humidifier[i].entity_id.includes('humidifier')) {\n        humidifierState = msg.payload.humidifier[i].value;\n        break;\n    }\n}\n\n// Befeuchter starten\nif (msg.payload.humidifierSet.value === \"increased\" && humidifierState === \"off\") {\n    outputs[0] = { payload: \"Starte Befeuchter\", topic: \"Start\" };\n}\n\n// Befeuchter stoppen\nif (msg.payload.humidifierSet.value === \"reduced\" && humidifierState === \"on\") {\n    outputs[1] = { payload: \"Stoppe Befeuchter\", topic: \"Stop\" };\n}\n\n// Nichts tun\nif (msg.payload.humidifierSet.value === \"unchanged\") {\n    outputs[2] = { payload: \"Befeuchter unverändert, keine Aktion erforderlich\", topic: \"Nothing\" };\n}\n\nreturn outputs; // Rückgabe des Ausgangsarrays\n","outputs":4,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1330,"y":3720,"wires":[["77401e0fc8edc860"],["f63d51ad02ce38e6"],["f63d51ad02ce38e6","6a3aec156e46717d"],[]]},{"id":"8ed8f6ad2ede514d","type":"join","z":"3752d27d7587c957","g":"4d0994dbb8342583","name":"HumidityData","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1100,"y":3720,"wires":[["68ee62b055484931"]]},{"id":"35533e64c19a08ec","type":"link in","z":"3752d27d7587c957","g":"4d0994dbb8342583","name":"HumidifierData","links":["49c6e2de0f1b0630"],"x":1035,"y":3680,"wires":[["8ed8f6ad2ede514d"]]},{"id":"77401e0fc8edc860","type":"link out","z":"3752d27d7587c957","g":"4d0994dbb8342583","name":"HumidifierStart","mode":"link","links":["1be287d67694b336"],"x":1505,"y":3660,"wires":[]},{"id":"f63d51ad02ce38e6","type":"link out","z":"3752d27d7587c957","g":"4d0994dbb8342583","name":"HumidifierStop","mode":"link","links":["7deddc1b5d29a51e"],"x":1535,"y":3700,"wires":[]},{"id":"6a3aec156e46717d","type":"link out","z":"3752d27d7587c957","g":"4d0994dbb8342583","name":"link out 219","mode":"link","links":[],"x":1555,"y":3740,"wires":[]},{"id":"773954f8420b1c7f","type":"group","z":"3752d27d7587c957","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c208595f51d42c20","cfee122ef13568d8","cc5fd5d96f3a83db","41a79f5be12243c2","f02af8804b9b644f","c393d04abdd34e2e","977e60743b857459"],"x":954,"y":3359,"w":832,"h":162},{"id":"c208595f51d42c20","type":"join","z":"3752d27d7587c957","g":"773954f8420b1c7f","name":"exhasutData","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1060,"y":3460,"wires":[["cc5fd5d96f3a83db"]]},{"id":"cfee122ef13568d8","type":"link in","z":"3752d27d7587c957","g":"773954f8420b1c7f","name":"ExhasutData","links":["e52f426c3a45d473"],"x":1005,"y":3420,"wires":[["c208595f51d42c20"]]},{"id":"cc5fd5d96f3a83db","type":"function","z":"3752d27d7587c957","g":"773954f8420b1c7f","name":"Exhaust Setup","func":"// Hilfsfunktion zur Überprüfung, ob ein Wert numerisch ist\nconst isNumeric = (value) => {\n    return !isNaN(parseFloat(value)) && isFinite(value);\n};\n\n// Funktion zur Bestimmung des dutyCycle-Werts\nconst findDutyCycle = (exhaustArray) => {\n    if (exhaustArray.length === 0) {\n        return null; // Keine Werte zu verarbeiten, wenn das Array leer ist\n    }\n    for (let i = 0; i < exhaustArray.length; i++) {\n        if (isNumeric(exhaustArray[i].value)) {\n            return parseInt(exhaustArray[i].value, 10);\n        }\n    }\n    return null; // Falls kein numerischer Wert gefunden wurde\n};\n\nlet outputs = [null, null, null]; // Array für drei Ausgänge\n\n// Zustand der Abluft und Geschwindigkeit aus der Payload extrahieren\nconst exhaustSpeed = msg.payload.exhaustSpeed;\nlet exhaustState = 'off'; // Standardwert setzen, falls kein Zustand gefunden wird\nif (msg.payload.Exhaust && msg.payload.Exhaust.length > 0) {\n    const exhaustSwitch = msg.payload.Exhaust.find(e => e.entity_id && e.entity_id.toLowerCase().includes(\"switch\"));\n    if (exhaustSwitch && exhaustSwitch.value) {\n        exhaustState = exhaustSwitch.value;\n    }\n}\n\nconst dutyCycle = findDutyCycle(msg.payload.Exhaust);\n\n// Prüfen, ob ein dutyCycle vorhanden ist\nif (dutyCycle === null) {\n    return outputs; // Kein dutyCycle gefunden, keine Aktion erforderlich\n}\n\n// Abluft starten auf dem ersten Ausgang\nif (exhaustSpeed === \"increased\" && exhaustState === \"off\") {\n    outputs[0] = { payload: \"Starte Abluft\", topic: \"Start\" };\n}\n\n// Abluft-Geschwindigkeit erhöhen, wenn sie bereits eingeschaltet ist\nif (exhaustSpeed === \"increased\" && exhaustState === \"on\") {\n    let newDutyCycle = Math.min(dutyCycle + 5, 95); // dutyCycle um 5 erhöhen, aber nicht über 95\n    outputs[2] = { payload: newDutyCycle.toString(), topic: \"Increase\" };\n}\n\n// Abluft stoppen auf dem zweiten Ausgang\nif (exhaustSpeed === \"reduced\" && exhaustState === \"on\" && dutyCycle <= 10) {\n    outputs[1] = { payload: \"Stoppe Abluft\", topic: \"Stop\" };\n}\nelse if (exhaustSpeed === \"reduced\" && exhaustState === \"on\") {\n    let newDutyCycle = Math.max(dutyCycle - 5, 0); // dutyCycle um 5 verringern\n    outputs[2] = { payload: newDutyCycle.toString(), topic: \"Decrease\" };\n}\n\n// Warnung ausgeben, wenn versucht wird, die Abluftgeschwindigkeit zu reduzieren, obwohl sie bereits aus ist\nif (exhaustSpeed === \"reduced\" && exhaustState === \"off\") {\n    outputs[1] = { payload: \"Abluft bereits gestoppt, kann nicht weiter reduziert werden\", topic: \"AlreadyStopped\" };\n}\n\n// Nichts tun, wenn keine Änderung erforderlich ist\nif (exhaustSpeed === \"unchanged\") {\n    outputs[3] = { payload: \"PERFEKTION: Abluft unverändert, keine Aktion erforderlich\", topic: \"Nothing\" };\n}\n\nreturn outputs; // Rückgabe des Ausgangsarrays\n","outputs":4,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":3460,"wires":[["c393d04abdd34e2e"],["977e60743b857459"],["f02af8804b9b644f"],[]]},{"id":"41a79f5be12243c2","type":"http request","z":"3752d27d7587c957","g":"773954f8420b1c7f","name":"DutyPostChange","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.1.1.234:5533/air/ctrl","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":1670,"y":3480,"wires":[[]]},{"id":"f02af8804b9b644f","type":"function","z":"3752d27d7587c957","g":"773954f8420b1c7f","name":"DutyChanger","func":"\nconst NewDuty = msg.payload\n\nmsg.payload = { \"newDuty\": NewDuty}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1490,"y":3480,"wires":[["41a79f5be12243c2"]]},{"id":"c393d04abdd34e2e","type":"link out","z":"3752d27d7587c957","g":"773954f8420b1c7f","name":"ExhaustVeggiON","mode":"link","links":["09f51aa364202656"],"x":1435,"y":3400,"wires":[]},{"id":"977e60743b857459","type":"link out","z":"3752d27d7587c957","g":"773954f8420b1c7f","name":"ExhaustVeggiOFF","mode":"link","links":["95404f058f30b296"],"x":1435,"y":3440,"wires":[]},{"id":"d14fa664d0413a5c","type":"group","z":"3752d27d7587c957","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["68a16773bf83b16c","f5fe0d1d1e07c638","e43682853d47d44e","f409e7c8d74372fc","95d7e3e76993cfba","2fc57bbeab61d575","d630bdaf19da0309","d12e6221a51af518","01cd46160592fe21"],"x":64,"y":3359,"w":702,"h":442},{"id":"68a16773bf83b16c","type":"comment","z":"3752d27d7587c957","g":"d14fa664d0413a5c","name":"Targeted-VPD","info":"","x":170,"y":3400,"wires":[]},{"id":"f5fe0d1d1e07c638","type":"function","z":"3752d27d7587c957","g":"d14fa664d0413a5c","name":"Check What Do","func":"let outputs = [null, null, null, null, null, null, null, null, null];\n\nvar percentDifference = msg.payload.percentDifference\n\n// Abluft\nif (msg.payload.exhaustSpeed === \"unchanged\") {\n    outputs[0] = { payload: { value: msg.payload.exhaustSpeed, percentDifference: percentDifference }, topic: \"exhaustSpeed\" };\n} else if (msg.payload.exhaustSpeed === \"increased\") {\n    outputs[0] = { payload: { value: msg.payload.exhaustSpeed, percentDifference: percentDifference }, topic: \"exhaustSpeed\" };\n} else if (msg.payload.exhaustSpeed === \"reduced\") {\n    outputs[0] = { payload: { value: msg.payload.exhaustSpeed, percentDifference: percentDifference }, topic: \"exhaustSpeed\" };\n}\n\n// Humidifier\nif (msg.payload.humidifier === \"unchanged\") {\n    outputs[1] = { payload: { value: msg.payload.humidifier, percentDifference: percentDifference }, topic: \"humidifierSet\" };\n} else if (msg.payload.humidifier === \"increased\") {\n    outputs[1] = { payload: { value: msg.payload.humidifier, percentDifference: percentDifference }, topic: \"humidifierSet\" };\n} else if (msg.payload.humidifier === \"reduced\") {\n    outputs[1] = { payload: { value: msg.payload.humidifier, percentDifference: percentDifference }, topic: \"humidifierSet\" };\n}\n\n// Dehumidifier\nif (msg.payload.dehumidifier === \"unchanged\") {\n    outputs[2] = { payload: { value: msg.payload.dehumidifier, percentDifference: percentDifference }, topic: \"dehumidifier\" };\n} else if (msg.payload.dehumidifier === \"increased\") {\n    outputs[2] = { payload: { value: msg.payload.dehumidifier, percentDifference: percentDifference }, topic: \"dehumidifier\" };\n} else if (msg.payload.dehumidifier === \"reduced\") {\n    outputs[2] = { payload: { value: msg.payload.dehumidifier, percentDifference: percentDifference }, topic: \"dehumidifier\" };\n}\n\n// HeaterFan\nif (msg.payload.heaterFan === \"unchanged\") {\n    outputs[3] = { payload: { value: msg.payload.heaterFan, percentDifference: percentDifference }, topic: \"heaterFan\" };\n} else if (msg.payload.heaterFan === \"increased\") {\n    outputs[3] = { payload: { value: msg.payload.heaterFan, percentDifference: percentDifference }, topic: \"heaterFan\" };\n} else if (msg.payload.heaterFan === \"reduced\") {\n    outputs[3] = { payload: { value: msg.payload.heaterFan, percentDifference: percentDifference }, topic: \"heaterFan\" };\n}\n\n// CoolerFan\nif (msg.payload.coolerFan === \"unchanged\") {\n    outputs[4] = { payload: { value: msg.payload.coolerFan, percentDifference: percentDifference }, topic: \"coolerFan\" };\n} else if (msg.payload.coolerFan === \"increased\") {\n    outputs[4] = { payload: { value: msg.payload.coolerFan, percentDifference: percentDifference }, topic: \"coolerFan\" };\n} else if (msg.payload.coolerFan === \"reduced\") {\n    outputs[4] = { payload: { value: msg.payload.coolerFan, percentDifference: percentDifference }, topic: \"coolerFan\" };\n}\n\n// LightIntensity\nif (msg.payload.lightIntensity === \"unchanged\") {\n    outputs[5] = { payload: { value: msg.payload.lightIntensity, percentDifference: percentDifference }, topic: \"lightIntensity\" };\n} else if (msg.payload.lightIntensity === \"increased\") {\n    outputs[5] = { payload: { value: msg.payload.lightIntensity, percentDifference: percentDifference }, topic: \"lightIntensity\" };\n} else if (msg.payload.lightIntensity === \"reduced\") {\n    outputs[5] = { payload: { value: msg.payload.lightIntensity, percentDifference: percentDifference }, topic: \"lightIntensity\" };\n}\n\n// VentsALL\nif (msg.payload.ventsTopSpeed === \"unchanged\") {\n    outputs[6] = { payload: { value: msg.payload.ventsALL, percentDifference: percentDifference }, topic: \"ventsALL\" };\n} else if (msg.payload.ventsALL === \"increased\") {\n    outputs[6] = { payload: { value: msg.payload.ventsALL, percentDifference: percentDifference }, topic: \"ventsALL\" };\n} else if (msg.payload.ventsALL === \"reduced\") {\n    outputs[6] = { payload: { value: msg.payload.ventsALL, percentDifference: percentDifference }, topic: \"ventsALL\" };\n}\n\n// VentsTopSpeed\nif (msg.payload.ventsTopSpeed === \"unchanged\") {\n    outputs[7] = { payload: { value: msg.payload.ventsTopSpeed, percentDifference: percentDifference }, topic: \"ventsTopSpeed\" };\n} else if (msg.payload.ventsTopSpeed === \"increased\") {\n    outputs[7] = { payload: { value: msg.payload.ventsTopSpeed, percentDifference: percentDifference }, topic: \"ventsTopSpeed\" };\n} else if (msg.payload.ventsTopSpeed === \"reduced\") {\n    outputs[7] = { payload: { value: msg.payload.ventsTopSpeed, percentDifference: percentDifference }, topic: \"ventsTopSpeed\" };\n}\n\n// VentsDownSpeed\nif (msg.payload.ventsDownSpeed === \"unchanged\") {\n    outputs[8] = { payload: { value: msg.payload.ventsDownSpeed, percentDifference: percentDifference }, topic: \"ventsDownSpeed\" };\n} else if (msg.payload.ventsDownSpeed === \"increased\") {\n    outputs[8] = { payload: { value: msg.payload.ventsDownSpeed, percentDifference: percentDifference }, topic: \"ventsDownSpeed\" };\n} else if (msg.payload.ventsDownSpeed === \"reduced\") {\n    outputs[8] = { payload: { value: msg.payload.ventsDownSpeed, percentDifference: percentDifference }, topic: \"ventsDownSpeed\" };\n}\n\n\n\nreturn outputs;\n","outputs":9,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":3640,"wires":[["e43682853d47d44e","c208595f51d42c20"],["e43682853d47d44e","8ed8f6ad2ede514d"],["e43682853d47d44e","6cf5696812d57be3"],["e43682853d47d44e","2ad44f87f6fa5e81"],["e43682853d47d44e","421837d7e3ab3660"],["e43682853d47d44e","bec7ac4a54384ac3"],["e43682853d47d44e","02be17afe53984a1"],["02be17afe53984a1"],["02be17afe53984a1"]]},{"id":"e43682853d47d44e","type":"debug","z":"3752d27d7587c957","g":"d14fa664d0413a5c","name":"debug 141","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":3760,"wires":[]},{"id":"f409e7c8d74372fc","type":"link in","z":"3752d27d7587c957","g":"d14fa664d0413a5c","name":"VPD-Perfektion","links":["68225790c0cb82bc"],"x":105,"y":3460,"wires":[["d12e6221a51af518"]]},{"id":"95d7e3e76993cfba","type":"poll-state","z":"3752d27d7587c957","g":"d14fa664d0413a5c","name":"currentVPD","server":"5772bf4c.b461d","version":3,"exposeAsEntityConfig":"","updateInterval":"30","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":true,"outputOnChanged":true,"entityId":"sensor.vpdvegi","stateType":"num","ifState":"","ifStateType":"num","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"currentVPD","valueType":"str"}],"x":250,"y":3600,"wires":[["2fc57bbeab61d575"]]},{"id":"2fc57bbeab61d575","type":"join","z":"3752d27d7587c957","g":"d14fa664d0413a5c","name":"VPDWish","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":410,"y":3540,"wires":[["d630bdaf19da0309","01cd46160592fe21"]]},{"id":"d630bdaf19da0309","type":"function","z":"3752d27d7587c957","g":"d14fa664d0413a5c","name":"VPD Handler Array Value","func":"const tolerance = 0.00; // Toleranzwert für die VPD-Anpassung\n\n// Der aktuelle VPD-Wert wird aus dem Payload geholt und in eine Zahl umgewandelt.\nconst currentVPD = parseFloat(msg.payload.currentVPD);\n\n// Ziel-VPD-Bereich wird aus dem Payload geholt.\nconst targetVPDRange = msg.payload.targetVPD;\n\n// Logging der aktuellen VPD und Ziel-VPD-Bereich zur Überprüfung und Debugging.\n\nnode.warn(`Veggi-VPD-Target: ${targetVPDRange}`);\n\n// Funktion zur Berechnung der notwendigen Anpassungen basierend auf der Differenz zum VPD-Zielbereich.\nfunction calculateAdjustment(currentVPD, targetVPDRange) {\n    // Wenn der aktuelle VPD unter dem minimalen Zielbereich liegt, Anpassungen vornehmen, um VPD zu erhöhen.\n    if (currentVPD < targetVPDRange - tolerance) {\n        node.warn(`Veggi-VPD:: ${currentVPD} zu Gering Erhöe Temp oder veringere die Feuchtikeit`);\n        return {\n            exhaustSpeed: \"increased\",      // Erhöht die Abluftgeschwindigkeit, um feuchte Luft herauszuziehen\n            humidifier: \"reduced\",          // Schaltet den Luftbefeuchter aus, um Feuchtigkeit zu reduzieren\n            dehumidifier: \"increased\",       // Schaltet den Luftentfeuchter an, um Feuchtigkeit zu reduzieren\n            heaterFan: \"increased\",            // Schaltet den Beheizer an um, um die feuchtigkeit zu Reduzieren und Temp zu erhöhen\n            coolerFan: \"reduced\",            // Schaltet den Beheizer an um, um die feuchtigkeit zu Erhöhen und Temp zu veringern\n            ventsALL: \"increased\",            // Reduziert die Geschwindigkeit der Belüftung, um mehr feuchte Luft zu halten\n            ventsTopSpeed: \"increased\",     // Erhöht die Geschwindigkeit der oberen Belüftung, um mehr trockene Luft einzulassen\n            ventsDownSpeed: \"increased\",    // Erhöht die Geschwindigkeit der unteren Belüftung\n            lightIntensity: \"increased\"     // Erhöht die Lichtintensität, um die Temperatur zu steigern (wenn das die Temperatur beeinflusst)\n        };\n        \n    }\n    // Wenn der aktuelle VPD über dem maximalen Zielbereich liegt, Anpassungen vornehmen, um VPD zu senken.\n    else if (currentVPD > targetVPDRange + tolerance) {\n        node.warn(`Veggi-VPD: ${currentVPD} zu hoch verringere Temp oder erhöe die Feuchtikeit`);\n        return {\n            exhaustSpeed: \"reduced\",    // Reduziert die Abluftgeschwindigkeit, hält feuchte Luft im Raum\n            humidifier: \"increased\",           // Schaltet den Luftbefeuchter ein, um Feuchtigkeit zu erhöhen\n            dehumidifier: \"reduced\",       // Schaltet den Luftentfeuchter an, um Feuchtigkeit zu reduzieren\n            heaterFan: \"reduced\",            // Schaltet den Beheizer an um, um die feuchtigkeit zu Reduzieren und Temp zu erhöhen\n            coolerFan: \"increased\",            // Schaltet den Beheizer an um, um die feuchtigkeit zu Erhöhen und Temp zu veringern\n            ventsALL: \"reduced\",        // Reduziert die Geschwindigkeit der Belüftung, um mehr feuchte Luft zu halten\n            ventsTopSpeed: \"reduced\",   // Reduziert die Geschwindigkeit der oberen Belüftung\n            ventsDownSpeed: \"reduced\",  // Reduziert die Geschwindigkeit der unteren Belüftung\n            lightIntensity: \"reduced\"      // Verringert die Lichtintensität, um die Temperatur zu senken (wenn das die Temperatur beeinflusst)\n        };\n    }\n    // Wenn der VPD im Zielbereich liegt, sind keine Anpassungen erforderlich.\n    node.warn(`Veggi-VPD: ${currentVPD} im Gewünschten Bereich`);\n    return {\n        exhaustSpeed: \"unchanged\",\n        humidifier: \"unchanged\",\n        dehumidifier: \"unchanged\",       // Schaltet den Luftentfeuchter an, um Feuchtigkeit zu reduzieren\n        heaterFan: \"unchanged\",            // Schaltet den Beheizer an um, um die feuchtigkeit zu Reduzieren und Temp zu erhöhen\n        coolerFan: \"unchanged\",            // Schaltet den Beheizer an um, um die feuchtigkeit zu Erhöhen und Temp zu veringern\n        ventsALL: \"unchanged\",       \n        ventsTopSpeed: \"unchanged\",\n        ventsDownSpeed: \"unchanged\",\n        lightIntensity: \"unchanged\"\n    };\n}\n\n// Entscheidungslogik zur Steuerung der Umgebungsbedingungen, nutzt die calculateAdjustment Funktion.\nconst adjustments = calculateAdjustment(currentVPD, targetVPDRange);\nmsg.payload = {\n    exhaustSpeed: adjustments.exhaustSpeed,\n    humidifier: adjustments.humidifier,\n    dehumidifier: adjustments.dehumidifier,\n    heaterFan: adjustments.heaterFan,\n    coolerFan: adjustments.coolerFan,\n    ventsALL: adjustments.ventsALL,\n    ventsTopSpeed: adjustments.ventsTopSpeed,\n    ventsDownSpeed: adjustments.ventsDownSpeed,\n    lightIntensity: adjustments.lightIntensity,\n\n};\n\nmsg.perfektion = \"VPDActions\";\n// Rückgabe des modifizierten Payloads für weitere Verwendung im Flow.\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":3540,"wires":[["f5fe0d1d1e07c638"]]},{"id":"d12e6221a51af518","type":"api-current-state","z":"3752d27d7587c957","g":"d14fa664d0413a5c","name":"TargetVPD","server":"5772bf4c.b461d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"number.vegitentwish_vpd","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"targetVPD","valueType":"str"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":250,"y":3460,"wires":[["2fc57bbeab61d575"]]},{"id":"01cd46160592fe21","type":"debug","z":"3752d27d7587c957","g":"d14fa664d0413a5c","name":"debug 181","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":3460,"wires":[]},{"id":"5772bf4c.b461d","type":"server","name":"OpenGrowBox","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]