NodeRed/Helpers/DeviceFunc/HeaterFunc/heaterFlow.json
[{"id":"082054cd4a9a0dc1","type":"group","z":"3752d27d7587c957","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["2fe236b6ecf4be1a","548fd1b0ea533144","dec304f413eef635","1c021da55d25e11a","7fda7edaf7e5818c","4c6249a89c9f8505"],"x":1504,"y":1679,"w":632,"h":162},{"id":"2fe236b6ecf4be1a","type":"join","z":"3752d27d7587c957","g":"082054cd4a9a0dc1","name":"HeaterData","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1610,"y":1780,"wires":[["dec304f413eef635"]]},{"id":"548fd1b0ea533144","type":"link in","z":"3752d27d7587c957","g":"082054cd4a9a0dc1","name":"link in 37","links":[],"x":1545,"y":1720,"wires":[["2fe236b6ecf4be1a"]]},{"id":"dec304f413eef635","type":"function","z":"3752d27d7587c957","g":"082054cd4a9a0dc1","name":"HeaterSetup","func":"let outputs = [null, null]; // Array f체r zwei Ausg채nge\n\nlet heaterState = null;\n\n// Schleife, um den Zustand des Heater zu finden\nfor (let i = 0; i < msg.payload.heater.length; i++) {\n    if (msg.payload.heater[i].entity_id.includes('heater')) {\n        heaterState = msg.payload.heater[i].value;\n        break;\n    }\n}\n\n// Heater starten\nif (msg.payload.heaterSet.value === \"increased\" && heaterState === \"off\") {\n    outputs[0] = { payload: \"Start Heater\", topic: \"Start\" };\n}\n\n// Heater stoppen\nif (msg.payload.heaterSet.value === \"reduced\" && heaterState === \"on\") {\n    outputs[1] = { payload: \"Stop Heater\", topic: \"Stop\" };\n}\n\n// Nichts tun\nif (msg.payload.heaterSet.value === \"unchanged\") {\n    outputs[2] = { payload: \"Heater unver채ndert, keine Aktion erforderlich\", topic: \"Nothing\" };\n}\n\nreturn outputs; // R체ckgabe des Ausgangsarrays\n","outputs":4,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1810,"y":1780,"wires":[["1c021da55d25e11a"],["7fda7edaf7e5818c"],["4c6249a89c9f8505"],[]]},{"id":"1c021da55d25e11a","type":"link out","z":"3752d27d7587c957","g":"082054cd4a9a0dc1","name":"HeaterON","mode":"link","links":["1be287d67694b336"],"x":1995,"y":1740,"wires":[]},{"id":"7fda7edaf7e5818c","type":"link out","z":"3752d27d7587c957","g":"082054cd4a9a0dc1","name":"HeaterOFF","mode":"link","links":["593f0c0e52db1610"],"x":2055,"y":1760,"wires":[]},{"id":"4c6249a89c9f8505","type":"link out","z":"3752d27d7587c957","g":"082054cd4a9a0dc1","name":"link out 27","mode":"link","links":[],"x":2095,"y":1800,"wires":[]}]