NodeRed/Core/Master.json
[{"id":"7dbb001f4a12c33e","type":"tab","label":"Master","disabled":false,"locked":true,"info":"","env":[]},{"id":"7236f08e93d54df7","type":"group","z":"7dbb001f4a12c33e","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["2d557ea78433109d","8d9fd654ae8aaec2","4d54e84af3d4b81c","9aee886e8e0fa11b","78f51155f8c50460","0a30a4555f40a167","dd6b14b460dab075","2ba711e98d827f28","5016bb031906d635","22a1d3e6ac107c3f","01cce3f8bf2a66d3","c561d85b1dda300e","fd2b9c6859eb1484","f0449f704d2f7c8a","da6c2e0c92ff7e70","311ee520c3f61f77","b221316ab2b19880","e2a9c4cfd27a3aa1","2f4fb16684615c04","9f67d85122ac891e"],"x":14,"y":759,"w":1392,"h":422},{"id":"581e5fa8cc7a8992","type":"ha-api","z":"7dbb001f4a12c33e","name":"areas","server":"5772bf4c.b461d","version":1,"debugenabled":false,"protocol":"websocket","method":"get","path":"","data":"{\"type\": \"config/area_registry/list\"}","dataType":"json","responseType":"json","outputProperties":[{"property":"areas","propertyType":"msg","value":"","valueType":"results"}],"x":370,"y":220,"wires":[["cf8db50f5163243f"]]},{"id":"11b9f352d836eab4","type":"inject","z":"7dbb001f4a12c33e","name":"Manual Update","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"20","topic":"","payload":"","payloadType":"date","x":140,"y":260,"wires":[["581e5fa8cc7a8992"]]},{"id":"cf8db50f5163243f","type":"ha-api","z":"7dbb001f4a12c33e","name":"devices","server":"5772bf4c.b461d","version":1,"debugenabled":false,"protocol":"websocket","method":"get","path":"","data":"{\"type\": \"config/device_registry/list\"}","dataType":"json","responseType":"json","outputProperties":[{"property":"devices","propertyType":"msg","value":"","valueType":"results"}],"x":520,"y":180,"wires":[["3da04e574ac9aeb7"]]},{"id":"3da04e574ac9aeb7","type":"ha-api","z":"7dbb001f4a12c33e","name":"entities","server":"5772bf4c.b461d","version":1,"debugenabled":false,"protocol":"websocket","method":"get","path":"","data":"{\"type\": \"config/entity_registry/list\"}","dataType":"json","responseType":"json","outputProperties":[{"property":"entities","propertyType":"msg","value":"","valueType":"results"}],"x":660,"y":120,"wires":[["3243f84ac6977cd8"]]},{"id":"f4658b3d2bf78fc2","type":"server-events","z":"7dbb001f4a12c33e","name":"","server":"5772bf4c.b461d","version":3,"exposeAsEntityConfig":"","eventType":"state_changed","eventData":"","waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":120,"y":360,"wires":[["0c9c8319a0da3108"]]},{"id":"3243f84ac6977cd8","type":"function","z":"7dbb001f4a12c33e","name":"","func":"const entities = {};\n\nmsg.entities.forEach(e => {\n    // Überprüfe, ob entweder device_id gefüllt ist oder area_id gefüllt ist, aber device_id null ist\n    if (!e.device_id && e.area_id) {\n        const area = msg.areas.find(a => a.area_id === e.area_id);\n        if (area) {\n            entities[e.entity_id] = {\n                area_id: area.area_id,\n                name: area.name\n            };\n        }\n    } else if (e.device_id) {\n        const device = msg.devices.find(d => d.id === e.device_id);\n        const area = msg.areas.find(a => a.area_id === device.area_id);\n        if (area) {\n            entities[e.entity_id] = {\n                area_id: area.area_id,\n                name: area.name\n            };\n        }\n    }\n});\n\nmsg.payload = entities;\nmsg.update = true;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":240,"wires":[["0c9c8319a0da3108","fe32925329bbf5e1","1ea6f686733cc148"]]},{"id":"0c9c8319a0da3108","type":"function","z":"7dbb001f4a12c33e","name":"set area","func":"if(msg.update) {\n    node.status({fill:\"green\", shape: \"dot\", text: \"Area Data Loaded\", })\n    context.set(\"data\", msg.payload);\n    return;\n}\nconst data = context.get(\"data\");\n\nif(!data) {\n    node.status({fill:\"red\", shape: \"ring\", text: \"No Area Data\", })\n    return;\n}\n\nconst area = data[msg.payload.entity_id];\nif(!area) return;\n\nmsg.area = area.name.toLowerCase();\nnode.status({text: msg.area});\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":360,"wires":[["f91947dc5aacc47a"]]},{"id":"f91947dc5aacc47a","type":"switch","z":"7dbb001f4a12c33e","name":"","property":"area","propertyType":"msg","rules":[{"t":"eq","v":"veggitent","vt":"str"},{"t":"eq","v":"flowertent","vt":"str"},{"t":"eq","v":"dryingtent","vt":"str"},{"t":"eq","v":"growroom","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":490,"y":420,"wires":[["65a8b26e06e09de6"],["7a6c54dd81eaa289"],["d7a676273cdce15d"],["788b35b083980f53"]]},{"id":"6ead11c227cbd78a","type":"server-events","z":"7dbb001f4a12c33e","name":"On Connect","server":"5772bf4c.b461d","version":3,"exposeAsEntityConfig":"","eventType":"home_assistant_client","eventData":"","waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":78,"y":172,"wires":[["eec2d81dad6067ca"]]},{"id":"eec2d81dad6067ca","type":"switch","z":"7dbb001f4a12c33e","name":"connected","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":180,"wires":[["581e5fa8cc7a8992"]]},{"id":"abcb51cb5b850fb5","type":"server-events","z":"7dbb001f4a12c33e","name":"entity_registry_updated","server":"5772bf4c.b461d","version":3,"exposeAsEntityConfig":"","eventType":"entity_registry_updated","eventData":"","waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":114,"y":28,"wires":[["44a73efd617d5f0c"]]},{"id":"04dc88f1eaac6d05","type":"server-events","z":"7dbb001f4a12c33e","name":"device_registry_updated","server":"5772bf4c.b461d","version":3,"exposeAsEntityConfig":"","eventType":"device_registry_updated","eventData":"","waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":124,"y":76,"wires":[["44a73efd617d5f0c"]]},{"id":"bfcf2e7197ad45b2","type":"server-events","z":"7dbb001f4a12c33e","name":"area_registry_updated","server":"5772bf4c.b461d","version":3,"exposeAsEntityConfig":"","eventType":"area_registry_updated","eventData":"","waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":114,"y":124,"wires":[["44a73efd617d5f0c"]]},{"id":"44a73efd617d5f0c","type":"trigger","z":"7dbb001f4a12c33e","name":"Update at most every 10 secs","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","outputs":1,"x":430,"y":80,"wires":[["581e5fa8cc7a8992"]]},{"id":"65a8b26e06e09de6","type":"function","z":"7dbb001f4a12c33e","name":"VeggiTent-LiveData","func":"const entity = {\n    entity_id: null,\n    state: null,\n    attributes: null\n}\n\nentity.entity_id = msg.payload.event.new_state.entity_id\nentity.state = msg.payload.event.new_state.state\nentity.attributes = msg.payload.event.new_state.attributes\n\nmsg.payload = entity\nmsg.topic = \"liveData\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":340,"wires":[["d634607d565bceec"]]},{"id":"7a6c54dd81eaa289","type":"function","z":"7dbb001f4a12c33e","name":"FlowerTent-LiveData","func":"const entity = {\n    entity_id:null,\n    state:null,\n    attributes:null\n}\n\nentity.entity_id = msg.payload.event.new_state.entity_id\nentity.state = msg.payload.event.new_state.state\nentity.attributes = msg.payload.event.new_state.attributes\n\nmsg.payload = entity\nmsg.topic = \"liveData\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":420,"wires":[["696ec24d89904481"]]},{"id":"d7a676273cdce15d","type":"function","z":"7dbb001f4a12c33e","name":"DryingTent-LiveData","func":"const entity = {\n    entity_id:null,\n    state:null,\n    attributes:null\n}\n\nentity.entity_id = msg.payload.event.new_state.entity_id\nentity.state = msg.payload.event.new_state.state\nentity.attributes = msg.payload.event.new_state.attributes\n\nmsg.payload = entity\nmsg.topic = \"liveData\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":520,"wires":[["ecd94598f605c8eb"]]},{"id":"fe32925329bbf5e1","type":"function","z":"7dbb001f4a12c33e","name":"Transform Object","func":"let input = msg.payload;\nlet output = {};\n\nfor (let key in input) {\n    let area_id = input[key].area_id;\n    if (!output[area_id]) {\n        output[area_id] = {};\n    }\n    output[area_id][key] = null;\n}\n\nmsg.payload = output;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":200,"wires":[["8cd9e6383593b682","49fc6ff67fd40a13","d8e001102dbc6397"]]},{"id":"8cd9e6383593b682","type":"debug","z":"7dbb001f4a12c33e","name":"debug 105","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":140,"wires":[]},{"id":"49fc6ff67fd40a13","type":"switch","z":"7dbb001f4a12c33e","name":"Switch on area_id","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"'vegitent' in $keys(payload)","vt":"jsonata"},{"t":"jsonata_exp","v":"'flowertent' in $keys(payload)","vt":"jsonata"},{"t":"jsonata_exp","v":"'dryingtent' in $keys(payload)","vt":"jsonata"},{"t":"jsonata_exp","v":"'growroom' in $keys(payload)","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":4,"x":1030,"y":200,"wires":[["6b884a8d29176b53"],["ddcfbb4e9762a780"],["bba83b340f0841b2"],["1b56a8ab3eee59d6"]]},{"id":"6b884a8d29176b53","type":"function","z":"7dbb001f4a12c33e","name":"VeggiTent Devices","func":"msg.payload =  msg.payload.vegitent;\nmsg.topic = \"VegiTent\"\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":120,"wires":[["d110bd71b917d437"]]},{"id":"ddcfbb4e9762a780","type":"function","z":"7dbb001f4a12c33e","name":"FlowerTent Devices","func":"msg.payload = msg.payload.flowertent\nmsg.topic = \"FlowerTent\"\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":160,"wires":[["c26752d854cfc65a"]]},{"id":"bba83b340f0841b2","type":"function","z":"7dbb001f4a12c33e","name":"DryingTent Devices","func":"msg.payload = msg.payload.dryingtent\nmsg.topic = \"DryingTent\"\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":200,"wires":[["f6c3188c203af1d5"]]},{"id":"1b56a8ab3eee59d6","type":"function","z":"7dbb001f4a12c33e","name":"Growroom Devices","func":"msg.payload =  msg.payload.growroom\nmsg.topic = \"GrowRoom\"\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":240,"wires":[["bef3e305e3286e6d"]]},{"id":"d110bd71b917d437","type":"join","z":"7dbb001f4a12c33e","name":"VeggiTent-Device-Data","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1490,"y":140,"wires":[["function"]]},{"id":"c26752d854cfc65a","type":"join","z":"7dbb001f4a12c33e","name":"FlowerTent-Device-Data","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1490,"y":180,"wires":[["fd34330655f2a59a"]]},{"id":"f6c3188c203af1d5","type":"join","z":"7dbb001f4a12c33e","name":"DryingTent-Device-Data","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1490,"y":220,"wires":[["127ca65750a1fea3"]]},{"id":"bef3e305e3286e6d","type":"join","z":"7dbb001f4a12c33e","name":"GrowRoom-Device-Data","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1500,"y":260,"wires":[["d556a0d58ed08600"]]},{"id":"d8e001102dbc6397","type":"ha-get-entities","z":"7dbb001f4a12c33e","name":"Get All Entities","server":"home-assistant-server","version":1,"rules":[],"outputType":"array","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","x":1020,"y":260,"wires":[["71f76972b5025b37"]]},{"id":"71f76972b5025b37","type":"function","z":"7dbb001f4a12c33e","name":"SetTopic-AllData","func":"msg.topic=\"AllData\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":280,"wires":[["d110bd71b917d437","c26752d854cfc65a","f6c3188c203af1d5","bef3e305e3286e6d","ea9aedaf481f1b0b"]]},{"id":"function","type":"function","z":"7dbb001f4a12c33e","name":"Fill Data","func":"let data = msg.payload;\nlet allData = data.AllData;\ndelete data.AllData;\n\n// Erstelle ein Mapping von entity_id zu state aus dem AllData-Array\nlet entityIdToStateMap = {};\nallData.forEach(item => {\n    entityIdToStateMap[item.entity_id] = item.state;\n});\n\n// Iteriere über die Keys des initialen Objekts und füge die entsprechenden Werte hinzu\nfor (let key in data) {\n    if (data.hasOwnProperty(key)) {\n        for (let sensor in data[key]) {\n            if (data[key].hasOwnProperty(sensor) && entityIdToStateMap.hasOwnProperty(sensor)) {\n                data[key][sensor] = entityIdToStateMap[sensor];\n            }\n        }\n    }\n}\nmsg.topic = \"data\"\ndelete msg.areas;\ndelete msg.devices;\ndelete msg.entities;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1700,"y":140,"wires":[["d634607d565bceec","094a8eca640c4e2d","004ace00ecbfe2be"]]},{"id":"fd34330655f2a59a","type":"function","z":"7dbb001f4a12c33e","name":"Fill Data","func":"let data = msg.payload;\nlet allData = data.AllData;\ndelete data.AllData;\n\n// Erstelle ein Mapping von entity_id zu state aus dem AllData-Array\nlet entityIdToStateMap = {};\nallData.forEach(item => {\n    entityIdToStateMap[item.entity_id] = item.state;\n});\n\n// Iteriere über die Keys des initialen Objekts und füge die entsprechenden Werte hinzu\nfor (let key in data) {\n    if (data.hasOwnProperty(key)) {\n        for (let sensor in data[key]) {\n            if (data[key].hasOwnProperty(sensor) && entityIdToStateMap.hasOwnProperty(sensor)) {\n                data[key][sensor] = entityIdToStateMap[sensor];\n            }\n        }\n    }\n}\nmsg.topic = \"data\"\nmsg.payload = data;\ndelete msg.areas;\ndelete msg.devices;\ndelete msg.entities;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1700,"y":180,"wires":[["43ca19d80e63515d","696ec24d89904481"]]},{"id":"127ca65750a1fea3","type":"function","z":"7dbb001f4a12c33e","name":"Fill Data","func":"let data = msg.payload;\nlet allData = data.AllData;\ndelete data.AllData;\n\n// Erstelle ein Mapping von entity_id zu state aus dem AllData-Array\nlet entityIdToStateMap = {};\nallData.forEach(item => {\n    entityIdToStateMap[item.entity_id] = item.state;\n});\n\n// Iteriere über die Keys des initialen Objekts und füge die entsprechenden Werte hinzu\nfor (let key in data) {\n    if (data.hasOwnProperty(key)) {\n        for (let sensor in data[key]) {\n            if (data[key].hasOwnProperty(sensor) && entityIdToStateMap.hasOwnProperty(sensor)) {\n                data[key][sensor] = entityIdToStateMap[sensor];\n            }\n        }\n    }\n}\nmsg.topic = \"data\"\nmsg.payload = data;\ndelete msg.areas;\ndelete msg.devices;\ndelete msg.entities;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1700,"y":220,"wires":[["f639a305698026d1","ecd94598f605c8eb"]]},{"id":"d556a0d58ed08600","type":"function","z":"7dbb001f4a12c33e","name":"Fill Data","func":"let data = msg.payload;\nlet allData = data.AllData;\ndelete data.AllData;\n\n// Erstelle ein Mapping von entity_id zu state aus dem AllData-Array\nlet entityIdToStateMap = {};\nallData.forEach(item => {\n    entityIdToStateMap[item.entity_id] = item.state;\n});\n\n// Iteriere über die Keys des initialen Objekts und füge die entsprechenden Werte hinzu\nfor (let key in data) {\n    if (data.hasOwnProperty(key)) {\n        for (let sensor in data[key]) {\n            if (data[key].hasOwnProperty(sensor) && entityIdToStateMap.hasOwnProperty(sensor)) {\n                data[key][sensor] = entityIdToStateMap[sensor];\n            }\n        }\n    }\n}\nmsg.topic = \"data\"\nmsg.payload = data;\ndelete msg.areas;\ndelete msg.devices;\ndelete msg.entities;\ndelete msg.update;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1740,"y":260,"wires":[["377ce69ff730c0ff","735e34c63d920535"]]},{"id":"094a8eca640c4e2d","type":"link out","z":"7dbb001f4a12c33e","name":"VeggiCtrl","mode":"link","links":["8c9088a88c067085","be4760445d389efd"],"x":1865,"y":140,"wires":[]},{"id":"43ca19d80e63515d","type":"link out","z":"7dbb001f4a12c33e","name":"FlowerCtrl","mode":"link","links":["69d2bbbaa57da104"],"x":1865,"y":180,"wires":[]},{"id":"f639a305698026d1","type":"link out","z":"7dbb001f4a12c33e","name":"DryingCtrl","mode":"link","links":["812330f99e226222"],"x":1865,"y":220,"wires":[]},{"id":"e84242346557dbcb","type":"link out","z":"7dbb001f4a12c33e","name":"VeggiTentLiveData","mode":"link","links":["a34b894b03b36458"],"x":2165,"y":340,"wires":[]},{"id":"e0e6fce7027c2e26","type":"link out","z":"7dbb001f4a12c33e","name":"FlowerTentLiveData","mode":"link","links":["b9dfb243cc1af1b4"],"x":2165,"y":440,"wires":[]},{"id":"854a899b81ae0da3","type":"link out","z":"7dbb001f4a12c33e","name":"DryingTentLiveData","mode":"link","links":["3f44a96e32f333c2"],"x":2165,"y":540,"wires":[]},{"id":"788b35b083980f53","type":"function","z":"7dbb001f4a12c33e","name":"GrowRoom-LiveData","func":"const entity = {\n    entity_id:null,\n    state:null,\n    attributes:null\n}\n\nentity.entity_id = msg.payload.event.new_state.entity_id\nentity.state = msg.payload.event.new_state.state\nentity.attributes = msg.payload.event.new_state.attributes\n\nmsg.payload = entity\nmsg.topic = \"liveData\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":620,"wires":[["377ce69ff730c0ff"]]},{"id":"1e4a05271ed20108","type":"link out","z":"7dbb001f4a12c33e","name":"GrowRoomLiveData","mode":"link","links":["aadc89a6315a9ee1"],"x":2155,"y":640,"wires":[]},{"id":"d634607d565bceec","type":"join","z":"7dbb001f4a12c33e","name":"VeggiTent-Updated","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1540,"y":340,"wires":[["5142ea4460f6cef4"]]},{"id":"696ec24d89904481","type":"join","z":"7dbb001f4a12c33e","name":"FlowerTent-Updated","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1540,"y":420,"wires":[["cee9ddd4d3c3158d"]]},{"id":"ecd94598f605c8eb","type":"join","z":"7dbb001f4a12c33e","name":"DryingTent-Updated","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1540,"y":520,"wires":[["cfa78ab308277cdf"]]},{"id":"377ce69ff730c0ff","type":"join","z":"7dbb001f4a12c33e","name":"GrowRoom-Updated","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1540,"y":620,"wires":[["25e6fe4184c15f12"]]},{"id":"cfa78ab308277cdf","type":"function","z":"7dbb001f4a12c33e","name":"Set LiveData","func":"let data = msg.payload.data;\nconst livedata = msg.payload.liveData;\n\n// Funktion zur Aktualisierung des state-Werts aus livedata\nfunction updateState(data, livedata) {\n    const entityId = livedata.entity_id;\n\n    for (const key in data) {\n        if (data.hasOwnProperty(key) && typeof data[key] === 'object' && data[key] !== null) {\n            if (data[key].hasOwnProperty(entityId)) {\n                // Setze nur den state-Wert aus livedata\n                data[key][entityId] = livedata.state;\n                return;\n            }\n        }\n    }\n}\n\n// Aktualisiere den state-Wert im data-Objekt\nupdateState(data, livedata);\n\n// Setze das aktualisierte data-Objekt direkt in msg.payload\nmsg.payload = data;\n\n// Entferne das liveData-Objekt und andere nicht benötigte Objekte aus msg\ndelete msg.liveData;\ndelete msg.areas;\ndelete msg.devices;\ndelete msg.entities;\ndelete msg.update;\n\n// Setze das Topic zurück auf \"data\"\nmsg.topic = \"data\";\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":520,"wires":[["c59f29b7a6db9201","763b20a8fae48b90","ecd94598f605c8eb"]]},{"id":"cee9ddd4d3c3158d","type":"function","z":"7dbb001f4a12c33e","name":"Set LiveData","func":"let data = msg.payload.data;\nconst livedata = msg.payload.liveData;\n\n// Funktion zur Aktualisierung des state-Werts aus livedata\nfunction updateState(data, livedata) {\n    const entityId = livedata.entity_id;\n\n    for (const key in data) {\n        if (data.hasOwnProperty(key) && typeof data[key] === 'object' && data[key] !== null) {\n            if (data[key].hasOwnProperty(entityId)) {\n                // Setze nur den state-Wert aus livedata\n                data[key][entityId] = livedata.state;\n                return;\n            }\n        }\n    }\n}\n\n// Aktualisiere den state-Wert im data-Objekt\nupdateState(data, livedata);\n\n// Setze das aktualisierte data-Objekt direkt in msg.payload\nmsg.payload = data;\n\n// Entferne das liveData-Objekt und andere nicht benötigte Objekte aus msg\ndelete msg.liveData;\ndelete msg.areas;\ndelete msg.devices;\ndelete msg.entities;\ndelete msg.update;\n\n// Setze das Topic zurück auf \"data\"\nmsg.topic = \"data\";\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":420,"wires":[["30e6cea9a2330b2f","3ba7b1f323bcb6f0","696ec24d89904481"]]},{"id":"5142ea4460f6cef4","type":"function","z":"7dbb001f4a12c33e","name":"Set LiveData","func":"let data = msg.payload.data;\nconst livedata = msg.payload.liveData;\n\n// Funktion zur Aktualisierung des state-Werts aus livedata\nfunction updateState(data, livedata) {\n    const entityId = livedata.entity_id;\n\n    for (const key in data) {\n        if (data.hasOwnProperty(key) && typeof data[key] === 'object' && data[key] !== null) {\n            if (data[key].hasOwnProperty(entityId)) {\n                // Setze nur den state-Wert aus livedata\n                data[key][entityId] = livedata.state;\n                return;\n            }\n        }\n    }\n}\n\n// Aktualisiere den state-Wert im data-Objekt\nupdateState(data, livedata);\n\n// Setze das aktualisierte data-Objekt direkt in msg.payload\nmsg.payload = data;\n\n// Entferne das liveData-Objekt und andere nicht benötigte Objekte aus msg\ndelete msg.liveData;\ndelete msg.areas;\ndelete msg.devices;\ndelete msg.entities;\ndelete msg.update;\n\n// Setze das Topic zurück auf \"data\"\nmsg.topic = \"data\";\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":340,"wires":[["210ac2b8dcb58d6b","ccb3187f22b46747","d634607d565bceec"]]},{"id":"30e6cea9a2330b2f","type":"debug","z":"7dbb001f4a12c33e","name":"debug 108","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1990,"y":400,"wires":[]},{"id":"210ac2b8dcb58d6b","type":"debug","z":"7dbb001f4a12c33e","name":"debug 109","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1990,"y":300,"wires":[]},{"id":"9e34f7276b3983b2","type":"switch","z":"7dbb001f4a12c33e","name":"","property":"area","propertyType":"msg","rules":[{"t":"eq","v":"veggitent","vt":"str"},{"t":"eq","v":"flowertent","vt":"str"},{"t":"eq","v":"dryingtent","vt":"str"},{"t":"eq","v":"growroom","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":490,"y":420,"wires":[[],[],[],[]]},{"id":"004ace00ecbfe2be","type":"debug","z":"7dbb001f4a12c33e","name":"debug 110","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1820,"y":100,"wires":[]},{"id":"ea9aedaf481f1b0b","type":"debug","z":"7dbb001f4a12c33e","name":"debug 111","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1520,"y":60,"wires":[]},{"id":"1ea6f686733cc148","type":"debug","z":"7dbb001f4a12c33e","name":"debug 112","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":940,"y":100,"wires":[]},{"id":"735e34c63d920535","type":"link out","z":"7dbb001f4a12c33e","name":"GrowRoomCtrl","mode":"link","links":["1bedaaa0414273ae"],"x":1865,"y":260,"wires":[]},{"id":"9f67d85122ac891e","type":"comment","z":"7dbb001f4a12c33e","g":"7236f08e93d54df7","name":"GlobalsControll","info":"","x":120,"y":800,"wires":[]},{"id":"2d557ea78433109d","type":"ha-number","z":"7dbb001f4a12c33e","g":"7236f08e93d54df7","name":"GlobalLeafTemp","version":1,"debugenabled":false,"inputs":1,"outputs":1,"entityConfig":"10c9db02cb486656","mode":"set","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"}],"x":1300,"y":840,"wires":[[]]},{"id":"8d9fd654ae8aaec2","type":"ha-number","z":"7dbb001f4a12c33e","g":"7236f08e93d54df7","name":"FlowerLeafTemp","version":1,"debugenabled":false,"inputs":1,"outputs":1,"entityConfig":"e6f59d1d73093224","mode":"set","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"}],"x":1300,"y":940,"wires":[[]]},{"id":"4d54e84af3d4b81c","type":"ha-number","z":"7dbb001f4a12c33e","g":"7236f08e93d54df7","name":"VeggiLeafTemp","version":1,"debugenabled":false,"inputs":1,"outputs":1,"entityConfig":"0d4aa62025063e39","mode":"set","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"}],"x":1300,"y":1040,"wires":[[]]},{"id":"9aee886e8e0fa11b","type":"ha-number","z":"7dbb001f4a12c33e","g":"7236f08e93d54df7","name":"GRoomLeafTemp","version":1,"debugenabled":false,"inputs":1,"outputs":1,"entityConfig":"2c294ef3ef47f75d","mode":"set","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"}],"x":1300,"y":1140,"wires":[[]]},{"id":"78f51155f8c50460","type":"function","z":"7dbb001f4a12c33e","g":"7236f08e93d54df7","name":"Default","func":"var state = msg.payload.newOffSet\n\nlet outputs = [null, null];\n    outputs[0] = { payload: state }; \n    outputs[1] = { payload: 0 };  \n\nreturn [outputs[0], outputs[1]]; \n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":900,"wires":[["2d557ea78433109d"],["8d9fd654ae8aaec2","4d54e84af3d4b81c","9aee886e8e0fa11b"]]},{"id":"0a30a4555f40a167","type":"function","z":"7dbb001f4a12c33e","g":"7236f08e93d54df7","name":"Custom","func":"let outputs = [null, null, null, null];\n\nvar flower = parseFloat(msg.payload.flowerLeafOffset);\nvar veggi = parseFloat(msg.payload.veggiLeafOffset);\nvar groom = parseFloat(msg.payload.groomLeafOffset);\nvar leafOffset = parseFloat(msg.payload.leafOffSet);\nvar leafMode = msg.payload.leafMode\n\n\n// Ensure that the payload values are numbers or default to 0 if they are NaN or null\nflower = isNaN(flower) ? 0 : flower;\nveggi = isNaN(veggi) ? 0 : veggi;\ngroom = isNaN(groom) ? 0 : groom;\nleafOffset = isNaN(leafOffset) ? 0 : leafOffset;\n\nif (leafMode == \"Custom\") {\n    if (flower === 0 && veggi === 0 && groom == 0) {\n        leafOffset = 0\n        flower = 2\n        veggi = 2\n        groom = 2\n    }\n}\n\noutputs[0] = { payload: flower };\noutputs[1] = { payload: veggi };\noutputs[2] = { payload: groom };\noutputs[3] = { payload: 0 };\n\nreturn outputs;\n","outputs":4,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":1040,"wires":[["8d9fd654ae8aaec2"],["4d54e84af3d4b81c"],["9aee886e8e0fa11b"],["2d557ea78433109d"]]},{"id":"dd6b14b460dab075","type":"poll-state","z":"7dbb001f4a12c33e","g":"7236f08e93d54df7","name":"GlobalLeafOffset","server":"5772bf4c.b461d","version":3,"exposeAsEntityConfig":"","updateInterval":"10","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":true,"outputOnChanged":true,"entityId":"number.leaftempoffset","stateType":"num","ifState":"","ifStateType":"num","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"LeafOffset","valueType":"str"}],"x":420,"y":1100,"wires":[["01cce3f8bf2a66d3"]]},{"id":"2ba711e98d827f28","type":"poll-state","z":"7dbb001f4a12c33e","g":"7236f08e93d54df7","name":"FlowerLeafOffset","server":"5772bf4c.b461d","version":3,"exposeAsEntityConfig":"","updateInterval":"10","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":true,"outputOnChanged":true,"entityId":"number.flowerleaftemp","stateType":"num","ifState":"","ifStateType":"num","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"FlowerLeafOffset","valueType":"str"}],"x":420,"y":920,"wires":[["01cce3f8bf2a66d3"]]},{"id":"5016bb031906d635","type":"poll-state","z":"7dbb001f4a12c33e","g":"7236f08e93d54df7","name":"VeggiLeafOffset","server":"5772bf4c.b461d","version":3,"exposeAsEntityConfig":"","updateInterval":"10","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":true,"outputOnChanged":true,"entityId":"number.veggileaftemp","stateType":"num","ifState":"","ifStateType":"num","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"VeggiLeafOffset","valueType":"str"}],"x":420,"y":980,"wires":[["01cce3f8bf2a66d3"]]},{"id":"22a1d3e6ac107c3f","type":"poll-state","z":"7dbb001f4a12c33e","g":"7236f08e93d54df7","name":"GRoomLeafOffset","server":"5772bf4c.b461d","version":3,"exposeAsEntityConfig":"","updateInterval":"10","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":true,"outputOnChanged":true,"entityId":"number.groomleaftemp","stateType":"num","ifState":"","ifStateType":"num","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"GRoomLeafOffset","valueType":"str"}],"x":410,"y":1040,"wires":[["01cce3f8bf2a66d3"]]},{"id":"01cce3f8bf2a66d3","type":"join","z":"7dbb001f4a12c33e","g":"7236f08e93d54df7","name":"LeafSetsCustom","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":670,"y":960,"wires":[["c561d85b1dda300e","f0449f704d2f7c8a","fd2b9c6859eb1484"]]},{"id":"c561d85b1dda300e","type":"debug","z":"7dbb001f4a12c33e","g":"7236f08e93d54df7","name":"debug 158","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":900,"wires":[]},{"id":"fd2b9c6859eb1484","type":"function","z":"7dbb001f4a12c33e","g":"7236f08e93d54df7","name":"Select","func":"let outputs = [null, null];\n\n// Utility function to check and set null or NaN values to a default of 1\nfunction checkAndSetDefault(value) {\n    if (value === null || value === undefined || isNaN(parseFloat(value))) {\n        return 2;\n    }\n    return parseFloat(value);\n}\n\n// Extract and convert values\nvar leafMode = msg.payload.GlobalLeafSet;\n\nvar newOffSet = 0;\n\nvar leafOffSet = checkAndSetDefault(msg.payload.LeafOffset);\nvar flowerLeafOffset = checkAndSetDefault(msg.payload.FlowerLeafOffset);\nvar veggiLeafOffset = checkAndSetDefault(msg.payload.VeggiLeafOffset);\nvar groomLeafOffset = checkAndSetDefault(msg.payload.GRoomLeafOffset);\n\n// Logic to set new offset based on leaf mode\nif (leafMode === \"Default\") {\n    newOffSet = leafOffSet === 0 ? 2 : leafOffSet;  // Default to 2 if current offset is 0\n    outputs[0] = { payload: { leafMode, newOffSet }, topic: `Mode: ${leafMode}` };\n} else if (leafMode === \"Custom\") {\n    newOffSet = { flowerLeafOffset, veggiLeafOffset, groomLeafOffset, leafOffSet, leafMode };\n    outputs[1] = { payload: newOffSet, topic: `Mode: ${leafMode}` };\n}\n\nreturn outputs;  // Return the modified outputs array\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":960,"wires":[["78f51155f8c50460"],["0a30a4555f40a167"]]},{"id":"f0449f704d2f7c8a","type":"link out","z":"7dbb001f4a12c33e","g":"7236f08e93d54df7","name":"LeafOffSet","mode":"link","links":["78243dcf0f50dbc8","6225380f219a0d41","3d4627f3225a086b","5586660314d79b76"],"x":705,"y":1080,"wires":[]},{"id":"311ee520c3f61f77","type":"api-current-state","z":"7dbb001f4a12c33e","g":"7236f08e93d54df7","name":"VeggiLeafOffset","server":"5772bf4c.b461d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"number.veggileaftemp","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"VeggiLeafOffset","valueType":"str"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":140,"y":980,"wires":[[]]},{"id":"da6c2e0c92ff7e70","type":"poll-state","z":"7dbb001f4a12c33e","g":"7236f08e93d54df7","name":"LeafSet","server":"5772bf4c.b461d","version":3,"exposeAsEntityConfig":"","updateInterval":"10","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":true,"outputOnChanged":true,"entityId":"select.leafset","stateType":"str","ifState":"","ifStateType":"num","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"GlobalLeafSet","valueType":"str"}],"x":410,"y":860,"wires":[["01cce3f8bf2a66d3"]]},{"id":"b221316ab2b19880","type":"api-current-state","z":"7dbb001f4a12c33e","g":"7236f08e93d54df7","name":"FlowerLeafOffset","server":"5772bf4c.b461d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"number.flowerleaftemp","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"FlowerLeafOffset","valueType":"str"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":150,"y":920,"wires":[[]]},{"id":"e2a9c4cfd27a3aa1","type":"api-current-state","z":"7dbb001f4a12c33e","g":"7236f08e93d54df7","name":"GRoomLeafOffset","server":"5772bf4c.b461d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"number.groomleaftemp","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"GRoomLeafOffset","valueType":"str"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":150,"y":1040,"wires":[[]]},{"id":"2f4fb16684615c04","type":"api-current-state","z":"7dbb001f4a12c33e","g":"7236f08e93d54df7","name":"GlobalLeafOffset","server":"5772bf4c.b461d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"number.flowerleaftemp","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"GlobalLeafOffset","valueType":"str"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":150,"y":1100,"wires":[[]]},{"id":"c59f29b7a6db9201","type":"debug","z":"7dbb001f4a12c33e","name":"debug 171","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1990,"y":500,"wires":[]},{"id":"ccb3187f22b46747","type":"function","z":"7dbb001f4a12c33e","name":"CleanRoomName","func":"msg.payload = msg.payload.VegiTent\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1990,"y":340,"wires":[["e84242346557dbcb","210ac2b8dcb58d6b"]]},{"id":"763b20a8fae48b90","type":"function","z":"7dbb001f4a12c33e","name":"CleanRoomName","func":"msg.payload = msg.payload.DryingTent\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1990,"y":540,"wires":[["854a899b81ae0da3","c59f29b7a6db9201"]]},{"id":"84eac5b2e72c4c3a","type":"function","z":"7dbb001f4a12c33e","name":"CleanRoomName","func":"msg.payload = msg.payload.GrowRoom\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1990,"y":640,"wires":[["1e4a05271ed20108","cfb42e4138a582aa"]]},{"id":"3ba7b1f323bcb6f0","type":"function","z":"7dbb001f4a12c33e","name":"CleanRoomName","func":"msg.payload = msg.payload.FlowerTent\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2010,"y":440,"wires":[["e0e6fce7027c2e26","30e6cea9a2330b2f"]]},{"id":"cfb42e4138a582aa","type":"debug","z":"7dbb001f4a12c33e","name":"debug 185","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1970,"y":600,"wires":[]},{"id":"25e6fe4184c15f12","type":"function","z":"7dbb001f4a12c33e","name":"Set LiveData","func":"let data = msg.payload.data;\nconst livedata = msg.payload.liveData;\n\n// Funktion zur Aktualisierung des state-Werts aus livedata\nfunction updateState(data, livedata) {\n    const entityId = livedata.entity_id;\n\n    for (const key in data) {\n        if (data.hasOwnProperty(key) && typeof data[key] === 'object' && data[key] !== null) {\n            if (data[key].hasOwnProperty(entityId)) {\n                // Setze nur den state-Wert aus livedata\n                data[key][entityId] = livedata.state;\n                return;\n            }\n        }\n    }\n}\n\n// Aktualisiere den state-Wert im data-Objekt\nupdateState(data, livedata);\n\n// Setze das aktualisierte data-Objekt direkt in msg.payload\nmsg.payload = data;\n\n// Entferne das liveData-Objekt und andere nicht benötigte Objekte aus msg\ndelete msg.liveData;\ndelete msg.areas;\ndelete msg.devices;\ndelete msg.entities;\ndelete msg.update;\n\n// Setze das Topic zurück auf \"data\"\nmsg.topic = \"data\";\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":620,"wires":[["84eac5b2e72c4c3a","cfb42e4138a582aa","377ce69ff730c0ff"]]},{"id":"a6d139f82eb8118d","type":"function","z":"7dbb001f4a12c33e","name":"SetLiveDataOnlyChangedData","func":"let data = msg.payload.data;\nconst livedata = msg.payload.liveData;\n\nlet changed = false;\n\n// Funktion zur Überprüfung der Gleichheit von Werten mit einer Dezimalstelle für numerische Werte\nfunction areEqual(value1, value2) {\n    // Versuche beide Werte in Zahlen umzuwandeln\n    const num1 = parseFloat(value1);\n    const num2 = parseFloat(value2);\n\n    // Wenn beide Werte Zahlen sind, vergleiche sie als Zahlen mit einer Dezimalstelle\n    if (!isNaN(num1) && !isNaN(num2)) {\n        return num1.toFixed(1) === num2.toFixed(1);\n    }\n\n    // Vergleiche die Werte als Strings, wenn sie keine Zahlen sind\n    return value1 === value2;\n}\n\n// Funktion zur Aktualisierung des state-Werts aus livedata\nfunction updateState(data, livedata) {\n    const entityId = livedata.entity_id;\n\n    for (const key in data) {\n        if (data.hasOwnProperty(key) && typeof data[key] === 'object' && data[key] !== null) {\n            // Suchen Sie in data[key] nach dem entsprechenden Wert\n            for (const subKey in data[key]) {\n                if (data[key].hasOwnProperty(subKey)) {\n                    // Überprüfen, ob der aktuelle Zustand anders ist als der neue Zustand\n                    if (subKey === entityId) {\n                        console.log(`Current state: ${data[key][subKey]}, New state: ${livedata.state}`);\n                        if (!areEqual(data[key][subKey], livedata.state)) {\n                            console.log('State is different. Updating state...');\n                            data[key][subKey] = livedata.state;\n                            changed = true; // Markiere als geändert\n                        } else {\n                            console.log('State is the same. No update needed.');\n                        }\n                        return; // Beendet die Schleife nach der ersten relevanten Änderung\n                    }\n                }\n            }\n        }\n    }\n}\n\n// Aktualisiere den state-Wert im data-Objekt\nupdateState(data, livedata);\n\n// Hinzufügen des `changed`-Eintrags zum `data`-Objekt\ndata.changed = changed;\n\n// Setze das aktualisierte data-Objekt direkt in msg.payload\nmsg.payload = data;\n\n// Entferne das liveData-Objekt und andere nicht benötigte Objekte aus msg\ndelete msg.liveData;\ndelete msg.areas;\ndelete msg.devices;\ndelete msg.entities;\ndelete msg.update;\n\n// Setze das Topic zurück auf \"data\"\nmsg.topic = \"data\";\n\n// Rückgabe der Nachricht basierend auf dem `changed`-Status\nif (changed) {\n    return [msg, null]; // Ausgabe 1: geändertes Objekt, Ausgabe 2: nichts\n} else {\n    return [null, msg]; // Ausgabe 1: nichts, Ausgabe 2: unverändertes Objekt\n}\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1730,"y":680,"wires":[[],[]]},{"id":"5772bf4c.b461d","type":"server","name":"OpenGrowBox","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"home-assistant-server","type":"server","name":"Home Assistant","addon":true},{"id":"10c9db02cb486656","type":"ha-entity-config","server":"home-assistant-server","deviceConfig":"","name":"GlobalLeafTemp","version":"6","entityType":"number","haConfig":[{"property":"name","value":"LeafTempOffset"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":"diagnostic"},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"min_value","value":0},{"property":"max_value","value":2},{"property":"step_value","value":0.1},{"property":"mode","value":"slider"}],"resend":false,"debugEnabled":false},{"id":"e6f59d1d73093224","type":"ha-entity-config","server":"home-assistant-server","deviceConfig":"","name":"FlowerLeafTemp","version":"6","entityType":"number","haConfig":[{"property":"name","value":"FlowerLeafTemp"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":"config"},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"min_value","value":0},{"property":"max_value","value":2},{"property":"step_value","value":0.1},{"property":"mode","value":"slider"}],"resend":false,"debugEnabled":false},{"id":"0d4aa62025063e39","type":"ha-entity-config","server":"home-assistant-server","deviceConfig":"","name":"VeggiLeafTemp","version":"6","entityType":"number","haConfig":[{"property":"name","value":"VeggiLeafTemp"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"min_value","value":0},{"property":"max_value","value":2},{"property":"step_value","value":0.1},{"property":"mode","value":"slider"}],"resend":false,"debugEnabled":false},{"id":"2c294ef3ef47f75d","type":"ha-entity-config","server":"home-assistant-server","deviceConfig":"","name":"GRoomLeafTemp","version":"6","entityType":"number","haConfig":[{"property":"name","value":"GRoomLeafTemp"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":"config"},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"min_value","value":0},{"property":"max_value","value":2},{"property":"step_value","value":0.1},{"property":"mode","value":"auto"}],"resend":false,"debugEnabled":false}]