NodeRed/Helpers/WebBasedDevices/Ruck-EC-Exhaust-Control/RuckECControll.json
[{"id":"3eced32f6afec9ad","type":"tab","label":"RuckECControll","disabled":false,"info":"","env":[]},{"id":"e3ae47face506c41","type":"group","z":"3eced32f6afec9ad","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["35bd5fd65c9a0879","9e723e7f476ea8f8","cb63b224171d1a61","f91c7f698a26dd0e","6f6a1483bb727dc8","726ff0be82ad7423","ac45c928935c7dfb","b5421e42b33902bc","ef306e0bb8574cf7"],"x":894,"y":19,"w":852,"h":262},{"id":"d3018dd6637a17e7","type":"group","z":"3eced32f6afec9ad","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["d4ee50c361aa4ca9","4a009cfd840e08ec","b2c1303d977cf4c8","fd9dc73ed7f6f02c","32822402a46d0257","614ca3bfbf9e4df5","578c2c0a69835a12","b838e1bb8d2f4a8d","227574f9468de816"],"x":934,"y":359,"w":852,"h":242},{"id":"f0d791250ce3cb79","type":"group","z":"3eced32f6afec9ad","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["89bbe2fb835eb83b","93ef8584d57fe5b7","8aa103c983aeac9d","972077a0dd65535b","ea91907ac588be23","dddac41b1a6ed6aa","cfe2eb1863b1949c","4ac4c49a4e3014c1","de8180bd72a13fca"],"x":934,"y":719,"w":832,"h":262},{"id":"7881c1d5756a95f9","type":"group","z":"3eced32f6afec9ad","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["839a471f41870830","aab3cfc0c8cefa14","c29833ece0d282ba","edc6b2118761154c","b72f611d8f79f840","fdf1bd6dd1070fbc","cea6f508110a5b62","23b54df21007e20e","0744b0e547eb2565","e7c6436ff95e88f6","794c44658f6efede","a1dd8f98197e0a14","e8bc2512eed39252","e6d61ecc778b733a"],"x":14,"y":19,"w":792,"h":322},{"id":"cc0c7ed9ea21cf9b","type":"group","z":"3eced32f6afec9ad","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["a2de9fd6d2f557ef","ec9710af1d0cd050","04c8a1a466a2f268","68456ed3d9470423","90d994698db057fa","35452893dd38f293","7a518a1d9ab5d941","078b870bf2716503","6f4f9bdcba616abb","ddab435427260de1","3162e0a1ac83930b","b10430d6eae75417","c977b318830b9344","6d7d082f99808488"],"x":14,"y":359,"w":852,"h":342},{"id":"d0184e748701da52","type":"group","z":"3eced32f6afec9ad","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f0ff0a0fb1975a69","72f80534f0857440","442464aa9abec787","7f83211f1adf1085","df129d682c7098c7","73f7f8508dfc837b","61205c55b28599ab","1f730adffd496dc4","70c691cb77d35316","30fde43e19631bb1","7d39d0224f4376fc","c033c6d42954ef22","be6bba3d99543c18","7102b1e4cc6e2cd2"],"x":-6,"y":719,"w":932,"h":322},{"id":"35bd5fd65c9a0879","type":"http request","z":"3eced32f6afec9ad","g":"e3ae47face506c41","name":"DutyPostChange","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.1.1.253:5533/air/ctrl","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":1450,"y":120,"wires":[["f91c7f698a26dd0e"]]},{"id":"9e723e7f476ea8f8","type":"function","z":"3eced32f6afec9ad","g":"e3ae47face506c41","name":"DutyChanger","func":"\nconst NewDuty = msg.newDuty\n\nmsg.payload = { \"newDuty\": NewDuty}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1250,"y":120,"wires":[["35bd5fd65c9a0879"]]},{"id":"cb63b224171d1a61","type":"inject","z":"3eced32f6afec9ad","g":"e3ae47face506c41","name":"PWM_SETTER","props":[{"p":"newDuty","v":"5","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1040,"y":120,"wires":[["9e723e7f476ea8f8"]]},{"id":"f91c7f698a26dd0e","type":"debug","z":"3eced32f6afec9ad","g":"e3ae47face506c41","name":"debug 7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1640,"y":160,"wires":[]},{"id":"6f6a1483bb727dc8","type":"http request","z":"3eced32f6afec9ad","g":"e3ae47face506c41","name":"DutyPostStart","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.1.1.253:5533/air/start","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":1420,"y":180,"wires":[["f91c7f698a26dd0e"]]},{"id":"726ff0be82ad7423","type":"http request","z":"3eced32f6afec9ad","g":"e3ae47face506c41","name":"DutyPostStop","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.1.1.253:5533/air/stop","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":1420,"y":240,"wires":[["f91c7f698a26dd0e"]]},{"id":"ac45c928935c7dfb","type":"inject","z":"3eced32f6afec9ad","g":"e3ae47face506c41","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1010,"y":180,"wires":[["6f6a1483bb727dc8"]]},{"id":"b5421e42b33902bc","type":"inject","z":"3eced32f6afec9ad","g":"e3ae47face506c41","name":"Stop","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1010,"y":240,"wires":[["726ff0be82ad7423"]]},{"id":"839a471f41870830","type":"http request","z":"3eced32f6afec9ad","g":"7881c1d5756a95f9","name":"ECAbluftState","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://10.1.1.253:5533/","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":320,"y":100,"wires":[["aab3cfc0c8cefa14"]]},{"id":"aab3cfc0c8cefa14","type":"function","z":"3eced32f6afec9ad","g":"7881c1d5756a95f9","name":"Check DutyCycle","func":"msg.payload = msg.payload.data.DutyCycle\nmsg.topic = \"DutyCycle\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":100,"wires":[["c29833ece0d282ba"]]},{"id":"c29833ece0d282ba","type":"ha-number","z":"3eced32f6afec9ad","g":"7881c1d5756a95f9","name":"Air Controller","version":1,"debugenabled":false,"inputs":1,"outputs":1,"entityConfig":"a9a93d97bbb7b04a","mode":"set","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"},{"property":"topic","propertyType":"msg","value":"DutyCycle","valueType":"str"}],"x":710,"y":100,"wires":[["e7c6436ff95e88f6"]]},{"id":"edc6b2118761154c","type":"http request","z":"3eced32f6afec9ad","g":"7881c1d5756a95f9","name":"DutyPostChange","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.1.1.253:5533/air/ctrl","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":670,"y":260,"wires":[[]]},{"id":"b72f611d8f79f840","type":"function","z":"3eced32f6afec9ad","g":"7881c1d5756a95f9","name":"DutyChanger","func":"\nconst NewDuty = msg.payload\n\nmsg.payload = { \"newDuty\": NewDuty }\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":220,"wires":[["edc6b2118761154c"]]},{"id":"fdf1bd6dd1070fbc","type":"inject","z":"3eced32f6afec9ad","g":"7881c1d5756a95f9","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":130,"y":100,"wires":[["839a471f41870830"]]},{"id":"cea6f508110a5b62","type":"ha-switch","z":"3eced32f6afec9ad","g":"7881c1d5756a95f9","name":"ECRuckFlower","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"9cc6832db356ad2f","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":140,"y":260,"wires":[["23b54df21007e20e"],["0744b0e547eb2565"]]},{"id":"23b54df21007e20e","type":"http request","z":"3eced32f6afec9ad","g":"7881c1d5756a95f9","name":"DutyPostStart","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.1.1.253:5533/air/start","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":360,"y":240,"wires":[[]]},{"id":"0744b0e547eb2565","type":"http request","z":"3eced32f6afec9ad","g":"7881c1d5756a95f9","name":"DutyPostStop","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.1.1.253:5533/air/stop","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":360,"y":300,"wires":[[]]},{"id":"e7c6436ff95e88f6","type":"join","z":"3eced32f6afec9ad","g":"7881c1d5756a95f9","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":270,"y":180,"wires":[["794c44658f6efede"]]},{"id":"794c44658f6efede","type":"function","z":"3eced32f6afec9ad","g":"7881c1d5756a95f9","name":"CompareDuty","func":"let lastState = msg.payload.DutyCycle\nlet newState = msg.payload.DutyChangedTo\n\nif(newState === lastState){\n    msg.payload = \"Abluft: Same State Nothing to Do\"\n    return [msg,null];\n}else{\n    msg.payload = newState\n    return  [null,msg];\n}","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":180,"wires":[["e8bc2512eed39252"],["b72f611d8f79f840"]]},{"id":"a1dd8f98197e0a14","type":"ha-number","z":"3eced32f6afec9ad","g":"7881c1d5756a95f9","name":"Air Controller","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"a9a93d97bbb7b04a","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"},{"property":"topic","propertyType":"msg","value":"DutyChangedTo","valueType":"str"}],"x":110,"y":180,"wires":[["e7c6436ff95e88f6"]]},{"id":"e8bc2512eed39252","type":"debug","z":"3eced32f6afec9ad","g":"7881c1d5756a95f9","name":"debug 28","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":160,"wires":[]},{"id":"a2de9fd6d2f557ef","type":"http request","z":"3eced32f6afec9ad","g":"cc0c7ed9ea21cf9b","name":"ECAbluftState","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://10.1.1.234:5533/","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":320,"y":460,"wires":[["ec9710af1d0cd050"]]},{"id":"ec9710af1d0cd050","type":"function","z":"3eced32f6afec9ad","g":"cc0c7ed9ea21cf9b","name":"Check DutyCycle","func":"msg.payload = msg.payload.data.DutyCycle\nmsg.topic = \"DutyCycle\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":460,"wires":[["04c8a1a466a2f268"]]},{"id":"04c8a1a466a2f268","type":"ha-number","z":"3eced32f6afec9ad","g":"cc0c7ed9ea21cf9b","name":"Air Controller Vegi","version":1,"debugenabled":false,"inputs":1,"outputs":1,"entityConfig":"b923911d032dc0de","mode":"set","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"},{"property":"topic","propertyType":"msg","value":"DutyCycle","valueType":"str"}],"x":730,"y":460,"wires":[["7a518a1d9ab5d941"]]},{"id":"68456ed3d9470423","type":"http request","z":"3eced32f6afec9ad","g":"cc0c7ed9ea21cf9b","name":"DutyPostChange","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.1.1.234:5533/air/ctrl","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":750,"y":620,"wires":[[]]},{"id":"90d994698db057fa","type":"function","z":"3eced32f6afec9ad","g":"cc0c7ed9ea21cf9b","name":"DutyChanger","func":"\nconst NewDuty = msg.payload\n\nmsg.payload = { \"newDuty\": NewDuty }\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":580,"wires":[["68456ed3d9470423"]]},{"id":"35452893dd38f293","type":"inject","z":"3eced32f6afec9ad","g":"cc0c7ed9ea21cf9b","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":150,"y":460,"wires":[["a2de9fd6d2f557ef"]]},{"id":"7a518a1d9ab5d941","type":"join","z":"3eced32f6afec9ad","g":"cc0c7ed9ea21cf9b","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":310,"y":540,"wires":[["078b870bf2716503"]]},{"id":"078b870bf2716503","type":"function","z":"3eced32f6afec9ad","g":"cc0c7ed9ea21cf9b","name":"CompareDuty","func":"let lastState = msg.payload.DutyCycle\nlet newState = msg.payload.DutyChangedTo\n\nif(newState === lastState){\n    msg.payload = \"Abluft: Same State Nothing to Do\"\n    return [msg,null];\n}else{\n    msg.payload = newState\n    return  [null,msg];\n}","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":540,"wires":[["ddab435427260de1"],["90d994698db057fa"]]},{"id":"6f4f9bdcba616abb","type":"ha-number","z":"3eced32f6afec9ad","g":"cc0c7ed9ea21cf9b","name":"Air Controller Vegi","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"b923911d032dc0de","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"},{"property":"topic","propertyType":"msg","value":"DutyChangedTo","valueType":"str"}],"x":130,"y":540,"wires":[["7a518a1d9ab5d941"]]},{"id":"ddab435427260de1","type":"debug","z":"3eced32f6afec9ad","g":"cc0c7ed9ea21cf9b","name":"debug 53","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":520,"wires":[]},{"id":"3162e0a1ac83930b","type":"ha-switch","z":"3eced32f6afec9ad","g":"cc0c7ed9ea21cf9b","name":"ECRuckVegi","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"9e27ae392ae6bf01","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":130,"y":620,"wires":[["b10430d6eae75417"],["c977b318830b9344"]]},{"id":"b10430d6eae75417","type":"http request","z":"3eced32f6afec9ad","g":"cc0c7ed9ea21cf9b","name":"DutyPostStart","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.1.1.234:5533/air/start","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":380,"y":600,"wires":[[]]},{"id":"c977b318830b9344","type":"http request","z":"3eced32f6afec9ad","g":"cc0c7ed9ea21cf9b","name":"DutyPostStop","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.1.1.234:5533/air/stop","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":380,"y":660,"wires":[[]]},{"id":"d4ee50c361aa4ca9","type":"http request","z":"3eced32f6afec9ad","g":"d3018dd6637a17e7","name":"DutyPostChange","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.1.1.235:5533/air/ctrl","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":1490,"y":440,"wires":[["fd9dc73ed7f6f02c"]]},{"id":"4a009cfd840e08ec","type":"function","z":"3eced32f6afec9ad","g":"d3018dd6637a17e7","name":"DutyChanger","func":"\nconst NewDuty = msg.newDuty\n\nmsg.payload = { \"newDuty\": NewDuty}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":440,"wires":[["d4ee50c361aa4ca9"]]},{"id":"b2c1303d977cf4c8","type":"inject","z":"3eced32f6afec9ad","g":"d3018dd6637a17e7","name":"PWM_SETTER","props":[{"p":"newDuty","v":"5","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1080,"y":440,"wires":[["4a009cfd840e08ec"]]},{"id":"fd9dc73ed7f6f02c","type":"debug","z":"3eced32f6afec9ad","g":"d3018dd6637a17e7","name":"debug 54","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1680,"y":480,"wires":[]},{"id":"32822402a46d0257","type":"http request","z":"3eced32f6afec9ad","g":"d3018dd6637a17e7","name":"DutyPostStart","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.1.1.235:5533/air/start","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":1460,"y":500,"wires":[["fd9dc73ed7f6f02c"]]},{"id":"614ca3bfbf9e4df5","type":"http request","z":"3eced32f6afec9ad","g":"d3018dd6637a17e7","name":"DutyPostStop","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.1.1.235:5533/air/stop","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":1460,"y":560,"wires":[["fd9dc73ed7f6f02c"]]},{"id":"578c2c0a69835a12","type":"inject","z":"3eced32f6afec9ad","g":"d3018dd6637a17e7","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1050,"y":500,"wires":[["32822402a46d0257"]]},{"id":"b838e1bb8d2f4a8d","type":"inject","z":"3eced32f6afec9ad","g":"d3018dd6637a17e7","name":"Stop","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1050,"y":560,"wires":[["614ca3bfbf9e4df5"]]},{"id":"f0ff0a0fb1975a69","type":"http request","z":"3eced32f6afec9ad","g":"d0184e748701da52","name":"ECAbluftState","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://10.1.1.234:5533/","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":320,"y":800,"wires":[["72f80534f0857440"]]},{"id":"72f80534f0857440","type":"function","z":"3eced32f6afec9ad","g":"d0184e748701da52","name":"Check DutyCycle","func":"msg.payload = msg.payload.data.DutyCycle\nmsg.topic = \"DutyCycle\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":800,"wires":[["442464aa9abec787"]]},{"id":"442464aa9abec787","type":"ha-number","z":"3eced32f6afec9ad","g":"d0184e748701da52","name":"Air Controller Dryer","version":1,"debugenabled":false,"inputs":1,"outputs":1,"entityConfig":"51482df92d2f1f29","mode":"set","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"},{"property":"topic","propertyType":"msg","value":"DutyCycle","valueType":"str"}],"x":770,"y":800,"wires":[["61205c55b28599ab"]]},{"id":"7f83211f1adf1085","type":"http request","z":"3eced32f6afec9ad","g":"d0184e748701da52","name":"DutyPostChange","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.1.1.234:5533/air/ctrl","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":810,"y":900,"wires":[[]]},{"id":"df129d682c7098c7","type":"function","z":"3eced32f6afec9ad","g":"d0184e748701da52","name":"DutyChanger","func":"\nconst NewDuty = msg.payload\n\nmsg.payload = { \"newDuty\": NewDuty }\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":900,"wires":[["7f83211f1adf1085"]]},{"id":"73f7f8508dfc837b","type":"inject","z":"3eced32f6afec9ad","g":"d0184e748701da52","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":110,"y":800,"wires":[["f0ff0a0fb1975a69"]]},{"id":"61205c55b28599ab","type":"join","z":"3eced32f6afec9ad","g":"d0184e748701da52","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":310,"y":880,"wires":[["1f730adffd496dc4"]]},{"id":"1f730adffd496dc4","type":"function","z":"3eced32f6afec9ad","g":"d0184e748701da52","name":"CompareDuty","func":"let lastState = msg.payload.DutyCycle\nlet newState = msg.payload.DutyChangedTo\n\nif(newState === lastState){\n    msg.payload = \"Abluft: Same State Nothing to Do\"\n    return [msg,null];\n}else{\n    msg.payload = newState\n    return  [null,msg];\n}","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":880,"wires":[["30fde43e19631bb1"],["df129d682c7098c7"]]},{"id":"70c691cb77d35316","type":"ha-number","z":"3eced32f6afec9ad","g":"d0184e748701da52","name":"Air Controller Dryer","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"51482df92d2f1f29","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"},{"property":"topic","propertyType":"msg","value":"DutyChangedTo","valueType":"str"}],"x":130,"y":880,"wires":[["61205c55b28599ab"]]},{"id":"30fde43e19631bb1","type":"debug","z":"3eced32f6afec9ad","g":"d0184e748701da52","name":"debug 74","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":860,"wires":[]},{"id":"7d39d0224f4376fc","type":"ha-switch","z":"3eced32f6afec9ad","g":"d0184e748701da52","name":"ECRuckDryer","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"52b8c46d1aea9a62","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":130,"y":960,"wires":[["c033c6d42954ef22"],["be6bba3d99543c18"]]},{"id":"c033c6d42954ef22","type":"http request","z":"3eced32f6afec9ad","g":"d0184e748701da52","name":"DutyPostStart","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.1.1.234:5533/air/start","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":380,"y":940,"wires":[[]]},{"id":"be6bba3d99543c18","type":"http request","z":"3eced32f6afec9ad","g":"d0184e748701da52","name":"DutyPostStop","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.1.1.234:5533/air/stop","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":380,"y":1000,"wires":[[]]},{"id":"89bbe2fb835eb83b","type":"http request","z":"3eced32f6afec9ad","g":"f0d791250ce3cb79","name":"DutyPostChange","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.1.1.235:5533/air/ctrl","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":1470,"y":820,"wires":[["972077a0dd65535b"]]},{"id":"93ef8584d57fe5b7","type":"function","z":"3eced32f6afec9ad","g":"f0d791250ce3cb79","name":"DutyChanger","func":"\nconst NewDuty = msg.newDuty\n\nmsg.payload = { \"newDuty\": NewDuty}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":820,"wires":[["89bbe2fb835eb83b"]]},{"id":"8aa103c983aeac9d","type":"inject","z":"3eced32f6afec9ad","g":"f0d791250ce3cb79","name":"PWM_SETTER","props":[{"p":"newDuty","v":"5","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1060,"y":820,"wires":[["93ef8584d57fe5b7"]]},{"id":"972077a0dd65535b","type":"debug","z":"3eced32f6afec9ad","g":"f0d791250ce3cb79","name":"debug 75","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1660,"y":860,"wires":[]},{"id":"ea91907ac588be23","type":"http request","z":"3eced32f6afec9ad","g":"f0d791250ce3cb79","name":"DutyPostStart","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.1.1.235:5533/air/start","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":1440,"y":880,"wires":[["972077a0dd65535b"]]},{"id":"dddac41b1a6ed6aa","type":"http request","z":"3eced32f6afec9ad","g":"f0d791250ce3cb79","name":"DutyPostStop","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.1.1.235:5533/air/stop","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":1440,"y":940,"wires":[["972077a0dd65535b"]]},{"id":"cfe2eb1863b1949c","type":"inject","z":"3eced32f6afec9ad","g":"f0d791250ce3cb79","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1030,"y":880,"wires":[["ea91907ac588be23"]]},{"id":"4ac4c49a4e3014c1","type":"inject","z":"3eced32f6afec9ad","g":"f0d791250ce3cb79","name":"Stop","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1030,"y":940,"wires":[["dddac41b1a6ed6aa"]]},{"id":"ef306e0bb8574cf7","type":"comment","z":"3eced32f6afec9ad","g":"e3ae47face506c41","name":"DEBUG ","info":"","x":970,"y":60,"wires":[]},{"id":"6d7d082f99808488","type":"comment","z":"3eced32f6afec9ad","g":"cc0c7ed9ea21cf9b","name":"Veggi Exhaust","info":"","x":130,"y":400,"wires":[]},{"id":"e6d61ecc778b733a","type":"comment","z":"3eced32f6afec9ad","g":"7881c1d5756a95f9","name":"Flower Exhaust","info":"","x":120,"y":60,"wires":[]},{"id":"227574f9468de816","type":"comment","z":"3eced32f6afec9ad","g":"d3018dd6637a17e7","name":"DEBUG ","info":"","x":1010,"y":400,"wires":[]},{"id":"de8180bd72a13fca","type":"comment","z":"3eced32f6afec9ad","g":"f0d791250ce3cb79","name":"DEBUG ","info":"","x":1010,"y":760,"wires":[]},{"id":"7102b1e4cc6e2cd2","type":"comment","z":"3eced32f6afec9ad","g":"d0184e748701da52","name":"Drying Exhaust","info":"","x":100,"y":760,"wires":[]},{"id":"a9a93d97bbb7b04a","type":"ha-entity-config","server":"5772bf4c.b461d","deviceConfig":"","name":"AirCtrlFlower","version":"6","entityType":"number","haConfig":[{"property":"name","value":"AirCtrlFlower"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":"config"},{"property":"device_class","value":"battery"},{"property":"unit_of_measurement","value":"%"},{"property":"min_value","value":5},{"property":"max_value","value":95},{"property":"step_value","value":1},{"property":"mode","value":"slider"}],"resend":false,"debugEnabled":true},{"id":"9cc6832db356ad2f","type":"ha-entity-config","server":"5772bf4c.b461d","deviceConfig":"","name":"ECRuckFlower","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"ECRuckFlower"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":"config"},{"property":"device_class","value":"switch"}],"resend":false,"debugEnabled":true},{"id":"b923911d032dc0de","type":"ha-entity-config","server":"5772bf4c.b461d","deviceConfig":"","name":"AirCtrlVegi","version":"6","entityType":"number","haConfig":[{"property":"name","value":"AirCtrlVegi"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":"config"},{"property":"device_class","value":"battery"},{"property":"unit_of_measurement","value":"%"},{"property":"min_value","value":5},{"property":"max_value","value":95},{"property":"step_value","value":""},{"property":"mode","value":"slider"}],"resend":false,"debugEnabled":false},{"id":"9e27ae392ae6bf01","type":"ha-entity-config","server":"5772bf4c.b461d","deviceConfig":"","name":"ECRuckVegi","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"RuckECVegi"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"51482df92d2f1f29","type":"ha-entity-config","server":"5772bf4c.b461d","deviceConfig":"","name":"AirCtrlDryer","version":"6","entityType":"number","haConfig":[{"property":"name","value":"AirCtrlDryer"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"min_value","value":""},{"property":"max_value","value":""},{"property":"step_value","value":""},{"property":"mode","value":"auto"}],"resend":false,"debugEnabled":false},{"id":"52b8c46d1aea9a62","type":"ha-entity-config","server":"5772bf4c.b461d","deviceConfig":"","name":"ECRuckDryer","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"ECRuckDryer"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":"diagnostic"},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"5772bf4c.b461d","type":"server","name":"OpenGrowBox","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]