NodeRed/Helpers/DeviceFunc/HumidifierFunc/humidiferFlow.json
[{"id":"2651868e58bb1778","type":"group","z":"3752d27d7587c957","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["38a22324d2ddeb2e","0eca8b29f89f4926","5373a6c3f26af0c7","317e9ec8876608ff","fb9d3843392773d1","d2b8b521e6d704e6"],"x":2934,"y":879,"w":582,"h":142},{"id":"38a22324d2ddeb2e","type":"function","z":"3752d27d7587c957","g":"2651868e58bb1778","name":"BefeuchterSetup","func":"let outputs = [null, null, null]; // Array für drei Ausgänge\n\nlet humidifierState = null;\n\n// Schleife, um den Zustand des Befeuchters zu finden\nfor (let i = 0; i < msg.payload.humidifier.length; i++) {\n    if (msg.payload.humidifier[i].entity_id.includes('humidifier')) {\n        humidifierState = msg.payload.humidifier[i].value;\n        break;\n    }\n}\n\n// Befeuchter starten\nif (msg.payload.humidifierSet.value === \"increased\" && humidifierState === \"off\") {\n    outputs[0] = { payload: \"Starte Befeuchter\", topic: \"Start\" };\n}\n\n// Befeuchter stoppen\nif (msg.payload.humidifierSet.value === \"reduced\" && humidifierState === \"on\") {\n    outputs[1] = { payload: \"Stoppe Befeuchter\", topic: \"Stop\" };\n}\n\n// Nichts tun oder ausschalten bei unverändertem Zustand\nif (msg.payload.humidifierSet.value === \"unchanged\") {\n    if (humidifierState === \"on\") {\n        // Wenn der Befeuchter im Zelt an ist und kein Wechsel angefordert wird, sende \"off\"\n        outputs[0] = { payload: \"off\", topic: \"Humidifier\" };\n    } else {\n        // Wenn der Befeuchter bereits aus ist oder nicht geändert werden soll\n        outputs[1] = { payload: \"Humidifier already stopped, nothing to do! Waiting for changes.\", topic: \"Humidifier\" };\n    }\n}\n\n// Nichts tun (detaillierte Information)\nif (msg.payload.humidifierSet.value === \"unchanged\" && humidifierState !== \"on\" && humidifierState !== \"off\") {\n    outputs[2] = { payload: \"Befeuchter unverändert, keine Aktion erforderlich\", data: msg.payload, topic: \"Nothing\" };\n}\n\nreturn outputs; // Rückgabe des Ausgangsarrays\n","outputs":4,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3250,"y":960,"wires":[["fb9d3843392773d1"],["d2b8b521e6d704e6"],["317e9ec8876608ff","d2b8b521e6d704e6"],[]]},{"id":"0eca8b29f89f4926","type":"join","z":"3752d27d7587c957","g":"2651868e58bb1778","name":"HumidityData","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":3040,"y":980,"wires":[["38a22324d2ddeb2e"]]},{"id":"5373a6c3f26af0c7","type":"link in","z":"3752d27d7587c957","g":"2651868e58bb1778","name":"HumidifierData","links":["49c6e2de0f1b0630"],"x":2975,"y":920,"wires":[["0eca8b29f89f4926"]]},{"id":"317e9ec8876608ff","type":"link out","z":"3752d27d7587c957","g":"2651868e58bb1778","name":"link out 124","mode":"link","links":[],"x":3475,"y":980,"wires":[]},{"id":"fb9d3843392773d1","type":"link out","z":"3752d27d7587c957","g":"2651868e58bb1778","name":"lHumidifierStart","mode":"link","links":["1be287d67694b336"],"x":3405,"y":920,"wires":[]},{"id":"d2b8b521e6d704e6","type":"link out","z":"3752d27d7587c957","g":"2651868e58bb1778","name":"HumidifierStop","mode":"link","links":["7deddc1b5d29a51e"],"x":3465,"y":940,"wires":[]}]