NodeRed/Core/Tents/DryingTent.json
[{"id":"d28a10efe1bd691a","type":"tab","label":"DryingCtrl","disabled":false,"info":"","env":[]},{"id":"8540a64360eeb2e3","type":"junction","z":"d28a10efe1bd691a","x":340,"y":780,"wires":[["5561d722474925a7"]]},{"id":"2ca002327ef036d1","type":"junction","z":"d28a10efe1bd691a","x":340,"y":740,"wires":[["3d1de2da21737bbf","1e9219706b3dcb52"]]},{"id":"ca3e91a1c3e14f9b","type":"junction","z":"d28a10efe1bd691a","x":340,"y":700,"wires":[["41b4555e8bcf365c","27c4409593298a63"]]},{"id":"da0338216a460080","type":"junction","z":"d28a10efe1bd691a","x":340,"y":660,"wires":[["408da79490fe8f31","3580666ca566a1b2"]]},{"id":"daef70d5a79e39fe","type":"junction","z":"d28a10efe1bd691a","x":340,"y":620,"wires":[["abb81f02ef7e7af3"]]},{"id":"5c422b0437f7893a","type":"junction","z":"d28a10efe1bd691a","x":340,"y":560,"wires":[["f65b5f035dc3938f"]]},{"id":"a0dc501fd13e7973","type":"junction","z":"d28a10efe1bd691a","x":340,"y":520,"wires":[["33da5f920111ae7b"]]},{"id":"d43c4fc62cb7ebdd","type":"junction","z":"d28a10efe1bd691a","x":340,"y":460,"wires":[["6691f30896f4957c"]]},{"id":"9af98dd672d35e6f","type":"junction","z":"d28a10efe1bd691a","x":340,"y":420,"wires":[["1cafc3cdc596a71c"]]},{"id":"0ed2c6313c27ba5c","type":"junction","z":"d28a10efe1bd691a","x":340,"y":380,"wires":[["1228d1849dd6e17f"]]},{"id":"999e2c68e85ba1ad","type":"junction","z":"d28a10efe1bd691a","x":340,"y":340,"wires":[["cf870d1497c1636b"]]},{"id":"be27cdd6685e57bf","type":"junction","z":"d28a10efe1bd691a","x":340,"y":300,"wires":[["c3ca25576cc164f4"]]},{"id":"6ded9232a772672a","type":"junction","z":"d28a10efe1bd691a","x":340,"y":260,"wires":[["feaab4802e8da54a"]]},{"id":"e7dd382b1bc9a889","type":"junction","z":"d28a10efe1bd691a","x":340,"y":220,"wires":[["03095de55d04d1ea"]]},{"id":"67543176e6275d51","type":"junction","z":"d28a10efe1bd691a","x":340,"y":180,"wires":[["d2c934d915b9fd5b","2cd2917dcacf2ef2"]]},{"id":"03c1cf1f055128f4","type":"junction","z":"d28a10efe1bd691a","x":340,"y":140,"wires":[["0d988b7baa82e8d6","2cd2917dcacf2ef2"]]},{"id":"2d68c9a779e74e74","type":"junction","z":"d28a10efe1bd691a","x":340,"y":100,"wires":[["a504aa090a9bbc61"]]},{"id":"812330f99e226222","type":"link in","z":"d28a10efe1bd691a","name":"DryingCtrl","links":["f639a305698026d1"],"x":45,"y":40,"wires":[["a2581c2f8e391949"]]},{"id":"a2581c2f8e391949","type":"debug","z":"d28a10efe1bd691a","name":"DryingTentData","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":160,"y":20,"wires":[]},{"id":"3f44a96e32f333c2","type":"link in","z":"d28a10efe1bd691a","name":"DryingTentLiveData","links":["854a899b81ae0da3"],"x":45,"y":80,"wires":[["936359eef43e5083","e9213e1d9eaa70a2"]]},{"id":"936359eef43e5083","type":"debug","z":"d28a10efe1bd691a","name":"DryingTentLiveData","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":170,"y":60,"wires":[]},{"id":"27c4409593298a63","type":"link out","z":"d28a10efe1bd691a","name":"Exhaust","mode":"link","links":[],"x":575,"y":700,"wires":[]},{"id":"2cd2917dcacf2ef2","type":"join","z":"d28a10efe1bd691a","name":"VpdNeeds","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":460,"y":60,"wires":[[]]},{"id":"0d988b7baa82e8d6","type":"debug","z":"d28a10efe1bd691a","name":"Temperatures","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":140,"wires":[]},{"id":"d2c934d915b9fd5b","type":"debug","z":"d28a10efe1bd691a","name":"Humidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":180,"wires":[]},{"id":"03095de55d04d1ea","type":"debug","z":"d28a10efe1bd691a","name":"Dewpoints","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":220,"wires":[]},{"id":"1228d1849dd6e17f","type":"debug","z":"d28a10efe1bd691a","name":"Pressures","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":380,"wires":[]},{"id":"33da5f920111ae7b","type":"debug","z":"d28a10efe1bd691a","name":"Battery","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":520,"wires":[]},{"id":"f65b5f035dc3938f","type":"debug","z":"d28a10efe1bd691a","name":"Power","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":560,"wires":[]},{"id":"1cafc3cdc596a71c","type":"debug","z":"d28a10efe1bd691a","name":"CO2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":420,"wires":[]},{"id":"6691f30896f4957c","type":"debug","z":"d28a10efe1bd691a","name":"Light","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":460,"wires":[]},{"id":"abb81f02ef7e7af3","type":"debug","z":"d28a10efe1bd691a","name":"Switches","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":620,"wires":[]},{"id":"cf870d1497c1636b","type":"debug","z":"d28a10efe1bd691a","name":"Conductivity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":340,"wires":[]},{"id":"feaab4802e8da54a","type":"debug","z":"d28a10efe1bd691a","name":"Moisture","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":260,"wires":[]},{"id":"41b4555e8bcf365c","type":"debug","z":"d28a10efe1bd691a","name":"Exhasut","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":700,"wires":[]},{"id":"a504aa090a9bbc61","type":"debug","z":"d28a10efe1bd691a","name":"WISH","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":100,"wires":[]},{"id":"3d1de2da21737bbf","type":"debug","z":"d28a10efe1bd691a","name":"Humidifier","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":740,"wires":[]},{"id":"408da79490fe8f31","type":"debug","z":"d28a10efe1bd691a","name":"Vents","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":660,"wires":[]},{"id":"c3ca25576cc164f4","type":"debug","z":"d28a10efe1bd691a","name":"RootTemp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":300,"wires":[]},{"id":"5561d722474925a7","type":"debug","z":"d28a10efe1bd691a","name":"Dehumidifier","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":780,"wires":[]},{"id":"e9213e1d9eaa70a2","type":"function","z":"d28a10efe1bd691a","name":"Sort Sensor Types","func":"let data = msg.payload;\n\n// Arrays für verschiedene Sensortypen initialisieren\nlet wish = [];\nlet temperatures = [];\nlet humidity = [];\nlet dewpoints = [];\nlet moisture = [];\nlet pressures = [];\nlet battery = [];\nlet power = [];\nlet co2 = [];\nlet lumen = [];\nlet conductivity = [];\nlet switches = [];\nlet dutyCycleExhaust = [];\nlet vents = [];\nlet humidifier = [];\nlet dehumidifier = [];\nlet root = [];\n\n// Durchlaufe alle Schlüssel im data-Objekt und sortiere sie nach bestimmten Sensortypen\nfor (let key in data) {\n    if (data.hasOwnProperty(key)) {\n        let entity_id = key.toLowerCase();\n        let entity = { entity_id: key, value: data[key] };\n\n        // Prioritize to ensure it is captured first\n        if (entity_id.includes('wish') || entity_id.includes('avg') || entity_id.includes('target')) {\n            wish.push(entity);\n        } else if (entity_id.includes('root') || entity_id.includes('wurzel') || entity_id.includes('water')) {\n            root.push(entity);\n        }\n        // Devices\n        else if (entity_id.includes('humidifier') || entity_id.includes('befeuchter')) {\n            humidifier.push(entity);\n        } else if (entity_id.includes('dehumidifier') || entity_id.includes('entfeuchter')) {\n            dehumidifier.push(entity);\n        } else if (entity_id.includes('ruckec') || entity_id.includes('airctr') || entity_id.includes('exhaust') || entity_id.includes('abluft')) {\n            dutyCycleExhaust.push(entity);\n        } else if (entity_id.includes('vent')) {\n            vents.push(entity);\n        } else if (entity_id.includes('switch')) {\n            switches.push(entity);\n        } else if (entity_id.includes('power') || entity_id.includes('energy')) {\n            power.push(entity);\n        }\n        // ENVIORMENT\n        else if (entity_id.includes('temperature') || entity_id.includes('tempe')) {\n            temperatures.push(entity);\n        } else if (entity_id.includes('humidity') || entity_id.includes('humid') || entity_id.includes('rh')) {\n            humidity.push(entity);\n        } else if (entity_id.includes('dewpoint') || entity_id.includes('dew')) {\n            dewpoints.push(entity);\n        }\n        // ADDONS\n        else if (entity_id.includes('moisture') || entity_id.includes('mois')) {\n            moisture.push(entity);\n        } else if (entity_id.includes('pressure') || entity_id.includes('press')) {\n            pressures.push(entity);\n        } else if (entity_id.includes('battery') || entity_id.includes('batt')) {\n            battery.push(entity);\n        } else if (entity_id.includes('carbondioxide') || entity_id.includes('co2') || entity_id.includes('carbon')) {\n            co2.push(entity);\n        } else if (entity_id.includes('conductivity')) {\n            conductivity.push(entity);\n        } else if (entity_id.includes('illuminance') || entity_id.includes('light') || entity_id.includes('licht')) {\n            lumen.push(entity);\n        }\n    }\n}\n\n// Nachrichtenausgabe auf verschiedenen Outputs\nreturn [\n    // ENVIORMENT\n    { payload: wish, topic: 'Wish' },\n    { payload: temperatures, topic: 'temperature' },\n    { payload: humidity, topic: 'humidity' },\n    { payload: dewpoints, topic: 'dewpoint' },\n    { payload: moisture, topic: 'moisture' },\n    { payload: root, topic: 'roottemp' },\n    { payload: conductivity, topic: 'conductivity' },\n    { payload: pressures, topic: 'pressure' },\n    { payload: co2, topic: 'carbon_dioxide' },\n    { payload: lumen, topic: 'illuminance' },\n    // DEVICEINFO\n    { payload: battery, topic: 'battery' },\n    { payload: power, topic: 'power' },\n    // DEVICES\n    { payload: switches, topic: 'switch' },\n    { payload: vents, topic: 'Vents' },\n    { payload: dutyCycleExhaust, topic: 'Exhaust' },\n    { payload: humidifier, topic: 'humidifier' },\n    { payload: dehumidifier, topic: 'dehumidifier' }\n\n\n];\n","outputs":17,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":220,"wires":[["2d68c9a779e74e74"],["03c1cf1f055128f4"],["67543176e6275d51"],["e7dd382b1bc9a889"],["6ded9232a772672a"],["be27cdd6685e57bf"],["999e2c68e85ba1ad"],["0ed2c6313c27ba5c"],["9af98dd672d35e6f"],["d43c4fc62cb7ebdd"],["a0dc501fd13e7973"],["5c422b0437f7893a"],["daef70d5a79e39fe"],["da0338216a460080"],["ca3e91a1c3e14f9b"],["2ca002327ef036d1"],["8540a64360eeb2e3"]]},{"id":"1e9219706b3dcb52","type":"link out","z":"d28a10efe1bd691a","name":"Humidifier","mode":"link","links":[],"x":575,"y":740,"wires":[]},{"id":"c09b3a5e8f2acead","type":"link out","z":"d28a10efe1bd691a","name":"Dehumidifier","mode":"link","links":[],"x":575,"y":780,"wires":[]},{"id":"3580666ca566a1b2","type":"link out","z":"d28a10efe1bd691a","name":"Vents","mode":"link","links":[],"x":575,"y":660,"wires":[]}]